<!--admin/auth/login.html-->
<style>
html {
    background: url('img/bg.jpg');
    height: 100%;
}
</style>
<div class="container w-xxl w-auto-xs" ng-controller="LoginController">
    <a href class="navbar-brand block m-t login-title">
        <!-- {{app.name}} -->
    </a>
    <div class="m-b-lg m-b-pd">
        <!-- <div class="wrapper text-center">
  <strong>Sign in to get in touch</strong>
</div> -->
        <form name="form" class="form-validation">
            <div class="list-group list-group-sm">
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="radio">
                        <label class="i-checks">
                            <input type="radio" name="studentObjective" value="0" ng-model="user.type">
                            <i></i>教学
                        </label>
                        <label class="i-checks">
                            <input type="radio" name="studentObjective" value="1" ng-model="user.type">
                            <i></i>教学质量监控
                        </label>
                    </div>
                </div>
                <div class="list-group-item m-b-lg">
                    <label for="">用户名:</label>
                    <input style="margin-left:60px;width:230px" type="text" placeholder="username" class="login-txt form-control no-border" ng-init="user.username='liushishi'" ng-model="user.username" required>
                </div>
                <div class="list-group-item m-b-lg">
                    <label for="">密&nbsp;&nbsp;码:</label>
                    <input style="margin-left:60px;width:230px" type="password" placeholder="password" class="login-txt form-control no-border" ng-init="user.password='123'" ng-model="user.password" required>
                </div>
            </div>
            <button type="submit" class="btn btn-lg loginBtn btn-block" ng-click="login()" ng-disabled='form.$invalid'>登录</button>
            <div class="line line-dashed"></div>
            <div class="text-danger wrapper text-center" ng-show="authError">
                {{authError}}
            </div>
        </form>
    </div>
</div>
<div class="wrapper text-center footer-bottom">
    <p><span>地址：北京市西城区北三环中路23号燕莎盛世大厦8层</span>
        <span>电话：010-57252876&nbsp;&nbsp;&nbsp;&nbsp;5725870</span>
        <span>邮箱：guorentuoshenhr@163.com</span></p>
    <p>Copyright©2015 Tencent All Rights Reserved.</p>
    <p>北京市易教空间教育科技股份有限公司 版权所有丨服务协议</p>
</div>
