<div class="modal-header">
    <h3 class="modal-title">短板确认</h3>
</div>
<div class="modal-body">
    <div>
        <label class="col-sm-2 control-label">短板学科:</label>
        <div class="col-sm-4">
            <select name="account" class="form-control">
                <option>语文</option>
                <option>英语</option>
            </select>
        </div>
    </div>
   <ul>
        <li ng-repeat="item in items">
            <a ng-click="selected.item = item">{{ classes[0].city }}</a>
            <!-- <label class="col-sm-1 control-label">中心:</label>
            	        <div class="col-sm-4">
            	            <select name="account" class="form-control">
            	                <option></option>
            	                <option></option>
            	            </select>
            	        </div> -->
        </li>
    </ul>
    Selected: <b>{{ selected.item }}</b>
</div>
<div class="modal-footer">                  
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>