/*login.html*/
.login-title{
	background:url(../img/images/login-title.png) no-repeat;
	height:94px;width:350px;
	margin:70px auto;
}
.loginBtn{
	background:#74cb64;
	border-radius:25px;
	color:#fff;
}
.list-group-item label{
	color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 44px;
    width: 80px;
    text-align: center;
}
.login-txt{
	background:#21232e;
}
.footer-bottom{
	width:100%;
	padding:50px 0;
	background:#fff;
	position: absolute;
	bottom:0;left:0;
	border-top:1px solid #ff6666;
}
/*index.html*/
.panel-head{
	height:72px;
	border-bottom:1px solid #74cb64;
	background:#fff;
	margin-top:-50px;
}
.panel-head .logo{
	line-height:72px;
	font-size:28px;
}
.index-bg{
	background:url(../img/images/login_bg.png) repeat;
	border-radius:8px;
	margin:200px auto 0;
	padding-bottom:40px;
}
.index-nav .index-nav-menu:after{
	display:block; content:"clear"; height:0; clear:both; overflow:hidden; visibility:hidden;
}
.index-nav .index-nav-menu li{
	list-style:none;
	background:url(../img/nav-menu.png) no-repeat;
	width:120px;
	height:120px;
	margin:70px;
	float:left;
}
.index-nav .index-nav-menu li#menu_1{
	background-position: 0 0;
}
.index-nav .index-nav-menu li#menu_2{
	background-position: 0 -130px;
}
.index-nav .index-nav-menu li#menu_3{
	background-position: 0 -260px;
}
.index-nav .index-nav-menu li#menu_4{
	background-position: 0 -390px;
}
.index-nav .index-nav-menu li span{
	display:inline-block;
	margin-top:120px;
	line-height:60px;
	text-align: center;
	width:100%;
}
.index-nav .index-nav-menu li > a{
	color:#fff;
	font-size:18px;
}
/*教学管理*/
.Knowledge a{
	border:1px solid #ddd;
	margin:10px;
	padding:8px 16px;
	border-radius:4px;
}
.survey-knowledge{
	margin:20px 0;
}
.ng-isolate-scope a{border-bottom:none;}
.nav-tabs li.active a{
  /* color:#1797be; */
}

.checkDate > ul > li{margin-top:10px;}
.checkDate  span:first-child{
	width:100px;
	display:inline-block;
}
.checkDate .btnSelect{
	border-radius:4px;
	line-height:30px;
	display:inline-block;
	padding:0 14px;margin-right:10px;
}
.checkDate .active .btnSelect{
	background:#ccebff;
	color:#fff;
}
.total-score p:first-child{border-right:1px solid #ccc;}
.total-score span{display:block;font-size:18px;line-height:30px;text-align:right;
}
.total-score p:last-child{font-size:34px;line-height:90px;}

.examLayer{
	position: absolute;
	right:10px;
	top:100px;
	background:#fff;
	border:1px solid #ccc;
	padding:15px;
	border-radius:4px;
}
.examLayer a{
	border:1px solid #ccc;
	border-radius:4px;
	width:30px;line-height:30px;
	display:inline-block;
	text-align: center;
	margin:0 10px;
}