<div class="wrapper-md" ng-controller="answerQuestionsController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>教师操作 &gt; 1对1老师操作页面 &gt; {{name}} </h4>
        </div>
        <div class="wrapper">
            <h4><span>我的学生</span><span>中心1班</span>|<span>一本线上30分</span></h4>
            <div class="table-responsive">
                <table class="table table-striped b-t b-light">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>地区</th>
                            <th>学生名称</th>
                            <th>用户名</th>
                            <th>答疑时间</th>
                            <th>问题描述</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>北京</td>
                            <td>XXX</td>
                            <td>ggdgf</td>
                            <td>18:00-19:00</td>
                            <td>法国发过法国大使馆收到贵司的</td>
                            <td>
                                <button class="btn btn-primary" ng-click="answerQuestions()">答疑</button>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>北京</td>
                            <td>XXX</td>
                            <td>ggdgf</td>
                            <td>18:00-19:00</td>
                            <td>法国发过法国大使馆收到贵司的</td>
                            <td>
                                <button class="btn btn-primary" ng-click="answerQuestions()">答疑</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>