<div class="wrapper-md" ng-controller="autonmousPushResourcesController">
    <style>
        .knowledgeTree li.mutiple >a{
            color: #fff !important;
            background-color: #23b7e5;
        }
    </style>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>教师操作 &gt; 1对1老师操作页面 &gt; {{name}} </h4>
        </div>
        <div class="wrapper">
            <!--select start-->
            <form class="form-horizontal" ng-init="load()">
                <!--包含公共筛选条件 start-->
                <div ng-include="'admin/common/tpl/filter.html'"></div>
                <!--包含公共筛选条件 end-->
                <button class="pull-right btn btn-primary" ng-click="getKnowledgeList()"><span class="p-d">查询</span></button>
            </form>
            <!-- select close -->
            <div class="knowledgeTree">
                <div class="modal-header">
                    <h3 class="modal-title">知识点选择</h3>
                </div>
                <div class="modal-body">
                    <span ng-if="doing_async">...loading...</span>

                    <treecontrol class="tree-classic" tree-model="my_data" selected-nodes="selectedNodes" on-selection="showSelected(node, selected)" options="treeOptions">
                        label: {{node.knowledgeName}}
                    </treecontrol>

                </div>
            </div>
            <div class="resource-list">
                <button class="btn btn-primary btn-margin" ng-click="chooseStudents()">选择学生</button>
                <button class="btn btn-primary btn-margin" ng-click="chooseStudents()">查询</button>
                <div id="tabs">
                    <ul>
                        <li ng-repeat="tab in tabs" ng-class="{active:isActiveTab(tab.url)}" ng-click="onClickTab(tab)">{{tab.title}}</li>
                    </ul>
                    <div id="mainView">
                        <div ng-include="currentTab"></div>
                    </div>
                </div>

                <script type="text/ng-template" id="video.tpl.html">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>视频</th>
                                <th>url</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="v in videos">
                                <td>{{v.videoName}}</td>
                                <td>{{v.videoUrl}}</td>
                            </tr>
                            </tbody>
                            <tfoot>
                           <!-- <tr>
                                <td colspan="2" class="text-center">
                                    &lt;!&ndash; 指令调用代码 &ndash;&gt;
                                  <ul class="pagination">
                                      <li ng-repeat="p in pagination" class="{{p.className}}">
                                          <a ng-click="getList({{p.page}},'{{p.className}}{{p.edge==null?'':'e'}}')">{{p.name}}</a>
                                      </li>
                                  </ul>
                                    &lt;!&ndash; 指令模板[pagination.html] &ndash;&gt;
                                </td>
                            </tr>-->
                            </tfoot>

                        </table>
                    </div>
                </script>
                <script type="text/ng-template" id="paper.tpl.html">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr >
                                <th>试卷名</th>
                                <th>url</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="v in papers">
                                <td>{{v.videoName}}</td>
                                <td>{{v.videoUrl}}</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="2" class="text-center">
                                    <!-- 指令调用代码 -->
                                    <ul class="pagination">
                                        <li ng-repeat="p in pagination" class="{{p.className}}">
                                            <a ng-click="getList({{p.page}},'{{p.className}}{{p.edge==null?'':'e'}}')">{{p.name}}</a>
                                        </li>
                                    </ul>
                                    <!-- 指令模板[pagination.html] -->
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </script>
            </div>
            <div class="student-list" ng-show="studentsShow">
                <h4>1对1学生</h4>
                <ul>
                    <li><label class="i-checks" ><input type="checkbox" ng-modal="student"><i></i>学生1</label></li>
                    <li><label class="i-checks" ><input type="checkbox" ng-modal="student"><i></i>学生2</label></li>
                    <li><label class="i-checks" ><input type="checkbox" ng-modal="student"><i></i>学生3</label></li>
                    <li><label class="i-checks" ><input type="checkbox" ng-modal="student"><i></i>学生4</label></li>
                    <li><label class="i-checks" ><input type="checkbox" ng-modal="student"><i></i>学生5</label></li>
                    <li><label class="i-checks" ><input type="checkbox" ng-modal="student"><i></i>学生6</label></li>
                    <li><label class="i-checks" ><input type="checkbox" ng-modal="student"><i></i>学生7</label></li>
                </ul>
                <h4>已选：20人</h4>
                <button class="btn btn-primary">推送资源</button>
            </div>
        </div>
    </div>
</div>