<div ng-hide="loading">
    <div class="modal-header">
        <div style="font-style: italic;">还没对接口</div>
        <a ng-click="enterRoom()" class="btn btn-primary">进入课堂</a>

        <div>没有安装客户端？<a href="{{downloadClient}}" target="_blank">下载客户端</a>。</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="cancel()">关闭</button>
    </div>
</div>
<div class="modal-header">
    <div ng-show="loading">
        {{loadingMsg}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="cancel()">关闭</button>
    </div>
</div>