<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="wrapper">
            <div class="modal-header">
                <h3 class="modal-title">知识点</h3>
            </div>
            <div class="modal-body">
              <span ng-if="doing_async">...loading...</span>
                <!--<abn-tree-->
                        <!--tree-data         = "my_data"-->
                        <!--tree-control      = "my_tree"-->
                        <!--on-select         = "my_tree_handler(branch)"-->
                        <!--expand-level      = "2"-->
                        <!--initial-selection = "Granny Smith"-->
                        <!--icon-leaf         = "fa fa-file-o"-->
                        <!--icon-expand       = "fa fa-plus"-->
                        <!--icon-collapse     = "fa fa-minus"-->
                <!--&gt;-->
                <!--</abn-tree>-->
                <treecontrol class="tree-classic" tree-model="my_data" selected-nodes="selectedNodes" options="videoTreeOptions">
                    {{node.knowledgeName}}
                </treecontrol>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
                <button class="btn btn-primary" ng-click="ok()">OK</button>
            </div>
           <!-- <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>-->
        </div>
    </div>
</div>