<div class="wrapper-md ng-scope" ng-controller="oneToOneAdjustCourseController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>教师操作 &gt; 1对1老师操作页面 &gt; {{name}} </h4>
        </div>
        <div class="wrapper">
            <div class="table-responsive">
                <div class="form-group">
                    <label class="control-label">学科:</label>数学
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>序号</td>
                            <td>学生名称</td>
                            <td>用户名</td>
                           <!-- <td>总成绩</td>
                            <td>数学</td>
                            <td>1对1排课</td>-->
                            <td>操作</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="student in studentList">
                            <td>{{$index+1}}</td>
                            <td>{{student.name}}</td>
                            <td>{{student.userName}}</td>
                            <!--<td>{{student}}</td>
                            <td>{{student}}</td>-->
                            <td><button class="btn btn-primary" ng-click="studentSchedule(student.code)">课表</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>