<div class="wrapper-md" ng-controller="paperCheckedControllerDR" >
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>教师操作 &gt; 1对1老师操作页面 &gt; {{name}} </h4>
        </div>
        <div class="wrapper">
            <div class="table-responsive">
                <h4>
                    <span>需判试卷：100份</span><span>监考人数：80人</span><span>已判卷：85份</span><span>未判卷：15份</span>
                </h4>
                <table class="table .table-condensed b-t b-light">
                   <thead>
                        <th>序号</th>
                        <th>来源</th>
                        <!--<th>手机号</th>-->
                        <!--<th>姓名</th>-->
                        <th>学科</th>
                        <th>考试时间</th>
                        <th>试卷</th>
                        <th>客观题得分</th>
                        <th>主观题得分</th>
                        <th>总得分</th>
                        <th>状态</th>
                        <th>操作</th>
                   </thead>
                    <tbody>
                        <!-- ng-repeat="data in data.results"-->
                        <tr  ng-repeat="data in list" class="sub-science-tr">
                            <td>{{$index+1}}</td>
                            <td>
                            	<span ng-if="data.markRound==1">
									一判
                            	</span>
                            	<span ng-if="data.markRound==2">
									二判
                            	</span>
                            </td>
                            <td>{{data.subjectCode}}</td>
                            <td>{{data.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td><button class="btn btn-primary" ng-click="GetPaperDetail({paperCode:data.diagnosisPaperCode})">详情</button></td>
                            <td>{{data.impersonalityScore}}分</td>
                            <td>
                            	<span ng-if="data.markRound==1">
                            		{{data.subjectivityOneScore}}分
                            	</span>
                            	<span ng-if="data.markRound==2">
                            		{{data.subjectivityTwoScore}}分
                            	</span>
                            </td>
                            <td>{{data.diagnosisScore}}分</td>
                            <td>{{data.paperStatus}}</td>
                            <td><button class="btn btn-primary" ng-click="paperChecked(data)">判卷</button></td>
                        </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="10" class="text-center">
                            <!-- 指令调用代码 -->
                            <xl-page size="10" method="getList" class="text-center"></xl-page>
                            <!-- 指令模板[pagination.html] -->
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>