<div class="wrapper-md" ng-controller="stageExamsController">
    <div class="panel panel-default" ng-init="getList()">
        <div class="panel-heading">
            <h4>教师操作 &gt; 1对1老师操作页面 &gt; 学生考试 &gt; {{name}} </h4>
        </div>
        <div class="wrapper">
            <div class="table-responsive">
                <div class="form-group text-right ">
                    <span>需判试卷：100份</span><span>监考人数：80人</span><span>已判卷：85份</span><span>未判卷：15份</span>
                </div>
                <table class="table table-condensed b-t b-light">
                   <thead>
                   	
                        <th>序号</th>
                        <th>姓名</th>
                        <th>学科</th>
                        <th>考试时间</th>
                        <th>试卷</th>
                        <th>主观题得分</th>
                        <th>客观题得分</th>
                        <th>总得分</th>
                        <th>状态</th>
                        <th>阶段</th>
                        <th>操作</th>
                   </thead>
                    <tbody>
                        <!-- ng-repeat="data in data.results"-->
                        <tr ng-repeat="data in results">
                            <td>{{$index+1}}</td>
                            <td>{{data.studentName}}</td>
                            <td>{{data.subjectCode}}</td>
                            <td>{{data.examTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td><button class="btn btn-primary" ng-click="paperDetail()">详情</button></td>
                            <td>{{data.subjectiveScore}}</td>
                            <td>{{data.objectiveScore}}</td>
                            <td>{{data.diagnosisScore}}</td>
                             <td>{{data.diagnosisRecordStatus}}</td>
                            <td>{{data.stage}}</td>
                            <td><button class="btn btn-primary" ng-click="paperChecked(data)">判卷</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>