<div class="wrapper-md" ng-controller="studentExamsController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>教师操作 &gt; 1对1老师操作页面 &gt; {{name}} </h4>
        </div>
        <div class="wrapper">
            <div class="form-group">
                <h3>负责监考的教师：XXXXX</h3>
            </div>
            <div class="form-group">
                学年：高考
            </div>
            <div class="form-group">
                <label class="control-label">属性：</label>
                <label class="i-checks">
                    <input type="radio" name="attribute" id="arts" value="option1" checked><i></i> 艺术类
                </label>
                <label class="i-checks">
                    <input type="radio" name="attribute" id="unified" value="option1" checked><i></i> 统考
                </label>
            </div>
            <div class="form-group">
                <label class="control-label">科类：</label>
                <label class="i-checks">
                    <input type="radio" name="subject" id="art" value="option1" checked><i></i> 文科
                </label>
                <label class="i-checks">
                    <input type="radio" name="subject" id="science" value="option2"><i></i>理科
                </label>
            </div>
            <div class="form-group">
                <label class="control-label">诊断类型：</label>
                <label class="i-checks">
                    <input type="radio" name="unify" id="unify" value="option1" checked><i></i> 全科
                </label>
                <label class="i-checks">
                    <input type="radio" name="unify" id="unify2" value="option2"><i></i> 单科
                </label>
            </div>
            <div class="form-group">
                <label class="control-label">学科：</label>
                <label class="i-checks">
                    <input type="radio" name="subject" id="subject1" value="option2"><i></i> 语文
                </label>
                <label class="i-checks">
                    <input type="radio" name="subject" id="subject2" value="option2"><i></i> 数学
                </label>
                <label class="i-checks">
                    <input type="radio" name="subject" id="subject3" value="option2"><i></i> 英语
                </label>
                <label class="i-checks">
                    <input type="radio" name="subject" id="subject4" value="option2"><i></i> 物理
                </label>
                <label class="i-checks">
                    <input type="radio" name="subject" id="subject5" value="option2"><i></i> 化学
                </label>
                <label class="i-checks">
                    <input type="radio" name="subject" id="subject6" value="option2"><i></i> 生物
                </label>
                <label class="i-checks">
                    <input type="radio" name="subject" id="subject7" value="option2"><i></i> 历史
                </label>
                <label class="i-checks">
                    <input type="radio" name="subject" id="subject8" value="option2"><i></i> 地理
                </label>
                <label class="i-checks">
                    <input type="radio" name="subject" id="subject9" value="option2"><i></i> 政治
                </label>
            </div>
            <div class="form-group">
                <label class="control-label">教材：</label>
                <label class="i-checks">
                    <input type="radio" name="book" id="book1" value="option2"><i></i> 全国卷一
                </label>
                <label class="i-checks">
                    <input type="radio" name="book" id="book2" value="option2"><i></i> 全国卷二
                </label>
                <label class="i-checks">
                    <input type="radio" name="book" id="book3" value="option2"><i></i> 全国卷三
                </label>
                <label class="i-checks">
                    <input type="radio" name="book" id="book4" value="option2"><i></i> 自主命题
                </label>
            </div>
            <!--ng-if="data.total_count>0"-->
            <div class="table-responsive" >
                <table class="table .table-condensed b-t b-light">
                    <tbody>
                    <tr>
                        <td>诊断卷名称A卷</td>
                        <td>
                            <label class="i-checks">
                                <input type="radio" name="book" value="option2"><i></i>选取
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>诊断卷名称B卷</td>
                        <td>
                            <label class="i-checks">
                                <input type="radio" name="book"  value="option2"><i></i>选取
                            </label>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <button class="btn m-b-xs w-xs btn-primary pull-right" ng-click="choiceTestPaper()">确定</button>
            </div>
        </div>
    </div>
</div>