<div class="wrapper-md" ng-controller="ListController">
    <div class="panel panel-default">
        <div class="wrapper">
            <div class="btn-div">
               <button class="btn btn-primary">创建诊断</button>
            </div>
            <div class="form-group">
                负责监考的教师：XXXXX
            </div>
            <div class="form-group">
                学年：高考
            </div>
            <div class="form-group">
                属性：艺术类
            </div>
            <div class="form-group">
                <label class="control-label">诊断类型：</label>
                <label class="checkbox-inline">
                    <input type="radio" name="type" id="type1" value="option1" checked> 单科
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="type" id="type2" value="option2"> 全科
                </label>
            </div>
            <div class="form-group">
                <label class="control-label">学科：</label>
                <label class="checkbox-inline">
                    <input type="radio" name="subject" id="subject1" value="option2"> 语文
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="subject" id="subject2" value="option2"> 数学
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="subject" id="subject3" value="option2"> 英语
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="subject" id="subject4" value="option2"> 物理
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="subject" id="subject5" value="option2"> 化学
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="subject" id="subject6" value="option2"> 生物
                </label>
            </div>
            <div class="form-group">
                <label class="control-label">教材：</label>
                <label class="checkbox-inline">
                    <input type="radio" name="book" id="book1" value="option2"> 自主命题江苏卷
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="book" id="book2" value="option2"> 自主命题上海卷（理科）
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="book" id="book3" value="option2"> 自主命题北京卷（理科）
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="book" id="book4" value="option2"> 自主命题天津卷（理科）
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="book" id="book5" value="option2"> 新课标Ⅰ、Ⅱ卷（理科）
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="book" id="book6" value="option2"> 自主命题浙江卷（理科）
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="book" id="book7" value="option2"> 新课标Ⅰ、Ⅱ卷（理科）
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="book" id="book8" value="option2"> 自主命题浙江卷（理科）
                </label>
            </div>

            <div class="table-responsive" ng-if="data.total_count>0">
                <table class="table .table-condensed b-t b-light">
                    <tbody>
                    <!-- ng-repeat="data in data.results"-->
                    <tr>
                        <td>诊断卷名称A卷</td>
                        <td>
                            <label class="checkbox-inline">
                                <input type="radio" name="book" value="option2">选取
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>诊断卷名称B卷</td>
                        <td>
                            <label class="checkbox-inline">
                                <input type="radio" name="book"  value="option2">选取
                            </label>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <button class="btn m-b-xs w-xs btn-primary pull-right" ng-click="save()">确定</button>
            </div>
        </div>

    </div>
</div>