<div class="wrapper-md ng-scope" ng-controller="addBranchSchoolController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>权限管理  &gt; {{name}} </h4>
        </div>
        <div class="wrapper">
            <div class="col-sm-12 form-group">
                <label class="col-sm-1 control-label">总校名称:</label>
                <div class="col-sm-11 m-b">
                    <select name="masterSchoolName" class="form-control m-b" ng-model="masterSchoolName">
                        <option value="0">理工</option>
                        <option value="1">文科</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12 form-group">
                <label class="col-sm-1 control-label">总校编号:</label>
                <label class="col-sm-11 control-label">12131312</label>
            </div>
            <div class="col-sm-12 form-group">
                <label class="col-sm-1 control-label">总校校长:</label>
                <label class="col-sm-11 control-label">张校长</label>
            </div>
            <div class="col-sm-12 form-group">
                <label class="col-sm-1 control-label">副校长:</label>
                <label class="col-sm-11 m-b">王校长</label>
            </div>
            <div class="col-sm-12 form-group">
                <label class="col-sm-1 control-label">分校名称:</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control m-b" placeholder="请输入分校名称" ng-model="branchSchoolName">
                </div>
            </div>
            <div class="col-sm-12 form-group">
                <label class="col-sm-1 control-label">分校编号:</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control m-b" placeholder="请输入分校编号">
                </div>
            </div>
            <div class="col-sm-12 form-group">
                <label class="col-sm-1 control-label">分校校长:</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control m-b" placeholder="请输入分校校长">
                </div>
            </div>
            <div class="col-sm-12 form-group">
                <label class="col-sm-1 control-label">分校副校长:</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control m-b" placeholder="请输入辅校长">
                </div>
            </div>
            <button class="btn btn-primary col-sm-1 col-sm-push-8">保存</button>
        </div>
    </div>
</div>