<div class="wrapper-md ng-scope" ng-controller="addBranchSchoolController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>权限管理  &gt; {{name}} </h4>
        </div>
        <div class="wrapper">
            <div class="col-sm-12 form-group">
                <label class="col-sm-1 control-label">总校名称:</label>
                <div class="col-sm-11">
                    <select name="masterSchoolName" class="form-control m-b" ng-model="masterSchoolName">
                        <option value="0">理工</option>
                        <option value="1">文科</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12 form-group">
                <label class="col-sm-1 control-label">总校编号:</label>
                <label class="col-sm-11 control-label">12131312</label>
            </div>
            <div class="col-sm-12 form-group">
                <label class="col-sm-1 control-label">总校校长:</label>
                <label class="col-sm-11 control-label">张校长</label>
            </div>
            <div class="col-sm-12 form-group">
                <label class="col-sm-1 control-label">副校长:</label>
                <label class="col-sm-11 m-b">王校长</label>
            </div>
            <div class="col-sm-12 form-group">
                <label class="col-sm-1 control-label">省:</label>
                <div class="col-sm-11">
                    <select class="form-control m-b">
                        <option value="0">黑龙江</option>
                        <option value="1">河北</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12 form-group">
                <label class="col-sm-1 control-label">市:</label>
                <div class="col-sm-11">
                    <select class="form-control m-b">
                        <option value="0">北京</option>
                        <option value="1">天津</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12 form-group">
                <label class="col-sm-1 control-label">区:</label>
                <div class="col-sm-11">
                    <select class="form-control m-b">
                        <option value="0">东城</option>
                        <option value="1">昌平</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12 form-group">
                <label class="col-sm-1 control-label">分校名称:</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control m-b" placeholder="请输入分校名称" ng-model="branchSchoolName">
                </div>
            </div>
            <div class="col-sm-12 form-group">
                <label class="col-sm-1 control-label">分校编号:</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control m-b" placeholder="请输入分校编号">
                </div>
            </div>
            <div class="col-sm-12 form-group">
                <label class="col-sm-1 control-label">分校校长:</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control m-b" placeholder="请输入员工号查询" ng-model="headmaster">
                    <div class="form-group">
                        <span class="form-inline">张老师</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 form-group">
                <label class="col-sm-1 control-label">分校副校长:</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control m-b" placeholder="请输入员工号查询" ng-model="headmaster">
                    <div class="form-group">
                        <span class="form-inline">张老师</span>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary pull-right">保存</button>
        </div>
    </div>
</div>