<div class="wrapper-md ng-scope" ng-controller="addStudyGroupController" ng-init="initMasterSchool()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>权限管理&gt; {{name}} </h4>
        </div>
        <div class="wrapper">
            <div class="form-group col-sm-12">
                <label class="col-sm-1 control-label">总校：</label>
                <div class="col-sm-2">
                    <select ng-model="masterSchool" class="form-control" ng-options="m.name for m in masterSchoolList" ng-click="getBranchSchoolList(masterSchool.code)">
                        <option value="">--请选择--</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-1 control-label">分校：</label>
                <div class="col-sm-2">
                    <select ng-model="branchSchool" class="form-control" ng-options="b.name for b in branchSchoolList" ng-click="getDistrictSchoolList(branchSchool.code)">
                        <option value="">--请选择--</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-1 control-label">学区：</label>
                <div class="col-sm-2">
                    <select ng-model="districtSchool" class="form-control" ng-options="d.name for d in districtSchoolList" ng-click="getDepartmentSchoolList(districtSchool.code)">
                        <option value="">--请选择--</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-1 control-label">学部：</label>
                <div class="col-sm-2">
                    <select ng-model="departmentSchool" class="form-control" ng-options="d.name for d in departmentSchoolList" ng-click="getCentreSchoolList(departmentSchool.code)">
                        <option value="">--请选择--</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-1 control-label">中心：</label>
                <div class="col-sm-2">
                    <select ng-model="centreOfSchool" class="form-control" ng-options="c.name for c in centreOfSchoolList" ng-click="getClassAndGrade(centreOfSchool.code)">
                        <option value="">--请选择--</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-1 control-label">班级：</label>
                <div class="col-sm-2">
                    <select ng-model="studyGroup.classAndGrade" class="form-control" ng-options="c.code as c.name for c in classAndGradeList" ng-click="getStudents(studyGroup.classAndGrade)">
                        <option value="">--请选择--</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-1 control-label">小组名称：</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" placeholder="请输入小组名称" ng-model="studyGroup.name">
                </div>
            </div>
            <button class="btn btn-primary pull-right" ng-click="saveStudyGroup()">创建小组</button>
            <div class="groupLeader" ng-if="studentsStatus">
                <div class="table-responsive">
                    <table class="table table-striped  b-t b-light">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>用户名</th>
                            <th>姓名</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="student in list">
                            <td>{{$index+1}}</td>
                            <td>{{student.userName}}</td>
                            <td>{{student.name}}</td>
                            <td>
                                <label class="i-checks">
                                <input type="checkbox"  id={{student.code}} name="{{student.name}}" ng-checked="isSelected(student.code)" ng-click="updateSelection($event,student.code)"><i></i>选择</label>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-primary pull-right" ng-click="addStudentIntoGroup()">添加学生</button>
            </div>
        </div>
    </div>
</div>