<div class="wrapper-md ng-scope" ng-controller="centreOfSchoolDetailController" ng-init="load()">
    <div class="panel panel-default" >
        <div class="panel-heading">
            <h4>权限管理  &gt; {{name}}

                <button class="pull-right btn btn-primary"  ui-sref="app.authorityManage.centerOfSchool()" ><span class="p-d">返回</span></button>

            </h4>
        </div>
        <div class="wrapper">
            <div class="form-group"><!--<label class="i-checks" ng-repeat="(key, val) in category track by $index">-->
                <input type="radio" name="subjectCode" ng-value='val.subjectCode' ng-model="formData.subjectCode" ng-click="getSubjectName(val.subjectName)"><i></i>{{val.subjectName}}
            </label>
                <label class="col-sm-1 control-label">学部名称:</label>
                <label class="col-sm-11 control-label">{{authSchoolDivisionModelName}}</label>
            </div>
<!--            <div class="form-group">
                <label class="col-sm-1 control-label">类型:</label>
                <label class="col-sm-11 control-label">{{}}</label>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">学部负责人:</label>
                <label class="col-sm-11 control-label">{{}}</label>
            </div>-->
            <div class="form-group">
                <label class="col-sm-1 control-label">中心名称:</label>
                <label class="col-sm-11 control-label">{{name}}</label>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">中心负责人:</label>
                <label class="col-sm-11 control-label">{{personCharge}}</label>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label">保分级别:</label>
                <label class="col-sm-11 control-label">{{goalType}}</label>
            </div>
            <div class="groupLeader">
                <div class="form-group">
                    <label class="col-sm-1 control-label">组长:</label>
                    <label class="col-sm-11 control-label" ng-repeat="data in centerLeaders">
                        <span class="form-inline">{{data.name}}</span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">语文老师:</label>
                <label class="col-sm-11 control-label"  ng-repeat="data in chineseTeachers">
                    <span class="form-inline">{{data.name}}</span>
                </label>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">数学老师:</label>
                <label class="col-sm-11 control-label"  ng-repeat="data in mathTeachers">
                    <span class="form-inline">{{data.name}}</span>
                </label>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">英语老师:</label>
                <label class="col-sm-11 control-label"  ng-repeat="data in englishTeachers">
                    <span class="form-inline">{{data.name}}</span>
                </label>
            </div>
            <div class="artsAndScience-0" style="display: none;">
                <div class="form-group">
                    <label class="col-sm-1 control-label">物理老师:</label>
                    <label class="col-sm-11 control-label"  ng-repeat="data in physicsTeachers">
                        <span class="form-inline">{{data.name}}</span>
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">化学老师:</label>
                    <label class="col-sm-11 control-label"  ng-repeat="data in chemistryTeachers">
                        <span class="form-inline">{{data.name}}</span>
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">生物老师:</label>
                    <label class="col-sm-11 control-label"  ng-repeat="data in biologyTeachers">
                        <span class="form-inline">{{data.name}}</span>
                    </label>
                </div>
            </div>
            <div class="artsAndScience-1 " style="display: none;">
                <div class="form-group">
                    <label class="col-sm-1 control-label">政治老师:</label>
                    <label class="col-sm-11 control-label"  ng-repeat="data in politicsTeachers">
                        <span class="form-inline">{{data.name}}</span>
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">历史老师:</label>
                    <label class="col-sm-11 control-label"  ng-repeat="data in historyTeachers">
                        <span class="form-inline">{{data.name}}</span>
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">地理老师:</label>
                    <label class="col-sm-11 control-label"  ng-repeat="data in geographyTeachers">
                        <span class="form-inline">{{data.name}}</span>
                    </label>
                </div>
            </div>

        </div>
    </div>
</div>