<div class="wrapper-md ng-scope" ng-controller="centreOfSchoolController"  ng-init="initMasterSchool()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>权限管理  &gt; {{name}} </h4>
        </div>
        <div class="wrapper">
            <div class="panel-heading ">
            <div class="form-group col-sm-12">
                <label class="col-sm-1 control-label">总校：</label>
                <div class="col-sm-2">
                    <select ng-click="getBranchSchoolList(masterSchool.code)" ng-model="masterSchool" class="form-control" ng-options="m.name for m in masterSchoolList">
                        <option value="">--请选择--</option>
                    </select>
                </div>
            </div>
            <div class="line line-dashed b-b line-lg"></div>
            <div class="form-group col-sm-12">
                <label class="col-sm-1 control-label">分校：</label>
                <div class="col-sm-2">
                    <select ng-click="getDistrictSchoolList(branchSchool.code)" ng-model="branchSchool"  class="form-control" ng-options="b.name for b in branchSchoolList">
                        <option value="">--请选择--</option>
                    </select>
                </div>
            </div>
            <div class="line line-dashed b-b line-lg"></div>
            <div class="form-group col-sm-12">
                <label class="col-sm-1 control-label">学区：</label>
                <div class="col-sm-2">
                    <select ng-model="districtSchool" ng-click="getDepartmentSchoolList(districtSchool.code)"  class="form-control" ng-options="d.name for d in districtSchoolList">
                        <option value="">--请选择--</option>
                    </select>
                </div>
            </div>
            <div class="line line-dashed b-b line-lg"></div>
            <div class="form-group col-sm-12">
                <label class="col-sm-1 control-label">学部：</label>
                <div class="col-sm-2">
                    <select ng-model="departmentSchool" ng-click="getCentreSchoolList(departmentSchool.code)"  class="form-control" ng-options="d.name for d in departmentSchoolList">
                        <option value="">--请选择--</option>
                    </select>
                </div>
            </div>
            <div class="line line-dashed b-b line-lg"></div>
            <div class="form-group col-sm-12">
                <button class="btn btn-primary pull-right" ui-sref="app.authorityManage.addCentreOfSchool()">添加中心</button>
            </div>
            <div class="line line-dashed b-b line-lg"></div>
        </div>
            <div class="table-responsive">
                <table class="table table-striped  b-t b-light">
                    <thead>
                    <tr>
                        <th>序号</th>
<!--                        <th>学部名称</th>
                        <th>类型</th>-->
                        <th>中心名称</th>
                        <th>中心负责人</th>
                        <th>保分级别</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="data in centreOfSchoolList">
                        <td>{{$index+1}}</td>
  <!--                      <td>{{data.departmentName}}</td>
                        <td>{{data.departmentDivisionType}}</td>-->
                        <td>{{data.name}}</td>
                        <td>{{data.personCharge}}</td>
                        <td ng-if = "data.goalType==1">二本</td>
                        <td ng-if = "data.goalType==2">一本</td>
                        <td ng-if = "data.goalType==3"></td>
                        <td>
                            <a class="btn-a" ng-click="viewCenterSchool(data)">查看</a>
                            <a class="btn-a" ng-click="updateVCenterSchool(data)">修改</a>
                            <!--<a ng-click="deleteCentreOfSchool()">删除</a>-->
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>