<div class="wrapper-md ng-scope" ng-controller="largeClassesController" ng-init="initMasterSchool()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>权限管理  &gt;  排课  &gt; {{name}} </h4>
        </div>
        <div class="wrapper">
            <div class="panel-heading ">
                <div class="form-group col-sm-12">
                    <label class="col-sm-1 control-label">总校：</label>
                    <div class="col-sm-2">
                        <select ng-click="getBranchSchoolList(masterSchool.code)" ng-model="masterSchool" class="form-control" ng-options="m.name for m in masterSchoolList">
                            <option value="">--请选择--</option>
                        </select>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg"></div>
                <div class="form-group col-sm-12">
                    <label class="col-sm-1 control-label">分校：</label>
                    <div class="col-sm-2">
                        <select ng-click="getDistrictSchoolList(branchSchool.code)" ng-model="branchSchool"  class="form-control" ng-options="b.name for b in branchSchoolList">
                            <option value="">--请选择--</option>
                        </select>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg"></div>
                <div class="form-group col-sm-12">
                    <label class="col-sm-1 control-label">学区：</label>
                    <div class="col-sm-2">
                        <select ng-model="districtSchool" ng-click="getDepartmentSchoolList(districtSchool.code)"  class="form-control" ng-options="d.name for d in districtSchoolList">
                            <option value="">--请选择--</option>
                        </select>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg"></div>
                <div class="form-group col-sm-12">
                    <label class="col-sm-1 control-label">学部：</label>
                    <div class="col-sm-2">
                        <select ng-model="departmentSchool" ng-click="getCentreSchoolList(departmentSchool.code)"  class="form-control" ng-options="d.name for d in departmentSchoolList">
                            <option value="">--请选择--</option>
                        </select>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg"></div>
                <button class="btn btn-primary btn-margin pull-right" ng-click="largeClassSchedule()">排大班课表</button>
                <div class="line line-dashed b-b line-lg"></div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped  b-t b-light">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>中心名称</th>
                        <th>中心负责人</th>
                        <th>保分级别</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="data in centreOfSchoolList">
                        <td>{{$index+1}}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.centerLeader}}</td>
                        <td>{{data.goalType==0?"一本线上30分":data.goalType==1?"一本":"二本"}}</td>
                        <td>
                            <label class="i-checks"><input type="radio" ng-model="formData.centreOfSchool" value={{data}}><i></i></label>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>