<div class="wrapper-md ng-scope" ng-controller="partTimeTeacherManageController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>权限管理  &gt; 用户管理  &gt; 教师员工管理 &gt; {{name}} </h4>
        </div>
        <div class="wrapper">
            <div class="panel-heading">
                <!--<div class="form-group col-sm-12">
                    <label class="col-sm-1 control-label">地区</label>
                    <div class="col-sm-2">
                        <select class="form-control m-b select-inline">
                            <option value="">高中</option>
                            <option value="">初中</option>
                        </select>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg"></div>
                <div class="form-group col-sm-12">
                    <label class="col-sm-1 control-label">学历</label>
                    <div class="col-sm-2">
                        <select class="form-control m-b select-inline">
                            <option value="">高中</option>
                            <option value="">初中</option>
                        </select>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg"></div>
                <div class="form-group col-sm-12">
                    <label class="col-sm-1 control-label">学科</label>
                    <div class="col-sm-2">
                        <select class="form-control m-b select-inline">
                            <option value="">文科</option>
                            <option value="">理科</option>
                        </select>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg"></div>
                <div class="form-group col-sm-12">
                    <button class="btn btn-primary pull-right" ng-click="seacherByCondition()">查询</button>
                </div>-->
                <div class="line line-dashed b-b line-lg"></div>
                <div class="form-group col-sm-12">
                    <button class="btn btn-primary pull-right" ui-sref="app.authorityManage.addPartTimeTeacher()">添加兼职教师</button>
                </div>
                <div class="line line-dashed b-b line-lg"></div>
            </div>
            <div id="tabs">
                <ul>
                    <li ng-repeat="tab in tabs" ng-class="{active:isActiveTab(tab.url)}" ng-click="onClickTab(tab)">{{tab.title}}</li>
                </ul>
                <div id="mainView">
                    <div ng-include="currentTab"></div>
                </div>
            </div>
            <script type="text/ng-template" id="dimissionTeacher.tpl.html">
                <div class="table-responsive">
                    <table class="table table-striped  b-t b-light">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>用户名</th>
                            <th>姓名</th>
                            <th>学科</th>
                            <th>工号</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="teacher in list">
                            <td>{{$index+1}}</td>
                            <td>{{teacher.userName}}</td>
                            <td>{{teacher.name}}</td>
                            <td>{{teacher.subjectName}}</td>
                            <td>{{teacher.teacherNum}}</td>
                            <td>
                                <a class="btn-a" ng-click="partTimeTeacherDetail(teacher)">详情</a>
                                <!--<a class="btn-a" ui-sref="app.authorityManage.updatePartTimeTeacher()">编辑</a>
                               <a class="btn-a" ng-click="deletePartTimeTeacher()">删除</a>-->
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </script>
            <script type="text/ng-template" id="onJobTeacher.tpl.html">
                <div class="table-responsive">
                    <table class="table table-striped  b-t b-light">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>用户名</th>
                            <th>姓名</th>
                            <th>学科</th>
                            <th>工号</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="teacher in list">
                            <td>{{$index+1}}</td>
                            <td>{{teacher.userName}}</td>
                            <td>{{teacher.name}}</td>
                            <td>{{teacher.subjectName}}</td>
                            <td>{{teacher.teacherNum}}</td>
                            <td>
                                <a class="btn-a" ng-click="partTimeTeacherDetail(teacher)">详情</a>
                                <!--<a class="btn-a" ui-sref="app.authorityManage.updatePartTimeTeacher()">编辑</a>
                                <a class="btn-a" ng-click="deletePartTimeTeacher()">删除</a>-->
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </script>
            <div class="form-group">
                <!-- 指令调用代码 -->
                <xl-page size="10" method="searchPartTimeTeacher" class="text-center"></xl-page>
                <!--指令模板[pagination.html] -->
            </div>
        </div>
    </div>
</div>