<div class="wrapper-md ng-scope" ng-controller="updateBranchSchoolController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>权限管理  &gt; {{titleName}} </h4>
        </div>
        <div class="wrapper">
<!--            <div class="col-sm-12 form-group">
                <label class="col-sm-1 control-label" >总校名称:</label>
                <div class="col-sm-11 control-label" ng-model="formData.schoolMainName">{{schoolMainName}}</div>
            </div>
            <div class="col-sm-12 form-group">
                <label class="col-sm-1 control-label">总校编号:</label>
                <div class="col-sm-11 control-label" ng-model="formData.schoolMainNum">{{schoolMainNum}}</div>
            </div>
            <div class="col-sm-12 form-group">
                <label class="col-sm-1 control-label">总校校长:</label>
                <div class="col-sm-11 control-label" ng-model="formData.province">{{schoolMainPresident}}</div>
            </div>
            <div class="col-sm-12 form-group">
                <label class="col-sm-1 control-label">副校长:</label>
                <div class="col-sm-11 control-label" ng-model="formData.province">{{schoolMainVicePresident}}</div>
            </div>-->
            <div class="col-sm-12 form-group">
                <label class="col-sm-1 control-label">省:</label>
                <div class="col-sm-11">
                    <select class="form-control m-b" ng-model="formData.province" value="{{province}}">
                        <option value="0">北京</option>
                        <option value="1">天津</option>
                    </select>
                </div>
            </div>
            <input type="hidden" class="form-control m-b" ng-model="formData.code" value="{{code}}">

            <div class="col-sm-12 form-group">
                <label class="col-sm-1 control-label">分校名称:</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control m-b" placeholder="请输入分校名称" ng-model="formData.name" value="{{name}}">
                </div>
            </div>
            <div class="col-sm-12 form-group">
                <label class="col-sm-1 control-label">分校编号:</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control m-b" placeholder="请输入分校编号" ng-model="formData.branchNum" value="{{branchNum}}">
                </div>
            </div>
            <div class="col-sm-12 form-group">
                <label class="col-sm-1 control-label">分校校长:</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control m-b" placeholder="请输入员工号查询" ng-model="formData.president" value="{{president}}">
                    <div class="form-group" >
                        <span class="form-inline">张老师</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 form-group">
                <label class="col-sm-1 control-label">分校副校长:</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control m-b" placeholder="请输入员工号查询" ng-model="formData.vicePresident" value="{{vicePresident}}">
                    <div class="form-group">
                        <span class="form-inline">张老师</span>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary col-sm-1 col-sm-push-8" ng-click="updateMasterSchool(formData)">保存</button>
        </div>
    </div>
</div>