<div class="wrapper-md ng-scope" ng-controller="updatePartTimeTeacherController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>权限管理  &gt; {{name}} </h4>
        </div>
        <div class="wrapper">
            <div class="form-group col-sm-12">
                <div class="col-sm-3">
                    <label class="col-sm-4 control-label">用户名：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control m-b" value="XXX">
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="control-label col-sm-4">姓名：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control m-b" value="XXX">
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="control-label col-sm-4">初始密码：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control m-b" value="XXX">
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="control-label col-sm-4">性别：</label>
                    <div class="col-sm-8 control-label">
                        <label class="i-checks "><input type="radio"><i></i>男</label>
                        <label class="i-checks "><input type="radio"><i></i>女</label>
                    </div>
                </div>
            </div>

            <div class="form-group col-sm-12">
                <div class="col-sm-3">
                    <label class="control-label col-sm-4">授课类型：</label>
                    <div class="col-sm-8">
                        <select ng-model ="teachingType" ng-options="m.teachingType as  m.teachingTypeName for m in teachingTypeList" class="form-control m-b select-inline" ng-click="seacherTeachingType()">
                            <option value="">--请选择--</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="control-label col-sm-4">学历：</label>
                    <div class="col-sm-8">
                        <select ng-model ="teacherEducation" ng-options="m.teacherEducation as  m.teacherEducationName for m in teacherEducationList" class="form-control m-b select-inline" ng-click="seacherTeacherEducation()">
                            <option value="">--请选择--</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="control-label col-sm-4">学科：</label>
                    <div ng-options="province for province in provinces" class="col-sm-8">
                        <select name="" class="form-control m-b select-inline">
                            <option value="">1</option>
                            <option value="">2</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="control-label col-sm-4">合作关系：</label>
                    <div class="col-sm-8">
                        <select ng-model ="teacherShip" ng-options="m.teacherShip as  m.teacherShipName for m in teacherShipList" class="form-control m-b select-inline" ng-click="seacherTeacherShip()">
                            <option value="">--请选择--</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-3">
                    <label class="control-label col-sm-4">职称：</label>
                    <div class="col-sm-8">
                        <select ng-model ="teacherPro" ng-options="m.teacherPro as  m.teacherProName for m in teacherProList" class="form-control m-b select-inline" ng-click="seacherTeacherPro()">
                            <option value="">--请选择--</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="control-label col-sm-4">省：</label>
                    <div class="col-sm-8">
                        <select id="province" ng-model="province" ng-options="province for province in provinces" class="form-control m-b select-inline">
                            <option value="">{{province}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="control-label col-sm-4">市：</label>
                    <div class="col-sm-8">
                        <select  id="city" ng-disabled="!cities" ng-model="city" ng-options="city for city in cities" class="form-control m-b select-inline">
                            <option value="">{{city}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="control-label col-sm-4">区：</label>
                    <div class="col-sm-8">
                        <select id="suburb" ng-disabled="!suburbs" ng-model="suburb" ng-options="suburb for suburb in suburbs" class="form-control m-b select-inline">
                            <option value="">{{suburb}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-3">
                    <label class="control-label col-sm-4">教龄：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control m-b" value="XXX">
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="control-label col-sm-4">课时费/小时：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control m-b" value="XXX">
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="control-label col-sm-4">备用电话：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control m-b" value="XXX">
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="control-label col-sm-4">省份证号码：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control m-b" value="XXX">
                    </div>
                </div>

            </div>
            <div class="from-group col-sm-12">
                <div class="col-sm-3">
                    <label class="control-label col-sm-4">联系电话：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control m-b" value="XXX">
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="control-label col-sm-4">邮箱地址：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control m-b" value="XXX">
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="control-label col-sm-2">联系地址：</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control m-b" value="XXX">
                    </div>
                </div>
            </div>
            <div class="spareTime">
                <table class="schedule-table">
                    <tr>
                        <td>星期一</td>
                        <td>星期二</td>
                        <td>星期三</td>
                        <td>星期四</td>
                        <td>星期五</td>
                        <td>星期六</td>
                        <td>星期天</td>
                    </tr>
                    <tr ng-repeat="free in list" tr_code="{{free.time_code}}">
                        <td ng-repeat="course in free.course"  td_code="{{course.day_code}}">{{course.free_time}}</td>
                    </tr>
                </table>
                <button class="btn btn-primary pull-right">保存</button>
            </div>
        </div>
    </div>
</div>