<div class="wrapper-md" ng-controller="DiagShelvesController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>负责监考教师:</h4>
        </div>
        <div class="wrapper">
            <div class="panel-body">
                <div class="panel-select" ng-init="getData()">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">学年：</label>
                        <p class="form-control-static">高考</p>
                        
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" >类型：</label>
                        <select required="" class="input-sm form-control w-sm inline v-middle" ng-model="selectedProvince" ng-options="item.id as item.departmentName for item in filterData">
                            <option value="">请选择类型</option>
                        </select>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">学科：</label>
                        <select class="input-sm form-control w-sm inline v-middle" ng-model="selectedCity" ng-options="item.id as item.subjectName for item in citys">
                            <option value="">请选择学科</option>
                        </select>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-id-1">教材：</label>
                        <select class="input-sm form-control w-sm inline v-middle" ng-model="selectedDstrict" ng-options="item.id as item.name for item in districts">
                            <option value="">请选择教材</option>
                        </select>
                        <button type="submit" class="btn btn-primary pull-right" ng-click="getList()">查&nbsp;询</button>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                </div>
                <!-- <form class="form-horizontal">
                    
                </form> -->
            </div>
            <div class="panel-container">
                <div class="table-responsive">
                    <table class="table table-striped m-b-none">
                        <thead>
                            <tr>
                                <th style="width:10%">序号</th>
                                <th style="width:25%">学科</th>
                                <th style="width:25%">创建时间</th>
                                <th style="width:15%">创建人</th>
                                <th style="width:15%">封面</th>
                                <th style="width:15%">状态</th>
                                <th style="width:15%">操作</th>
                                <th style="width:10%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in results.content">
                                <td>{{$index+1}}</td>
                                <td>{{data.subjectCode}}</td>
                                <td>{{data.createTime }}</td>
                                <td>{{data.operator }}</td>
                                <td>
                                    <!-- <img src="{{data.diagnosisImgUrl}}" width="200" height="100" /> --></td>
                                <td>{{data.diagnosisExplanation}}</td>
                                <td>
                                    <!--  ui-sref="app.teachManage.detail({id:data.id})" -->
                                    <button type="button" class="btn btn-primary" ng-click="PapersDetail({})">详&nbsp;情</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary" ui-sref="app.teachManage.allot({id:data.id})">分配监考人</button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="8" class="text-center">
                                    <!-- 指令调用代码 -->
                                    <xl-page size="2" method="load" class="text-center"></xl-page>
                                    <!-- 指令模板[pagination.html] -->
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
