<div class="wrapper-md" ng-controller="DiagShelvesController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>教学管理 &gt; 由诊断试卷置为诊断商品<span class="pull-right">负责监考教师:</span></h4>
        </div>
        <div class="wrapper">

        
            <div class="panel-body">
               <!-- <form class="form-horizontal"  ng-init="load()">
                    包含公共筛选条件 start
                    <div ng-include="'admin/common/tpl/filter.html'"></div>
                    包含公共筛选条件 end
                    <div class="form-group">
                        <label class="col-sm-2 control-label">试卷用途：</label>
                        <div class="radio">
                            <label class="i-checks" ng-repeat="(key, val) in paperUseType track by $index">
                                <input type="radio" name="paperUseType" ng-value='{{val.paperUseType}}' ng-model="formData.paperUseType"><i></i>{{val.paperUseName}}
                            </label>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg"></div>
                    <button class="pull-right btn btn-primary" ng-click="getList()"><span class="p-d">查询</span></button>
                </form> -->
                  <form class="form-horizontal " ng-init="load()">
                    <!--包含公共筛选条件 start-->
                    <!-- <div  ng-include="'admin/common/tpl/filter.html'"></div> -->
                    <!--包含公共筛选条件 end-->
                    <div class="panel-select">
                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">类型：</label>
                            <div class="radio">
                                <label class="i-checks" ng-repeat="(key, val) in departmentType track by $index">
                                    <input type="radio" name="departmentType" ng-value='{{val.departmentType}}' ng-model="formData.departmentType" ng-click="getSubject(val.departmentType)"><i></i>{{val.departmentName}}
                                </label>
                            </div>
                        </div>
                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-id-1">教材：</label>
                            <div class="radio">
                                <label class="i-checks" ng-repeat="obj in bookVersion">
                                    <input type="radio" name="bookVersionCode" ng-value="obj.bookVersionCode" ng-model="formData.bookVersionCode">
                                    <i></i>{{obj.bookVersionName}}
                                </label>
                            </div>
                        </div>
                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-id-1">试卷用途：</label>
                            <div class="radio">
                                <label class="i-checks">
                                    <input type="radio" name="paperUseType" ng-value="obj.paperUseType" ng-checked="{{obj.checked}}" ng-model="formData.paperType">
                                    <i></i>综合类型
                                </label>
                            </div>
                        </div>
                    </div>
                    <button class="pull-right btn btn-primary" ng-click="getList(1,10)"><span class="p-d">查询</span></button>
                </form>
            </div>
            <div class="panel-container">
                <div class="table-responsive">
                    <table class="table table-striped b-t b-light">
                        <thead>
                            <tr>
                                <th style="width:10%">序号</th>
                                <th style="width:25%">文理类型</th>
                                <th style="width:25%">诊断名称</th>
                                <th style="width:15%">创建人</th>
                                <th style="width:15%">封面</th>
                                <th style="width:15%">状态</th>
                                <th style="width:15%">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in results.list">
                                <td>
                                    <label class="i-checks">
                                            <input id={{data.repositoryPaperCode}} type="checkbox" ng-model="x" ng-checked="master" ng-click="chk(data.repositoryPaperCode,x)"><i></i>{{$index+1}}</label>
                                </td>
                                <td>{{data.artsType}}</td>
                                <td>{{data.createTime }}{{data.diagnosisPaperName}}</td>
                                <td><!--{{data.repositoryPaperCode}}|-->{{data.operator }}</td>
                                <td>
                                    <img src="{{data.diagnosisImgUrl}}" width="100" height="50" /></td>
                                <td>{{data.diagnosisExplanation}}</td>
                                <td>
                                    <!--  ui-sref="app.teachManage.detail({id:data.id})" -->
                                    <button type="button" class="btn btn-info" ui-sref="app.teachResearchManage.detail({'paperCode':data.repositoryPaperCode})">详&nbsp;情</button> <!-- ng-click="app.teachResearchManage.detail({'paperCode':'796EBDDCBDF7492CB7CCDA5729817767'})" -->
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7" class="text-right">
                                    <label class="i-checks m-b-none">
                                        <input type="checkbox" ng-model="master" ng-click="checkAll(master,choseArr)"><i></i>全选
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="7" class="text-center">
                                    <!-- 指令调用代码 -->
                                    <xl-page size="10" method="getList" class="text-center"></xl-page>
                                    <!-- 指令模板[pagination.html] -->
                                </td>
                            </tr>
                        </tfoot>
                    </table> <!--{{choseArr}}-->
                   <!--   |  {{tesarry}} -->
                    <p class="pull-right"><button class="btn btn-primary" ng-click='AddDiagGoods(choseArr)'><span class="p-d">置为商品</span></button></p>
                </div>
            </div>
        </div>
    </div>
</div>
