<div class="wrapper-md" ng-controller="DiagShelvesController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>负责监考教师:</h4>
        </div>
        <div class="wrapper">
            <div class="panel-body">
               <form class="form-horizontal ng-pristine ng-valid ng-valid-date ng-valid-required ng-valid-parse ng-valid-date-disabled"  ng-init="load()">
                    <!--包含公共筛选条件 start-->
                    <div ng-include="'admin/common/tpl/filter.html'"></div>
                    <!--包含公共筛选条件 end-->
                    <button class="pull-right btn btn-primary" ng-click="getList()"><span class="p-d">查询</span></button>
                </form>
            </div>
            <div class="panel-container">
                <div class="table-responsive">
                    <table class="table table-striped b-t b-light">
                        <thead>
                            <tr>
                                <th style="width:10%">序号</th>
                                <th style="width:25%">学科</th>
                                <th style="width:25%">创建时间</th>
                                <th style="width:15%">创建人</th>
                                <th style="width:15%">封面</th>
                                <th style="width:15%">状态</th>
                                <th style="width:15%">操作</th>
                                <th style="width:10%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in results.content">
                                <td>{{$index+1}}</td>
                                <td>{{data.subjectCode}}</td>
                                <td>{{data.createTime }}</td>
                                <td>{{data.operator }}</td>
                                <td>
                                    <img src="{{data.diagnosisImgUrl}}" width="200" height="100" /></td>
                                <td>{{data.diagnosisExplanation}}</td>
                                <td>
                                    <!--  ui-sref="app.teachManage.detail({id:data.id})" -->
                                    <button type="button" class="btn btn-primary"  ui-sref="app.teachResearchManage.detail({'paperCode':'796EBDDCBDF7492CB7CCDA5729817767'})">详&nbsp;情</button>
                                </td>
                               <!--  ui-sref="app.teachManage.allot({'gradeCode':data.gradeCode,'subjectCode':data.subjectCode})"  -->
                                <td>
                                    <button type="button" class="btn btn-primary" ng-click="allotBtn(data)">分配监考人</button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="8" class="text-center">
                                    <!-- 指令调用代码 -->
                                    <xl-page size="5" method="getList" class="text-center"></xl-page>
                                    <!-- 指令模板[pagination.html] -->
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

