<div class="wrapper-md" ng-controller="DiagGoodsCtrl">
  <div class="panel panel-default">
    <div class="panel-heading">
       <h4>负责监考教师:{{username}}</h4>
    </div>
    <div class="wrapper">
           <div class="panel-body">
                <form class="form-horizontal ng-pristine ng-valid ng-valid-date ng-valid-required ng-valid-parse ng-valid-date-disabled"  ng-init="load()">
                    <!--包含公共筛选条件 start-->
                    <div ng-include="'admin/common/tpl/filter.html'"></div>
                    <!--包含公共筛选条件 end-->
                    <button class="pull-right btn btn-primary" ng-click="getList()"><span class="p-d">查询</span></button>
                </form>
            </div>
            <div class="panel-container">
              <div class="table-responsive">
                <table class="table table-striped b-t b-light">
                  <thead>
                    <tr>
                      <th style="width:5%">序号</th>
                      <th style="width:10%">学科</th>
                      <th style="width:10%">创建时间</th>
                      <th style="width:10%">监考人</th>
                      <th style="width:20%">封面</th>
                      <th style="width:15%">购买预约人</th>
                      <th style="width:20%">状态</th>
                      <th style="width:10%">操作</th>
                      <th style="width:10%"></th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="data in data.content">
                        <td>{{$index+1}}</td>
                        <td>{{data.subjectCode}}</td>
                        <td>{{data.createTime}}</td>
                        <td>{{data.invigilatorTeacher}}</td>
                        <td>{{data.imageUrl}}<img src="img/c5.jpg" width="200px" height="100px" /></td>
                        <td>{{data.number}}</td>
                        <td><p>开始时间:{{data.examStartDate}}</p><p>结束时间:{{data.examEndDate}}</p></td>
                        <td><p><a>上架</a></p><p><a>下架</a></p><p><a>详情</a></p></td>
                        <td><button type="button" class="btn btn-primary"  ui-sref="app.teachManage.detail()">详情</button></td>
                      </tr>
                  </tbody>
                  <tfoot>
                            <tr>
                                <td colspan="8" class="text-center">
                                    <!-- 指令调用代码 -->
                                    <xl-page size="5" method="getList" class="text-center"></xl-page>
                                    <!-- 指令模板[pagination.html] -->
                                </td>
                            </tr>
                        </tfoot>
                </table>
              </div>
            </div>
        </div>
  </div>
</div>