<style>
form ul {
    list-style: none;
    color: #333;
    font-size: 16px;
    text-align: left;
    margin: 20px 0 15px;
}

form ul li {
    padding: 10px 20px;
    background-color: #fff;
    margin-bottom: 8px;
    cursor: pointer;
}

form ul li span {
    float: right;
}

form ul li.active {
    border:1px solid #8ec16d;
    border-radius:4px;
}

div.total {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: #000;
}

div.total span {
    float: right;
}
</style>
<div class="wrapper-md" ng-controller="DistributionCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>诊断时间</h3>
            <p>具体开始时间，结束时间 ，每组时间开始时间，结束时间，由教学部统一规则决定。</p>
        </div>
        <div class="wrapper" >
            <pre>{{postData}}</pre>
            <form action="" >
                <div class="panel-container">
                    <!--<a ng-show="$index!=0" style="color:red;" class="pull-right" ng-click="del($index)">移除</a>-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">指定老师：</label>
                        <div class="col-sm-2">
                            <select ng-model="postData.teacherCode" ng-options="m.productName for m in model">
                                <option value="">-- 请选择 --</option>
                            </select>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">时间段：</label>
                        <div class="controls">
                            <div class="input-prepend input-group">
                                <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                <input type="text" style="width: 400px" name="reservation" id="reservationtime" class="form-control" class="span4" ng-model="Date"/>
                                <input type="text" id="startDate" ng-model="postData.beginDate">
                                <input type="text" id="endDate" ng-model="postData.endDate">
                            </div>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="checkDate">
                        <ul class="list-group times">
                            <li ng-repeat="service in groups" ng-click="toggleActive(service)" ng-class="{active:service.active}">
                                <!-- Notice the use of the currency filter, it will format the price -->
                                {{item.AM}}{{item.PM}}{{service.name}} <span>{{service.group}} </span><span>{{service.date}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="line line-solid b-b line-lg "></div>
                </div>
            </form>
            <button class="btn m-b-xs btn-primary btn-addon" ng-click='addTeacher(postData)'><i class="fa fa-plus"></i>添加老师</button>
            <input type="submit" class="btn btn-primary pull-right" ng-click='ConfirmShelves()' value="确定上架">
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $('#reservationtime').daterangepicker({
        timePicker: true,
        timePickerIncrement: 30,
        format: 'MM/DD/YYYY h:mm A',
        pickerPosition: "bottom-top"
    }, function(start, end, label) {
        var d = new Date(start.toISOString());
        var end = new Date(end.toISOString());
        var startDate = d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate() + ' ' + d.getHours() + ':' + d.getMinutes() + ':' + d.getSeconds();
        var endDate = end.getFullYear() + '-' + (end.getMonth() + 1) + '-' + end.getDate() + ' ' + end.getHours() + ':' + end.getMinutes() + ':' + end.getSeconds();
        console.log(startDate, endDate);
        $("#startDate").val(startDate);
        $("#endDate").val(endDate);

    });

});
</script>
