<div class="wrapper-md" ng-controller="DividingClassesCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>教学管理 &gt; 分班</h4>
        </div>
        <div class="wrapper">
            <div class="panel-heading m-b-xl">
                <form class="form-horizontal" ng-init="load()">
                    <div class="radio">
                        <label class="col-sm-2 control-label">类型：</label>
                        <label class="i-checks">
                            <input type="radio" name="aa" value="option1">
                            <i></i>文科
                        </label>
                        <label class="i-checks">
                            <input type="radio" name="aa" value="option2" checked>
                            <i></i>理科
                        </label>
                    </div>
                    <div class="line line-dashed b-b line-lg"></div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-2 control-label">地区：</label>
                        <div class="col-sm-2">
                            <select name="account" class="form-control">
                                <option>全部</option>
                                <option>北京</option>
                            </select>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">总分数：</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" value="460">
                        </div>
                        <label class="col-sm-1" style="width:10px">-</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" value="500">
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg"></div>
                    <!-- <div class="form-group">
                        <label class="col-sm-2 control-label">单科学科：</label>
                        <div class="col-sm-2">
                            <select name="account" class="form-control">
                                <option>英语</option>
                                <option>数学</option>
                            </select>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg"></div>
                    <div class="form-group">   
                            <label class="col-sm-2 control-label">分数：</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" value="60">
                            </div>
                            <label class="col-sm-2 " style="width:10px">-</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" value="80">
                            </div>
                    </div>
                    <div class="line line-dashed b-b line-lg"></div> -->
                    <div class="form-group col-sm-12">
                        <label class="col-sm-2 control-label">上课时间：</label>
                        <div class="col-sm-2">
                            <select name="account" class="form-control">
                                <option>周六日</option>
                                <option>周二</option>
                            </select>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">目标类型：</label>
                        <div class="radio">
                            <label class="i-checks" ng-repeat="(key, val) in aimTypes track by $index">
                                <input type="radio" name="category_code" ng-value='{{val.aimType}}' ng-model="formData.aimType" ng-click="getCtb(val.id)"><i></i>{{val.aimName}}
                            </label>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg"></div>
                    <button type="submit" class="btn m-b-xs w-xs btn-primary pull-right">查询</button>
                </form>
            </div>
            <div class="line line-dashed b-b line-lg"></div>
            <!-- <div class="panel-heading">
                <p><span class="p-d">:</span><span class="p-d"><label class="i-checks">
                    <input type="radio" name="ff" value="option3" checked  ng-click="">
                    <i></i>一本线上30分
                </label></span>|<span class="p-d"><label class="i-checks" ng-click="">
                    <input type="radio" name="ff" value="option3">
                    <i></i>一本线
                </label></span>|<span class="p-d"><label class="i-checks" ng-click="">
                    <input type="radio" name="ff" value="option3">
                    <i></i>二本线
                </label></span></p>
                <div class="line line-dashed b-b line-lg"></div>
            </div> -->
            <div class="table-responsive">
                <table class="table table-striped b-t b-light">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>地区</th>
                            <th>姓名</th>
                            <th>用户名</th>
                            <th>家长联系方式</th>
                            <th>语文</th>
                            <th>数学</th>
                            <th>英语</th>
                            <th>物理</th>
                            <th>化学</th>
                            <th>生物</th>
                            <th>总分</th>
                            <th>空余时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in results.list">
                            <td>{{$index+1}}</td>
                            <td>{{data.areaName}}</td>
                            <td>{{data.studentName}}</td>
                            <td>{{data.studentCode}} | 用户名</td>
                            <td>家长联系方式</td>
                            <td>{{data.chineseScore}}分</td>
                            <td>{{data.mathScore}}分</td>
                            <td>{{data.englishScore}}分</td>
                            <td>{{data.physicsScore}}分</td>
                            <td>{{data.chemistryScore}}分</td>
                            <td>生物（没找到字段）分</td>
                            <td>{{data.totalScore}}分</td>
                            <td>周六日</td>
                            <td>
                                <label class="i-checks">
                                    <input id={{data.repositoryPaperCode}} type="checkbox" ng-model="x" ng-checked="master" ng-click="chk(data.repositoryPaperCode,x)"><i></i>
                                </label>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="13"></td>
                            <td>
                                <label class="i-checks m-b-none">
                                    <input type="checkbox" ng-model="master" ng-click="checkAll(master,choseArr)"><i></i>全选
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="15" class="text-center">
                                <!-- 指令调用代码 -->
                                <xl-page size="10" method="getList" class="text-center"></xl-page>
                                <!--指令模板[pagination.html] -->
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <!-- modal -->
                <button class="btn btn-primary m-b-xs w-xs pull-right" ng-click="open('lg')">班</button>
                <script type="text/ng-template" id="myModelContent.html">
                    <div class="modal-header">
                        <h3 class="modal-title">班型</h3>
                    </div>
                    <div class="modal-body">
                        <div class="form-group col-sm-12">
                            <label class="col-sm-2 control-label">学区：</label>
                            <div class="col-sm-2">
                                <select ng-model="districtSchool" class="form-control" ng-options="d.name for d in districtSchoolList" ng-click="getDepartmentSchoolList(districtSchool.code)">
                                    <option value="">--请选择--</option>
                                </select>
                            </div>
                        </div>
                        <div class="line line-dashed b-b line-lg"></div>
                        <div class="form-group col-sm-12">
                            <label class="col-sm-2 control-label">学部：</label>
                            <div class="col-sm-2">
                                <select ng-model="departmentSchool" class="form-control" ng-options="d.name for d in departmentSchoolList" ng-click="getCentreSchoolList(departmentSchool.code)">
                                    <option value="">--请选择--</option>
                                </select>
                            </div>
                        </div>
                        <div class="line line-dashed b-b line-lg"></div>
                        <div class="form-group col-sm-12">
                            <label class="col-sm-2 control-label">中心：</label>
                            <div class="col-sm-2">
                                <select ng-model="centreOfSchool" class="form-control" ng-options="c.name for c in centreOfSchoolList" ng-click="getList(centreOfSchool.code)">
                                    <option value="">--请选择--</option>
                                </select>
                            </div>
                        </div>
                        <ul>
                            <li ng-repeat="item in items">
                                <a ng-click="selected.item = item">{{item}}</a>
                            </li>
                            <div class="h2">当前选择： <b>{{selected.item}}</b></div>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="placementOk()">
                            <span class="p-d">确认</span>
                        </button>
                        <button class="btn btn-warning" ng-click="cancel()">
                            <span class="p-d">退出</span>
                        </button>
                    </div>
                </script>
                <!--  <div ng-controller="ClassesCtrl">
                   <script type="text/ng-template" id="myModalContent.html">
                       <div ng-include="'admin/common/tpl/classes.html'"></div>
                   </script>
                   <div class="panel-body">
                       <button class="btn btn-primary m-b-xs w-xs pull-right" ng-click="open('lg')">班</button>
                   </div>
               </div> -->
                <!-- /modal -->
            </div>
        </div>
    </div>
</div>
