<div class="wrapper-md" ng-controller="DividClassesConfrimCtrl">
	<div class="panel panel-default" ng-init="load()">
		<div class="panel-heading">
			<h4>教学管理 &gt; 分班后确认</h4>
		</div>
		<div class="wrapper">
			<div class="panel-heading ">
				<!--  <button class="btn btn-primary pull-right" ui-sref='app.teachManage.look()'>查看全科</button> -->
				<form action="" class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label">地区：</label>
						<div class="col-sm-2">
							<select name="account" class="form-control">
								<option>北京</option>
							</select>
						</div>
						<button type="submit" class="btn btn-primary pull-right">查&nbsp;询</button>
					</div>
					<div class="line line-dashed b-b line-lg"></div>
				</form>
			</div>
			<!-- tab -->
			<div>
				<div id="tabs">
					<ul class="tabs_ul">
						<li ng-repeat="tab in tabs" ng-class="{active:isActiveTab(tab.url)}" ng-click="onClickTab(tab)">{{tab.title}}</li>
					</ul>
					<div id="mainView">
						<div ng-include="currentTab"></div>
					</div>
				</div>
				<script type="text/ng-template" id="one.tpl.html">
					<div id="viewOne">
						<!-- <pre>{{choseArr}}</pre> -->
						<div class="table-responsive">
							<table class="table table-striped b-t b-light">
								<thead>
									<tr>
										<th>序号</th>
										<th>用户名</th>
										<th>姓名</th>
										<th>考试时间</th>
										<th>总得分</th>
										<th>数学</th>
										<th>语文</th>
										<th>英语</th>
										<th>物理</th>
										<th>化学</th>
										<th>生物</th>
										<th>报告</th>
										<th>地区</th>
										<th>备注</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="data in results.list">
										<td>{{$index+1}}</td>
										<td>1821058560</td>
										<td>{{data.studentName}}</td>
										<td>{{data.examinationTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
										<td>{{data.totalScore}}分</td>
										<td>{{data.mathScore}}分</td>
										<td>{{data.chineseScore}}分</td>
										<td>{{data.englishScore}}分</td>
										<th>{{data.physicsScore}}分</th>
										<th>{{data.biologyScore}}分</th>
										<th>{{data.chemistryScore}}分</th>
										<td>
											<button class="btn btn-primary" ui-sref="app.teachManage.reportDetail()">详情</button>
										</td>
										<td>北京</td>
										<td>
											<input type="text" class="form-control">
										</td>
										<td>
											<span ng-if="data.placementStatus==0">已拒绝</span>
											<span ng-if="data.placementStatus==1">已确认</span>
											<div ng-if="data.placementStatus!=0&&data.placementStatus!=1">
												<button class="btn btn-default" ng-click="refuse(data.studentCode)">拒绝</button>
												<button class="btn btn-primary" ng-click="agree(data.studentCode)">确定上课</button>
											</div>
										</td>
									</tr>
								</tbody>
								<tfoot class="hide-if-no-paging">
									<tr>
										<td colspan="13" class="text-center">
											<!-- 指令调用代码 -->
											<xl-page size="10" method="getList" class="text-center"></xl-page>
											<!--指令模板[pagination.html] -->
										</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</script>
				<script type="text/ng-template" id="two.tpl.html">
					<div id="viewTwo">
						<div class="table-responsive">
							<table class="table table-striped b-t b-light">
								<thead>
									<tr>
										<th>序号</th>
										<th>用户名</th>
										<th>姓名</th>
										<th>考试时间</th>
										<th>总得分</th>
										<th>数学</th>
										<th>语文</th>
										<th>英语</th>
										<th>政治</th>
										<th>历史</th>
										<th>地理</th>
										<th>报告</th>
										<th>地区</th>
										<th>备注</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="data in results.list">
										<td>{{$index+1}}</td>
										<td>1821058560</td>
										<td>{{data.studentName}}</td>
										<td>{{data.examinationTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
										<td>{{data.totalScore}}分</td>
										<td>{{data.mathScore}}分</td>
										<td>{{data.chineseScore}}分</td>
										<td>{{data.englishScore}}分</td>
										<th>{{data.politicsScore}}分</th>
										<th>{{data.historyScore}}分</th>
										<th>{{data.geographyScore}}分</th>
										<td>
											<button class="btn btn-primary" ui-sref="app.teachManage.reportDetail()">详情</button>
										</td>
										<td>北京</td>
										<td>
											<input type="text" class="form-control">
										</td>
										<td>
											<span ng-if="data.placementStatus==0">已拒绝</span>
											<span ng-if="data.placementStatus==1">已确认</span>
											<div ng-if="data.placementStatus!=0&&data.placementStatus!=1">
												<button class="btn btn-default" ng-click="refuse(data.studentCode)">拒绝</button>
												<button class="btn btn-primary" ng-click="agree(data.studentCode)">确定上课</button>
											</div>

										</td>
									</tr>
								</tbody>
								<tfoot class="hide-if-no-paging">
									<tr>
										<td colspan="13" class="text-center">
											<!-- 指令调用代码 -->
											<xl-page size="10" method="getList" class="text-center"></xl-page>
											<!--指令模板[pagination.html] -->
										</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</script>
			</div>
			<!-- / tab -->
		</div>
	</div>
</div>