<div class="wrapper-md" ng-controller="MonitorController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>教学管理 &gt; 短板诊断监考</h4>
        </div>
        <div class="wrapper">
        	<!--select start-->
        	<form class="form-horizontal" ng-init="load()">
                <!--包含公共筛选条件 start-->
                <div ng-include="'admin/common/tpl/filter.html'"></div>
                <!--包含公共筛选条件 end-->
                <div class="form-group">
                    <label class="col-sm-2 control-label">目标类型：</label>
                    <div class="radio">
                        <label class="i-checks" ng-repeat="(key, val) in LocalAimTypes track by $index">
                            <input type="radio" name="category_code" ng-value='{{val.aimType}}' ng-model="formData.aimType" ng-click="getCtb(val.id)"><i></i>{{val.aimName}}
                        </label>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg"></div>
                <div class="col-sm-12"><button class="btn btn-primary pull-right" ng-click="getList(1,10)"><span class="p-d">查询</span></button></div>
            </form>
            <!-- select close -->
            <div class="line line-dashed b-b line-lg"></div>
            <!-- <p><span class="p-d">学科：{{formData.subjectName}}</span><span class="p-d">监考人数：80人</span><span class="p-d">需判试卷：100份（转接20份）</span><span class="p-d">已判卷85份</span><span>未判卷15份</span></p> -->
            <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>来源</th>
                        <th>用户名</th>
                        <th>姓名</th>
                        <th>短板学科</th>
                        <th>考试时间</th>
                        <th>试卷</th>
                        <th>客观题得分</th>
                        <th>主观题分数</th>
                        <th>考试确认</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in results.list">
                        <td>{{$index+1}}</td>
                        <td>短板诊断考</td>
                        <td>{{data.userName}}</td>
                        <td>{{data.studentName}}</td>
                        <td>{{data.subjectName}}</td>
                        <td>{{data.appointmentExamStartDate | date:'yyyy-MM-dd HH:mm:ss' }}-{{data.appointmentExamEndDate | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                        <td>
                           <button class="btn btn-primary" ng-click="GetPaperDetail({paperCode:data.diagnosisPaperCode})">详情</button>
                        </td>
                        <td>{{data.impersonalityScore}}分</td>
                        <td>{{data.subjectivityScore}}分</td>
                        <td>参加考试</td>
                        <td><button class="btn btn-primary pull-right" ng-click="enterLiveRoom(data)">进入监考教室</button></td>
                    </tr>
                    
                </tbody>
                <tfoot>
                        <tr>
                            <td colspan="10" class="text-center">
                                <!-- 指令调用代码 -->
                                <xl-page size="10" method="getList" class="text-center"></xl-page>
                                <!--指令模板[pagination.html] -->
                            </td>
                        </tr>
                    </tfoot>
            </table><!-- ui-sref="app.teachManage.monitorRoom()"-->
        </div>
        </div>
        
    </div>
</div>
