<div class="wrapper-md" ng-controller="ShortBoardDiagCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>教学管理 &gt;短板诊断判卷</h4>
        </div>
        <div class="wrapper">
            <!--select start-->
            <form class="form-horizontal" ng-init="load()">
                <!--包含公共筛选条件 start-->
                <div ng-include="'admin/common/tpl/filter.html'"></div>
                <!--包含公共筛选条件 end-->
                <div class="form-group">
                    <label class="col-sm-2 control-label">判卷状态：</label>
                    <div class="radio">
                        <label class="i-checks">
                            <input type="radio" name="d" value="option1" >
                            <i></i>全部
                        </label>
                        <label class="i-checks">
                            <input type="radio" name="d" value="option2" >
                            <i></i>已判
                        </label>
                        <label class="i-checks">
                            <input type="radio" name="d" value="option3">
                            <i></i>未判
                        </label>
                    </div>

                    <div class="pull-right p-d"><button class="btn btn-primary" ng-click="getList(1,10)"><span class="p-d">查询</span></button></div>
                </div>
            </form>
            <!-- select close -->
            <div>
            <div class="table-responsive">
                <table class="table table-striped b-t b-light">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>来源</th>
                            <th>用户名</th>
                            <th>姓名</th>
                            <th>学科</th>
                            <th>考试时间</th>
                            <th>试卷</th>
                            <th>客观题得分</th>
                            <th>主观题分数</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in results.list">
                            <td>{{$index+1}}</td>
                            <td>短板诊断</td>
                            <td>{{data.userName}}</td>
                            <td>{{data.studentName}}</td>
                            <td>{{data.subjectName }}</td>
                            <td>{{data.appointmentExamStartDate | date:'yyyy-MM-dd HH:mm:ss'}}-{{data.appointmentExamEndDate  | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td>
                                <button class="btn btn-primary" ng-click="GetPaperDetail({paperCode:data.diagnosisPaperCode})">详情</button>
                            </td>
                            <td>{{data.impersonalityScore}}分</td>
                            <td>{{data.subjectivityScore }}</td>
                            <td></td>
                            <td>
                                <button class="btn btn-primary" ui-sref="app.teachManage.exam()">判卷</button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="8" class="text-center">
                                <!-- 指令调用代码 -->
                                <xl-page size="10" method="getList" class="text-center"></xl-page>
                                <!--指令模板[pagination.html] -->
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>
