<div class="wrapper-md" ng-controller="TestPoolControler">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>教学管理 &gt; 试卷池 &gt; 二判分卷</h4>
        </div>
        <div class="wrapper">
            <!--select start-->
            <form class="form-horizontal" ng-init="load()">
                <!--包含公共筛选条件 start-->
                <div ng-include="'admin/common/tpl/filter.html'"></div>
                <!--包含公共筛选条件 end-->
                <button class="pull-right btn btn-primary" ng-click="getList()"><span class="p-d">查询</span></button>
            </form>
            <!-- select close -->
            <!-- tab -->
            <div>
                <div class="panel panel-heading">
                    <h3>试卷状态</h3></div>
                <div id="tabs">
                    <ul>
                        <li ng-repeat="tab in tabs" ng-class="{active:isActiveTab(tab.url)}" ng-click="onClickTab(tab)">{{tab.title}}</li>
                    </ul>
                    <div id="mainView">
                        <div ng-include="currentTab"></div>
                    </div>
                </div>
                <script type="text/ng-template" id="one.tpl.html">
                    <div id="viewOne">
                        <div class="panel-heading">
                            <p><span>需判试卷：{{data.total_count}}份</span><span>监考人数：80人</span></p>
                        </div>
                        <!-- <pre>{{choseArr}}</pre> -->
                        <div class="table-responsive">
                            <table class="table table-striped b-t b-light">
                                <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>来源</th>
                                        <th>手机号</th>
                                        <th>姓名</th>
                                        <th>学科</th>
                                        <th>考试时间</th>
                                        <th>试卷</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="z in tesarry">
                                        <td>{{z}}</td>
                                        <td>诊断</td>
                                        <td>1821058560</td>
                                        <td>LiLy</td>
                                        <td>英语</td>
                                        <td>2016.7.28 18:00-19:00</td>
                                        <td>
                                            <button class="btn btn-primary" ui-sref='app.teachManage.detail({id:data.id})'>&nbsp;详&nbsp;情&nbsp;</button>
                                        </td>
                                        <td>未分配</td>
                                        <td>
                                            <label class="i-checks">
                                                <input id={{z}} type="checkbox" ng-model="x" ng-checked="master" ng-click="chk(z,x)"><i></i>选择</label>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot class="hide-if-no-paging">
                                    <tr>
                                        <td colspan="8" class="text-right">
                                            <label class="i-checks m-b-none">
                                                <input type="checkbox" ng-model="master" ng-click="checkAll(master,tesarry)"><i></i>全选
                                                <!-- <a href="#" class="btn btn-danger" ng-click="delete()" > 删除</a> -->
                                            </label>
                                        </td>
                                        <td>
                                            <!-- 手动分配 modal -->
                                            <div ng-controller="categoryCtrl">
                                                <script type="text/ng-template" id="myModalContent.html">
                                                    <div ng-include="'admin/common/tpl/allot.html'"></div>
                                                </script>
                                                <button class="btn btn-primary m-r pull-right" ng-click="open('lt')">手动分配</button>
                                            </div>
                                            <!-- 手动分配/modal -->
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </script>
                <script type="text/ng-template" id="two.tpl.html">
                    <div id="viewTwo">
                        <div class="panel-heading">
                            <p><span>需判试卷：{{data.total_count}}份</span><span>监考人数：80人</span></p>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped b-t b-light">
                                <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>来源</th>
                                        <th>手机号</th>
                                        <th>姓名</th>
                                        <th>学科</th>
                                        <th>考试时间</th>
                                        <th>试卷</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="z in tesarry">
                                        <td>{{z}}</td>
                                        <td>诊断</td>
                                        <td>1821058560</td>
                                        <td>LiLy</td>
                                        <td>英语</td>
                                        <td>2016.7.28 18:00-19:00</td>
                                        <td>
                                            <button class="btn btn-primary" ui-sref='app.teachManage.detail({id:data.id})'>详情</button>
                                        </td>
                                        <td>已分配</td>
                                        <td>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </script>
            </div>
            <!-- / tab -->
        </div>
    </div>
</div>
