<div class="wrapper-md" ng-controller="TestPoolControler">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>教学管理 &gt; 试卷池 &gt; 一判分卷</h4>
        </div>
        <div class="wrapper">
            <!--select start-->
            <form class="form-horizontal" ng-init="load()">
                <!--包含公共筛选条件 start-->
                <div ng-include="'admin/common/tpl/filter.html'"></div>
                <!--包含公共筛选条件 end-->
               <button class="pull-right btn btn-primary" ng-click="getList(1,10)"><span class="p-d">查询</span></button>
            </form>
            <!-- select close -->
            <!-- tab -->
            <div>
                <div class="panel panel-heading">
                    <h3>试卷状态</h3></div>
                <div id="tabs">
                    <ul class="tabs_ul">
                        <li ng-repeat="tab in tabs" ng-class="{active:isActiveTab(tab.url)}" ng-click="onClickTab(tab)">{{tab.title}}</li>
                    </ul>
                    <div id="mainView">
                        <div ng-include="currentTab"></div>
                    </div>
                </div>
                <script type="text/ng-template" id="one.tpl.html">
                    <div id="viewOne">
                        <!-- <div class="panel-heading">
                            <p><span>需判试卷：{{total}}份</span><span>监考人数：80人</span></p>
                        </div> -->
                        <!-- <pre>{{choseArr}}</pre> -->
                        <div class="table-responsive">
                            <table class="table table-striped b-t b-light">
                                <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>来源</th>
                                        <th>手机号</th>
                                        <th>姓名</th>
                                        <th>学科</th>
                                        <th>考试时间</th>
                                        <th>试卷</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in results.list">
                                        <td>{{$index+1}}</td>
                                        <td>诊断</td>
                                        <td></td>
                                        <td>{{data.eduSingleDiagnosisRecordCode }}</td>
                                        <td>{{subjectName}}</td>
                                        <td>{{data.examStartTime | date:'yyyy-MM-dd HH:mm:ss' }}-{{data.examEndTime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                                        <td>
                                            <button class="btn btn-primary" ui-sref="app.teachResearchManage.detail({'paperCode':data.diagnosisPaperCode})">&nbsp;详&nbsp;情&nbsp;</button>
                                        </td>
                                        <td> {{data.distributionStatus}}</td>
                                        <td>
                                            <label class="i-checks">
                                                <input id={{data.eduSingleDiagnosisRecordCode}} type="checkbox" ng-model="x" ng-checked="master" ng-click="chk(data.eduSingleDiagnosisRecordCode ,x)"><i></i>选择</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="8" class="text-right">
                                            <label class="i-checks m-b-none">
                                                <input type="checkbox" ng-model="master" ng-click="checkAll(master,tesarry)"><i></i>全选
                                                <!-- <a href="#" class="btn btn-danger" ng-click="delete()" > 删除</a> -->
                                            </label>
                                        </td>
                                        <td>
                                            <!-- 手动分配 modal -->
                                            <button class="btn btn-primary m-r pull-right" ng-click="open('gt',choseArr,subjectCode,teacherList)">手动分配</button>
                                            <!-- <hr>
                                            <div class="h1" ng-show="selected">当前选择：{{selected}}</div> -->
                                            <!-- 手动分配/modal -->
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="8" class="text-center">
                                            <!-- 指令调用代码 -->
                                            <xl-page size="10" method="getList" class="text-center"></xl-page>
                                            <!-- 指令模板[pagination.html] -->
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                            <!-- {{choseArr}} -->
                        </div>

                    </div>
                </script>
                <script type="text/ng-template" id="two.tpl.html">
                    <div id="viewTwo">
                        <!-- <div class="panel-heading">
                            <p><span>需判试卷：{{data.total_count}}份</span><span>监考人数：80人</span></p>
                        </div> -->
                        <div class="table-responsive">
                            <table class="table table-striped b-t b-light">
                                <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>来源</th>
                                        <th>手机号</th>
                                        <th>姓名</th>
                                        <th>学科</th>
                                        <th>考试时间</th>
                                        <th>试卷</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   <tr ng-repeat="data in results.list">
                                        <td>{{$index+1}}</td>
                                        <td>诊断</td>
                                        <td></td>
                                        <td></td>
                                        <td>{{data.subjectCode}}</td>
                                        <td>{{data.examStartTime | date:'yyyy-MM-dd HH:mm:ss' }}-{{data.examEndTime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                                        <td>
                                            <button class="btn btn-primary"  ui-sref="app.teachResearchManage.detail({'paperCode':data.repositoryPaperCode})">&nbsp;详&nbsp;情&nbsp;</button>
                                        </td>
                                        <td> {{data.distributionStatus}}</td>
                                        <td>
                                           &nbsp;
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="8" class="text-center">
                                            <!-- 指令调用代码 -->
                                            <xl-page size="10" method="getList1" class="text-center"></xl-page>
                                            <!-- 指令模板[pagination.html] -->
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </script>
            </div>
            <!-- / tab -->
        </div>
    </div>
</div>
<script type="text/ng-template" id="myModelContent.html">
    <div class="modal-header">
        <h3 class="modal-title">分配试卷</h3>
    </div>
    <div class="modal-body">
        <p>学科：数学</p>
        <!-- <p><span>需分配试卷：1000份</span><span>已选择900份</span></p> -->
        <div>
            <label class="i-checks m-b-none"  ng-repeat="data in teacherList">
                <input type="checkbox" id={{data.code}} type="checkbox" ng-model="x" ng-checked="master" ng-click="chk(data.code,x)"><i></i>{{data.name}}
            </label>
        </div>
        <!-- <ul>
            <li ng-repeat="item in items">
                <a ng-click="selected.item = item">{{item}}</a>
            </li>
            <div class="h2">当前选择： <b>{{selected.item}}</b></div>
        </ul> -->
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="DistributionOk({round:0})">
            确认
        </button>
        <button class="btn btn-warning" ng-click="cancel()">退出</button>
    </div>
</script>
