<div class="wrapper-md" ng-controller="TestPoolCtrl">
    <div class="panel panel-default">
        <div class="panel-heading"><h3>一判分卷</h3></div>
        <div class="wrapper">
        	<!--select start-->
        	<div class="panel-select">
				 <table class="table">
                    <tr>
                        <td width="8%">学年:</td>
                        <td>高考</td>
                    </tr>
                     <tr>
                      <td>类型:</td>
                      <td>
                        <div class="radio">
                              <label class="i-checks">
                                <input type="radio" name="e" value="option1" >
                                <i></i>文科
                              </label>
                              <label class="i-checks">
                                <input type="radio" name="e" value="option2" >
                                <i></i>理科
                              </label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                        <td>学科:</td>
                        <td>
                            <div class="radio">
                              <label class="i-checks">
                                <input type="radio" name="c" value="option1" >
                                <i></i>语文
                              </label>
                              <label class="i-checks">
                                <input type="radio" name="c" value="option2" checked>
                                <i></i>数学
                              </label>
                              <label class="i-checks">
                                <input type="radio" name="c" value="option3" >
                                <i></i>英语
                              </label>
                              <label class="i-checks">
                                <input type="radio" name="c" value="option4" >
                                <i></i>物理
                              </label>
                              <label class="i-checks">
                                <input type="radio" name="c" value="option5" >
                                <i></i>化学
                              </label>
                              <label class="i-checks">
                                <input type="radio" name="c" value="option6" >
                                <i></i>生物
                              </label>
                              <label class="i-checks">
                                <input type="radio" name="c" value="option7" >
                                <i></i>历史
                              </label>
                              <label class="i-checks">
                                <input type="radio" name="c" value="option8" >
                                <i></i>地理
                              </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>教材:</td>
                        <td>
                            
                            <div class="radio">
                              <label class="i-checks">
                                <input type="radio" name="d" value="option1" >
                                <i></i>全国卷一
                              </label>
                              <label class="i-checks">
                                <input type="radio" name="d" value="option2" checked>
                                <i></i>全国卷二
                              </label>
                              <label class="i-checks">
                                <input type="radio" name="d" value="option3" >
                                <i></i>全国卷三
                              </label>
                              <label class="i-checks">
                                <input type="radio" name="d" value="option4" >
                                <i></i>自主命题北京                              </label>
                              <label class="i-checks">
                                <input type="radio" name="d" value="option5" >
                                <i></i>自主命题天津
                              </label>
                            </div>
                        </td>
                    </tr>
                   
                </table>
                <div class="line line-solid b-b line-lg"></div>
        	</div>
            <!-- select close -->
            <!-- tab -->
            <div ng-controller="TabsDemoCtrl">
                <h3>试卷状态:</h3>
               
                <tabset class="tab-container">
                  <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled" class="panel-state state">
                    <p>需判试卷：<span>100</span>份,监考人数：<span>80</span>人</p>
                    <div class="table-responsive">
                        <table class="table table-striped b-t b-light">
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>来源</th>
                                    <th>手机号</th>
                                    <th>姓名</th>
                                    <th>学科</th>
                                    <th>考试时间</th>
                                    <th>试卷</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>诊断</td>
                                    <td>1821058560</td>
                                    <td>LiLy</td>
                                    <td>英语</td>
                                    <td>2016.7.28 18:00-19:00</td>
                                    <td>
                                        <button class="btn btn-default">详情</button>
                                    </td>
                                    <td>{{tab.content}}</td>
                                    <td>
                                        <label class="i-checks m-b-none">
                                            <input type="checkbox" name="post[]"><i></i>选择</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>诊断</td>
                                    <td>1821058560</td>
                                    <td>LiLy</td>
                                    <td>英语</td>
                                    <td>2016.7.28 18:00-19:00</td>
                                    <td>
                                        <button class="btn btn-default">详情</button>
                                    </td>
                                    <td>{{tab.content}}</td>
                                    <td>
                                        <label class="i-checks m-b-none">
                                            <input type="checkbox" name="post[]"><i></i>选择</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>诊断</td>
                                    <td>1821058560</td>
                                    <td>LiLy</td>
                                    <td>英语</td>
                                    <td>2016.7.28 18:00-19:00</td>
                                    <td>
                                        <button class="btn btn-default">详情</button>
                                    </td>
                                    <td>{{tab.content}}</td>
                                    <td>
                                        <label class="i-checks m-b-none">
                                            <input type="checkbox" name="post[]"><i></i>选择</label>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot class="hide-if-no-paging">
                                <tr>
                                    <td colspan="9" class="text-right">
                                        <label class="i-checks m-b-none">
                                            <input type="checkbox"><i></i>选择30份
                                        </label>
                                        <button type="submit" class="m-l btn btn-default">分&nbsp;&nbsp;配</button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                  </tab>
                </tabset>
                
            </div>
            <!-- / tab -->

            <!--btn-->
            <div>
                <button type="button" class="btn btn-primary pull-right">自动分配</button>
                <!-- 手动分配 modal -->
                <div ng-controller="categoryCtrl">
                    <script type="text/ng-template" id="myModalContent.html">
                        <div ng-include="'admin/common/allot.html'"></div>
                    </script>
                    <button class="btn btn-primary pull-right m-r" ng-click="open('lt')">手动分配</button>
                </div>
                <!-- 更换课程类型/modal -->
            </div>
        </div>
        
    </div>
</div>
