<div class="wrapper-md ng-scope" ng-controller="addCentreSchoolController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>权限管理  &gt; {{titleName}} </h4>
        </div>
        <div class="wrapper">
            <div class="form-group col-sm-12">
                <label class="col-sm-1 control-label">总校:</label>
                <div class="col-sm-4">
                    <select ng-options="headSchool.code as headSchool.name for headSchool in headSchoolList" ng-model="headSchool.code" class="form-control"  ng-click="seacherBranchByHeadSchool(headSchool.code)">
                        <option value="">--请选择--</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-1 control-label">分校</label>
                <div class="col-sm-4">
                    <select ng-model="centreSchool.monitorBranchCode"  ng-options="schoolBranch.code as schoolBranch.name for schoolBranch in schoolBranchList" class="form-control">
                        <option value="">--请选择--</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-1 control-label">中心名称:</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control m-b" placeholder="请输入分校名称" ng-model="centreSchool.name">
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-12">
                    <button class="btn btn-primary pull-right" ng-click="saveCentreSchool()">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
