<div class="wrapper-md ng-scope" ng-controller="addSchoolBranchController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>权限管理  &gt; {{titleName}} </h4>
        </div>
        <div class="wrapper">
            <div class="form-group col-sm-12">
                <label class="col-sm-1 control-label">总校:</label>
                <div class="col-sm-4">
                    <select ng-options="headSchool.code as headSchool.name for headSchool in headSchoolList" ng-model="schoolBranch.monitorMianCode" class="form-control">
                        <option value="">--请选择--</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-1 control-label">分校名称:</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control m-b" placeholder="请输入分校名称" ng-model="schoolBranch.name">
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-1 control-label">分校负责人:</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control m-b" placeholder="请输入员工号查询" ng-model="schoolBranch.personCharge">
                    <div class="form-group">
                        <span class="form-inline">张老师</span>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="col-sm-12">
                    <button class="btn btn-primary pull-right" ng-click="saveSchoolBranch()">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
