<div class="wrapper-md ng-scope"  ng-controller="addTeacherController" >
<div class="panel panel-default">
<div class="panel-heading">
    <h4>添加教研教师 &gt; {{name}} </h4>
</div>
<div class="wrapper">
<div class="form-group col-sm-12">
    <div class="col-sm-4">
        <label class="control-label col-sm-4">级别：</label>
        <div class="col-sm-8">
            <select  ng-model ="role"   ng-value="level.id"  class="form-control m-b select-inline" ng-change="" ng-options="level.name for level in levels">
                <option value="">--请选择--</option>
            </select>
        </div>
    </div>

</div>
<div class="form-group col-sm-12" >
    <div class="col-sm-4"  ng-if="role.id==1" >
        <label class="col-sm-4 control-label">总校</label>
        <div class="col-sm-6">
            <select ng-model="headSchool.code"  ng-options="headSchool.code as headSchool.name for headSchool in headSchoolList" class="form-control" >
                <option value="">--请选择--</option>
            </select>
        </div>
    </div>
    <div class="col-sm-8"  ng-if="role.id==2"  >
        <label class="col-sm-2 control-label">总校</label>
        <div class="col-sm-4">
            <select ng-model="headSchool.code"  ng-options="headSchool.code as headSchool.name for headSchool in headSchoolList" class="form-control" ng-click="seacherBranchByHeadSchool(headSchool.code)">
                <option value="">--请选择--</option>
            </select>
        </div>
        <label class="col-sm-2 control-label">分校</label>
        <div class="col-sm-4">
            <select ng-model="schoolBranch.code"  ng-options="schoolBranch.code as schoolBranch.name for schoolBranch in schoolBranchList" class="form-control">
                <option value="">--请选择--</option>
            </select>
        </div>
    </div>
    <div class="col-sm-12"  ng-if="role.id==3"  >
        <div class="col-sm-4">
            <label class="col-sm-4 control-label">总校</label>
            <div class="col-sm-8">
                <select ng-model="headSchool.code"  ng-options="headSchool.code as headSchool.name for headSchool in headSchoolList" class="form-control" ng-click="seacherBranchByHeadSchool(headSchool.code)">
                    <option value="">--请选择--</option>
                </select>
            </div>
        </div>
        <div class="col-sm-4">
            <label class="col-sm-4 control-label">分校</label>
            <div class="col-sm-8">
                <select ng-model="schoolBranch.code"  ng-options="schoolBranch.code as schoolBranch.name for schoolBranch in schoolBranchList" class="form-control"  ng-change="seacherCentreBySchoolBranch(schoolBranch.code)">
                    <option value="">--请选择--</option>
                </select>
            </div>

        </div>
        <div class="col-sm-4">
            <label class="col-sm-4 control-label">学科中心</label>
            <div class="col-sm-8">
                <select ng-model="formData.subjectCenter"  ng-options="subjectCenter.name for subjectCenter in list" class="form-control" >
                    <option value="">--请选择--</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-sm-12"  ng-if="role.id==4"  >
        <div class="col-sm-4">
            <label class="col-sm-4 control-label">总校</label>
            <div class="col-sm-8">
                <select ng-model="headSchool.code"  ng-options="headSchool.code as headSchool.name for headSchool in headSchoolList" class="form-control" ng-click="seacherBranchByHeadSchool(headSchool.code)">
                    <option value="">--请选择--</option>
                </select>
            </div>
        </div>
        <div class="col-sm-4">
            <label class="col-sm-4 control-label">分校</label>
            <div class="col-sm-8">
                <select ng-model="schoolBranch.code"  ng-options="schoolBranch.code as schoolBranch.name for schoolBranch in schoolBranchList" class="form-control"  ng-change="seacherCentreBySchoolBranch(schoolBranch.code)">
                    <option value="">--请选择--</option>
                </select>
            </div>

        </div>
        <div class="col-sm-4">
            <label class="col-sm-4 control-label">学科中心</label>
            <div class="col-sm-8">
                <select ng-model="formData.subjectCenter"  ng-options="subjectCenter.name for subjectCenter in list" class="form-control" >
                    <option value="">--请选择--</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="form-group col-sm-12">
    <div class="col-sm-4">
        <label class="control-label col-sm-4">用户名：</label>
        <div class="col-sm-8">
            <input type="text" class="form-control m-b" ng-model="teacher.userName">
        </div>
    </div>
    <div class="col-sm-4">
        <label class="control-label col-sm-4">密码：</label>
        <div class="col-sm-8">
            <input type="text" class="form-control m-b" ng-model="teacher.password">
        </div>
    </div>
    <div class="form-group col-sm-12">
        <div class="col-sm-4">
            <label class="control-label col-sm-4">姓名：</label>
            <div class="col-sm-8">
                <input type="text" class="form-control m-b" ng-model="teacher.name">
            </div>
        </div>
        <div class="col-sm-4">
            <label class="control-label col-sm-4">性别：</label>
            <div class="col-sm-8 control-label">
                <label class="i-checks "><input type="radio" ng-model="teacher.sex" value="0"><i></i>男</label>
                <label class="i-checks "><input type="radio" ng-model="teacher.sex" value="1"><i></i>女</label>
            </div>
        </div>
    </div>
    <div class="form-group col-sm-12">
        <div class="col-sm-4">
            <label class="control-label col-sm-4">学历：</label>
            <div class="col-sm-8">
                <select ng-model ="teacher.teacherEducation" ng-options="m.teacherEducation as  m.teacherEducationName for m in teacherEducationList" class="form-control m-b select-inline" ng-click="seacherTeacherEducation()">
                    <option value="">--请选择--</option>
                </select>
            </div>
        </div>
        <div class="col-sm-4">
            <label class="control-label col-sm-4">学科：</label>
            <div class="col-sm-8">
                <select ng-model="subject" ng-options= "s.subjectName for s in subjectList" class="form-control m-b select-inline" ng-init="getSubject()">
                    <option value="">--请选择--</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group col-sm-12">
        <div class="col-sm-4">
            <label class="control-label col-sm-4">地区：</label>
            <div class="col-sm-8">
                <select  ng-model="teacher.province" ng-options="ars.provinceCode as ars.provinceName for ars in areaResults" class="form-control m-b select-inline" ng-click="loadStuAreaList()">
                    <option value="">--请选择--</option>
                </select>
            </div>
        </div>
        <div class="col-sm-4">
            <label class="control-label col-sm-4">教龄：</label>
            <div class="col-sm-8">
                <input type="text" class="form-control m-b" ng-model="teacher.teachYear">
            </div>
        </div>











        <!--  <div class="col-sm-4">
          <label class="control-label col-sm-4">市：</label>
          <div class="col-sm-8">
            <select  id="city" ng-disabled="!cities" ng-model="city" ng-options="city for city in cities" class="form-control m-b select-inline">
              <option value="">{{city}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-4">
          <label class="control-label col-sm-4">县：</label>
          <div class="col-sm-8">
            <select id="suburb" ng-disabled="!suburbs" ng-model="suburb" ng-options="suburb for suburb in suburbs" class="form-control m-b select-inline">
              <option value="">{{suburb}}</option>
            </select>
          </div>
        </div>
       </div>
             <div class="form-group col-sm-12">
                 <div class="col-sm-4">
                    <label class="control-label col-sm-4">地区：</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control m-b">
                    </div>
                </div>
              </div>           -->












        <div class="form-group col-sm-12">
            <div class="col-sm-4">
                <label class="control-label col-sm-4">联系电话：</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control m-b" ng-model="teacher.mobile">
                </div>
            </div>
            <div class="col-sm-4">
                <label class="control-label col-sm-4">备用电话：</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control m-b" ng-model="teacher.phone">
                </div>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <div class="col-sm-12">
                <label class="control-label col-sm-2">联系地址：</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control m-b" ng-model="teacher.address">
                </div>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <div class="col-sm-6">
                <label class="control-label col-sm-4">有效邮箱地址：</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control m-b" ng-model="teacher.email">
                </div>
            </div>
            <div class="col-sm-6">
                <label class="control-label col-sm-4">身份证号码：</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control m-b" ng-model="teacher.identCard">
                </div>
            </div>
        </div>

    </div>

    <button class ="btn btn-primary pull-right" ng-click="saveTeacherAndResearch()">保存</button>
</div>
</div>
</div>
</div>
