<div class="wrapper-md" ng-controller="areaCategoryCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>教研管理 &gt; 地区标签分类</h4>
        </div>
        <div class="wrapper">
            <div class="panel-heading m-b-xl">
                <form action="">
                    <div class="radio form-group col-sm-12">
                        <label class="col-sm-1 control-label">类型：</label>
                        <div class="col-sm-2">
                            <label class="i-checks">
                                <input type="radio" name="aa" value="option1">
                                <i></i>文科
                            </label>
                            <label class="i-checks">
                                <input type="radio" name="aa" value="option2" checked>
                                <i></i>理科
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="line line-dashed b-b line-lg"></div>
            <div class="pael-body">
                <ul>
                    <li>
                        <h3>全国卷一卷</h3>
                        <p>福建、广东、安徽、湖北、湖南、江西、山西、河南、河北 、（山东）</p>
                        <button class=" m-t btn btn-primary pull-right" ng-click="open('lg')" >+</button>
                    </li>
                </ul>
                <!-- 弹框 model 开始 -->
                <script type="text/ng-template" id="myModelContent.html">
                    <div class="modal-header">
                        <h3 class="modal-title">模态框</h3>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li ng-repeat="item in items">
                            <a ng-click="selected.item = item">{{item}}</a>
                            </li>
                            <div class="h2">当前选择： <b>{{selected.item}}</b></div>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="ok()">
                        确认
                        </button>
                        <button class="btn btn-warning" ng-click="cancel()">退出</button>
                    </div>
                </script>
                <!-- 弹框 model 结束 -->
            </div>
        </div>
    </div>
</div>
