<div class="wrapper-md" ng-controller="areaCategoryCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>教研管理 &gt; 地区标签分类</h4>
        </div>
        <div class="wrapper">
            <div class="panel-heading m-b-xl">
                <form action="">
                    <div class="radio form-group col-sm-12">
                        <label class="col-sm-1 control-label">类型：</label>
                        <div class="col-sm-2">
                            <label class="i-checks">
                                <input type="radio" name="aa"    ng-click="checkBook('0')" >
                                <i></i>文科
                            </label>
                            <label class="i-checks">
                                <input type="radio" name="aa"    ng-click="checkBook('1')"  checked   >
                                <i></i>理科
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="line line-dashed b-b line-lg"></div>
            <div class="pael-body" ng-init="checkBook('1')">
                <ul   ng-repeat="bookType in list" class="areaBookType" >                            
                        <li> <h3 align="center">{{bookType.testPaperTypeName}}</h3></li>
                        <li><p align="center">{{bookType.provinces}}</p></li>
                        <li><div align="center"><button class=" m-t btn btn-primary " ng-click="open('lg',bookType.testPaperTypeCode)" align="center" >+</button></div></li>          

                </ul>
                <!-- 弹框 model 开始 -->
                <script type="text/ng-template" id="myModelContent.html">
                    <div class="modal-header">
                        <h3 class="modal-title">添加地区</h3>
                    </div>
                    <div class="modal-body" ng-init="load()">
                        <div class="form-group">
                            <ul ng-repeat="data in results" class="areaBox">
                                <li ng-class="{'freeTime':ngclick}" ng-click="ngclick = !ngclick">
                                     <a ng-click="selected = save(data.provinceCode)" ng-model="areaName" >{{data.provinceName}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">                       
                        <button class="btn btn-primary" ng-click="saveresult()" ng-disabled="isSubmitted">
                        确认
                        </button>
                        <button class="btn btn-warning" ng-click="cancel()">退出</button>
                    </div>
                </script>
                <!-- 弹框 model 结束 -->
            </div>
        </div>
    </div>
</div>
<style>
ul.areaBox{display: inline-block;padding:0;}
ul.areaBox li{border:1px solid #ccc;float:left;padding:6px 10px;font-size:14px;border-radius:4px;margin:4px;}
</style>
