<div class="wrapper-md" ng-controller="ChangeCourseTypeCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>教研管理 &gt; 更换课程类型</h4>
            <div>{{formData}}</div>
        </div>
        <div class="wrapper">
            <div class="">
                <div class="input-group  col-sm-4">
                    <input type="text" class="form-control" ng-model="formData.studentName" placeholder="学生姓名">
                    <span class="input-group-btn"><button class="btn btn-primary" ng-click="query('1')">&nbsp;查&nbsp;&nbsp;询&nbsp;</button></span>
                </div>
                <div class="line line-dashed b-b line-lg"></div>
                <!-- <div class="form-group col-sm-12">
                     <label class="col-sm-1 control-label">课程类型：</label>
                     <div class="col-sm-2">
                         <select ng-model="formData.courseType" class="form-control" ng-options="c.name for c in courseTypeAll">
                             <option value="">&#45;&#45;请选择&#45;&#45;</option>
                         </select>
                     </div>
                 </div>-->
                <div class="line line-dashed b-b line-lg"></div>
                <div class="form-group col-sm-12">
                    <label class="col-sm-1 control-label">总校：</label>
                    <div class="col-sm-2">
                        <select ng-model="formData.masterSchool" class="form-control" ng-init="initMasterSchool()" ng-options="m.name for m in masterSchoolList" ng-change="getBranchSchoolList(formData.masterSchool.code);formData.branchSchool=''">
                            <option value="">--请选择--</option>
                        </select>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg"></div>
                <div class="form-group col-sm-12">
                    <label class="col-sm-1 control-label">分校：</label>
                    <div class="col-sm-2">
                        <select ng-model="formData.branchSchool" class="form-control" ng-options="b.name for b in branchSchoolList" ng-change="getDistrictSchoolList(formData.branchSchool.code);formData.districtSchool=''">
                            <option value="">--请选择--</option>
                        </select>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg"></div>
                <div class="form-group col-sm-12">
                    <label class="col-sm-1 control-label">学区：</label>
                    <div class="col-sm-2">
                        <select ng-model="formData.districtSchool" class="form-control" ng-options="d.name for d in districtSchoolList" ng-change="getDepartmentSchoolList(formData.districtSchool.code);formData.departmentSchool=''">
                            <option value="">--请选择--</option>
                        </select>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg"></div>
                <div class="form-group col-sm-12">
                    <label class="col-sm-1 control-label">学部：</label>
                    <div class="col-sm-2">
                        <select ng-model="formData.departmentSchool" class="form-control" ng-options="d.name for d in departmentSchoolList" ng-change="getCentreSchoolList(formData.departmentSchool.code);formData.centreOfSchool=''">
                            <option value="">--请选择--</option>
                        </select>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg"></div>
                <div class="form-group col-sm-12">
                    <label class="col-sm-1 control-label">中心：</label>
                    <div class="col-sm-2">
                        <select ng-model="formData.centreOfSchool" class="form-control" ng-options="c.name for c in centreOfSchoolList" ng-change="getClassAndGrade(formData.centreOfSchool.code);formData.classAndGrade=''">
                            <option value="">--请选择--</option>
                        </select>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg"></div>
                <div class="form-group col-sm-12">
                    <label class="col-sm-1 control-label">班级：</label>
                    <div class="col-sm-2">
                        <select ng-model="formData.classAndGrade" class="form-control" ng-options="c.name for c in classAndGradeList" >
                            <option value="">--请选择--</option>
                        </select>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg"></div>

            </div>
        </div>
        <div class="table-responsive">
            <div ng-controller="categoryCtrl">
                <script type="text/ng-template" id="myModalContent.html">
                    <div ng-include="'admin/common/tpl/changeCourseType.html'"></div>
                </script>
            </div>
            <table class="table table-striped b-t b-light">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>学生姓名</th>
                    <th>保分目标</th>
                    <th>考生类型</th>
                    <th>上课类型</th>
                    <th>课程类型</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody >
                <tr ng-repeat="item in studentList.list track by $index">
                    <td>
                        <label class="i-checks i-checks-sm">
                            <input type="checkbox"><i></i>{{$index+1}}
                        </label>
                    </td>
                    <td>{{item.name}}</td>
                    <td>{{item.goalType | translator:aimTypesAll:'id':'aimName'}}</td>
                    <td>{{item.type| translator:studentTypeAll:'studentTypeCode':'studentTypeName'}}</td>
                    <td>{{item.courseType|translator:courseTypeAll:'code':'name'}}</td>
                    <td>{{item.artType| translator : departmentTypeAll :'departmentType':'departmentName'}}</td>
                    <td>
                        <!-- 更换课程类型 modal -->
                        <div ng-controller="categoryCtrl">
                            <button class="btn btn-primary" ng-click="changeDepartmentType(item)">更换</button>
                        </div>
                        <!-- 更换课程类型/modal -->
                    </td>
                </tr>
                </tbody>
                <tfood>
                    <tr>
                        <td colspan="13" class="text-center">
                            <!-- 指令调用代码-->
                            <!--  <xl-page size="5" method="query" class="text-center"></xl-page>-->
                            <!--指令模板（pagination.html）-->
                            <div class="center-block">
                                <ul class="pagination">
                                    <li ng-repeat="p in pagination" class="{{p.className}}">
                                        <a ng-click="query({{p.page}},'{{p.className}}{{p.edge==null?'':'e'}}')">{{p.name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tfood>
            </table>
        </div>
    </div>
</div>
