<div class="wrapper-md" ng-controller="ConfromToVipCtrl" id="confromToVip">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>{{formData}} &gt; 符合VIP报分 短板分析</h4>
        </div>
        <div class="wrapper">
            <div class="panel-heading m-b-xl">
                <form action="" class="ConfromToVipCtrl_form" >
                    <div class="radio form-group col-sm-12">
                        <label class="col-sm-1 control-label">类型：</label>
                        <div class="radio">
                            <label class="i-checks" ng-repeat="(key, val) in departmentType track by $index">
                                <input type="radio" name="departmentType" ng-value='val.departmentType' ng-model="formData.departmentType" ng-click="getSubject(val.departmentType)"  ng-change="checked(formData.departmentType,'departmentType')">
                                <i></i>{{val.departmentName}}
                            </label>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg"></div>
                    <div class="radio form-group col-sm-12">
                        <label class="col-sm-1 control-label">短板状态：</label>
                        <div class="radio">
                            <label class="i-checks">
                                <input type="radio" name="isShortlabStatus" ng-value="'0'" ng-change="checked(formData.shortState,'isShortlabStatus')" ng-model="formData.isShortlabStatus">
                                <i></i>已分析
                            </label>
                            <label class="i-checks">
                                <input type="radio" name="isShortlabStatus" ng-value="'1'"  ng-change="checked(formData.shortState,'isShortlabStatus')" ng-model="formData.isShortlabStatus">
                                <i></i>未分析
                            </label>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg"></div>
                    <div class="radio form-group col-sm-12">
                        <label class="col-sm-1 control-label">地区：</label>
                        <div class="col-sm-2">
                            <select name="city" class="form-control input-sm" ng-model="formData.city" ng-click="checked(obj.provinceCode,'city')" ng-options="obj.provinceCode as obj.provinceName for obj in cityAll"  ng-selected="formData.city">
                            </select>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg"></div>
                    <div class="radio form-group col-sm-12">
                        <label class="col-sm-1 control-label">总分数:</label>
                        <div class="col-sm-2">
                            <input type="text" name="totalStart" class="form-control input-sm" ng-change="checked(formData.totalStart,'totalStart')" ng-model="formData.totalStart">
                        </div>
                        <label class="col-sm-1" style="width:10px">-</label>
                        <div class="col-sm-2">
                            <input type="text" name="totalEnd" class="form-control input-sm" ng-change="checked(formData.totalStart,'totalStart')" ng-model="formData.totalEnd">
                        </div>
                        <span class="btn m-b-xs w-xs btn-primary pull-right" ng-click="query(1,1,null)">查询</span>
                    </div>
                </form>
            </div>
            <div class="line line-dashed b-b line-lg"></div>
            <div class="table-responsive">
                <div class="radio"><b>排序</b>
                    <label class="i-checks">
                        <input type="radio" name="sort" ng-value="0" ng-model="sortValue" ng-change="arrsort(sortValue)">
                        <i></i>正序排序
                    </label>
                    <label class="i-checks">
                        <input type="radio" name="sort" ng-value="1" ng-model="sortValue" ng-change="arrsort(sortValue)">
                        <i></i>倒序排序
                    </label>
                </div>
                <div class="line line-dashed b-b line-lg"></div>
                <div class="radio form-group col-sm-12">
                    <label class="col-sm-1 control-label" for="input-id-1">目标：</label>
                    <div class="radio">
                        <label class="i-checks" ng-repeat="obj in aimTypes track by $index">
                            <input type="radio" name="aimType" ng-value="obj.aimType" ng-model="formData.aimType" ng-click="target(formData.aimType)">
                            <i></i>{{obj.aimName}}
                        </label>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg"></div>
                <table class="table table-striped b-t b-light" id="confromToVipTbody">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>用户名</th>
                        <th>姓名</th>
                        <th>类型</th>
                        <th>考试时间</th>
                        <th>总分</th>
                        <th>语文</th>
                        <th>数学</th>
                        <th>英语</th>
                        <th>物理</th>
                        <th>化学</th>
                        <th>生物</th>
                        <th>诊断报告</th>
                        <th>上次操作人</th>
                        <th>操作</th>
                        <th>短板</th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="item in result track by $index">
                    <tr>
                        <td data-ng-init="items(item,$index)">{{ $index + 1 }}</td>
                        <td>XXX</td>
                        <td>{{item.studentName }}</td>
                        <td>{{getDepartmentName(item.type)}}</td>
                        <td>{{item.examinationTime }}</td>
                        <td>{{item.totalScore }}</td>
                        <td>{{item.chineseScore }}</td>
                        <td>{{item.mathScore }}</td>
                        <td>{{item.englishScore }}</td>
                        <td>{{item.physicsScore }}</td>
                        <td>{{item.chemistryScore }}</td>
                        <td>{{item.biologyScore }}</td>
                        <td>
                            <button class="btn btn-default">详情</button>
                        </td>
                        <td>XXXX</td>
                        <td>
                            <label class="i-checks const">
                                <input class="isDisable" type="checkbox" data-ng-init="isDisable('confromToVipTbody',item.isWeaknessAffirm,$index)" ng-change="const('confromToVip')" ng-model="checked"><i></i>
                            </label>
                        </td>
                        <td>
                            <div ng-controller="categoryCtrl" data-ng-init="btnSH('confromToVipTbody','btnList',item,$index,'isWeaknessAffirm','已短板诊断')" class="btnList">
                                <button class="" ng-click="open(item)">短板分析</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot class="hide-if-no-paging">
                    <tr>
                        <td colspan="15"></td>
                        <td>
                            <span>已选{{num}}人</span>
                            <label class="i-checks constAll">
                                <input type="checkbox" ng-model="checkeds" ng-change="constAll('confromToVip')"><i></i> 全选
                            </label>
                        </td>
                        <td>
                            <div ng-controller="categoryCtrl">
                                <script type="text/ng-template" id="myModalContent.html">
                                    <div ng-include="'admin/common/tpl/shortBoardHXY.html'"></div>
                                </script>
                                <button class="" ng-click="open(result)">批量短板分析</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="16" class="text-center">
                            <!-- 指令调用代码-->
                            <xl-page size="1" method="query" class="text-center"></xl-page>
                            <!--指令模板（pagination.html）-->
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <button class=" m-t btn btn-primary pull-right" ng-click="open('lt')">无需短板(待确认)</button>
        </div>
    </div>
</div>
