<div class="wrapper-md" ng-controller="AbnTestController">
  <div class="panel panel-default">
    <div class="wrapper">
        <div class="table-responsive ">
            <table class="table table-striped b-t b-light">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>课程名称</th>
                    <th>学科</th>
                    <th>课程类型</th>
                    <th>班型</th>
                    <!--<th>适用考生类型</th>-->
                    <th>操作</th>
                </tr>
                </thead>
                <tbody> <!---->
                <tr  ng-repeat="data in results.list" >
                    <td>{{$index+1}}</td>
                    <td>{{data.courseName}}</td>
                    <td>{{data.subjectCode}}</td>
                    <td>{{data.courseSystemType}}</td>
                    <td>{{data.classType }}</td>
                    <!--<td>统考</td>-->
                    <td>
                        <label class="i-checks">
                            <input type="radio" ng-model="formData.course" value={{data}}><i></i>
                        </label>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="9" class="text-center">
                        <!-- 指令调用代码
                        <xl-page size="10" method="getList" class="text-center"></xl-page>-->
                        <!-- 指令模板[pagination.html] -->
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
  </div>
</div>
