<div class="wrapper-md" ng-controller="CourseListCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>教研管理 &gt; 课程管理 
                <button type="button" class="pull-right btn btn-primary" ui-sref='app.teachResearchManage.createCourse'>新增课程体系
                </button>
           
            </h4>
        </div>
        <div class="wrapper">
            <form class="form-horizontal" ng-init="load()">
                <div class="panel-select">
                    <!--<div class="form-group">
                        <label class="col-sm-2 control-label">考生类型：</label>
                        <div class="radio">
                            <label class="i-checks" ng-repeat="(key, val) in departmentType track by $index">
                                <input type="radio" name="departmentType" ng-value='{{val.departmentType}}' ng-click="getSubject(val.departmentType)"><i></i>{{val.departmentName}}
                            </label>
                            &lt;!&ndash; ng-model="formData.departmentType" &ndash;&gt;
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">目标类型：</label>
                        <div class="radio">
                            <label class="i-checks" ng-repeat="(key, val) in aimTypes track by $index">
                                <input type="radio" name="category_code" ng-value='{{val.id}}' ng-model="formData.aimType" ng-click="getCtb(val.id)"><i></i>{{val.aimName}}{{val.id}}
                            </label>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">班型：</label>
                        <div class="radio">
                            <label class="i-checks" ng-repeat="(key, val) in ctb_group track by $index">
                                <input type="radio" name="ctb_code" ng-value='{{val.classType}}' ng-model="formData.classType"><i></i>{{val.ct_name}} {{val.classType}}
                            </label>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">学科：</label>
                        <div class="radio">
                            <label class="i-checks" ng-repeat="(key, val) in category track by $index">
                                <input type="radio" name="subjectCode" ng-value='val.subjectCode' ng-model="formData.subjectCode"><i></i>{{val.subjectName}}
                                <!-- ng-click="getSubjectName(val.subjectName)" -->
                            </label>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <button class="pull-right btn btn-primary" ng-click="getList(1,10)"><span class="p-d">查询</span></button>
                </div>
            </form>
        </div>
        <!-- ng-if="data.total_count>0" -->
        <div class="table-responsive ">
            <table class="table table-striped b-t b-light">
                <thead>
                    <tr>
                        <th>
                            <label class="i-checks m-b-none">
                                <!-- <input type="checkbox" ng-click="selectAll()"><i></i> -->
                            </label>序号
                        </th>
                        <th>课程名称</th>
                        <th>学科</th>
                        <th>课程类型</th>
                        <th>班型</th>
                        <th>适用考生类型</th>
                        <th>封面</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody> <!---->
                    <tr  ng-repeat="data in results.list" >
                        <td>{{$index+1}}</td>
                        <td>{{data.courseName}}</td>
                        <td>{{data.subjectCode}}</td>
                        <td>{{data.courseSystemType}}</td>
                        <td>{{classTypeName}}</td>
                        <td>统考</td>
                        <td>{{data.courseImgUrl}}</td>
                        <td>{{data.createTime | date : 'yyyy-MM-dd HH:mm:ss'}}<!--{{data.code}}--></td>
                        <!-- ui-sref="app.teachResearchManage.courseDetail({id:data.id})" -->
                        <td>
                            <button class="btn btn-primary" ui-sref="app.teachResearchManage.courseDeatil({courseSystemCode:data.code})"><span class="p-d">详情</span></button>
                            <button class="btn btn-primary" ng-click="open('lg',{courseCode:data.code,subjectCode:data.subjectCode})"><span class="p-d">分配</span></button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="9" class="text-center">
                            <!-- 指令调用代码 -->
                            <xl-page size="10" method="getList" class="text-center"></xl-page>
                            <!-- 指令模板[pagination.html] -->
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- 弹框 分配老师 -->
        <script type="text/ng-template" id="myModelContent.html">
            <div class="modal-header">
                <h3 class="modal-title">课程体系分配老师</h3>
            </div>
            <div class="modal-body" ng-init="load()">
                <div class="form-group">
                    <label class="col-sm-2 control-label"><b>老师授课类型：</b></label>
                    <div class="radio">
                        <label class="i-checks" ng-repeat="(key, val) in aimTypes track by $index">
                            <input type="radio" name="category_code" ng-value='{{val.id}}' ng-model="teacherGoalType"><i></i>{{val.aimName}}<!--{{val.id}}-->
                        </label>
                    </div>
                </div>
                <div class="line line-solid b-b line-lg pull-in"></div>
                <div>
                    <h4>{{message}}</h4>
                    <label class="i-checks m-b-none"  ng-repeat="data in results">
                        <input type="checkbox" id={{data.code}} type="checkbox" ng-model="x" ng-checked="master" ng-click="chk({code:data.code,name:data.name},x)"><i></i>{{data.name}}
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">
                    <span class="p-d">确认</span>
                </button>
                <button class="btn btn-warning" ng-click="cancel()"><span class="p-d">退出</span></button>
            </div>
        </script>
    </div>
</div>
