<style>
.list-group-item {
    border-radius: 0;
    line-height: 36px;
    font-size: 18px;
    font-weight: bold;
    margin-top:0;
}

</style>
<div class="wrapper-md" ng-controller="DiagListController" >
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>阶段考试用卷</h4>
        </div>
        <div class="wrapper">
            <form class="form-horizontal">
                <div  ng-init="load()">
                    <!--包含公共筛选条件 start-->
                    <div ng-include="'admin/common/tpl/filter.html'"></div>
                    <!--包含公共筛选条件 end-->
                    <p>
                        <button class="btn btn-info" ng-click="getList()"><span class="p-d">查询</span></button>
                    </p>
                    <p>{{stageFormData}}</p>
                    <div class="">
                        <div ng-repeat="data in results.content">
                            <p href  class="list-group-item">
                        {{$index+1}}|{{data.diagnosisPaperName}}|{{data.repositoryPaperCode}}
                        <span class="pull-right"><button class="btn btn-info" ng-click="diagnosisPaperCode(data.repositoryPaperCode)" ><span class="p-d">启用</span></button>
                       <!--  <button class="btn btn-primary m-b" ui-sref='app.teachResearchManage.list'>更换</button> --></span>
                        </p>
                        </div>
                    </div>
                </div>
                <div class="" >
                    <div class="line line-dashed b-b line-lg"></div>
                    
                    <div class="form-group">
                        <!--  ng-model="diagnosis.name" -->
                        <label class="col-sm-2 control-label">诊断名称：</label>
                        <span class="col-sm-6"><input type="text" class="form-control" ng-model="stageFormData.name"  id="text_name" required></span>
                        <span class="col-sm-4"><button class="btn btn-primary m-r" ng-click="getName()">确定</button><button class="btn btn-primary" ng-click="editName()">编辑</button></span>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">第几阶段：</label>
                        <span class="col-sm-6"><select class="form-control" ng-model="stageFormData.stage" ng-options="x.id as x.stageName for x in stageData" ng-value="{{x.stage}}" >
                        </select></span>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">时间段：</label>
                        <div class="controls">
                            <div class="input-prepend input-group">
                                <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                <input type="text" style="width: 400px" name="reservation" id="reservationtime" class="form-control"  class="span4"/>
                                <input type="text"  id="startDate" ng-model="stageFormData.startDate" >
                                <input type="text"  id="endDate" ng-model="stageFormData.endDate" >
                            </div>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <button class="btn btn-primary pull-right" ng-click="createStage(stageFormData)">确定阶段考用卷</button>
                </div>
            </form>
            <script type="text/javascript">
            $(document).ready(function() {
                $('#reservationtime').daterangepicker({
                    timePicker: true,
                    timePickerIncrement: 30,
                    format: 'MM/DD/YYYY h:mm A',
                    pickerPosition: "bottom-top"
                }, function(start, end, label) {
                    var d = new Date(start.toISOString());
                     var end = new Date(end.toISOString());
                var startDate  = d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate() + ' ' + d.getHours() + ':' + d.getMinutes() + ':' + d.getSeconds(); var endDate = end.getFullYear() + '-' + (end.getMonth() + 1) + '-' + end.getDate() + ' ' + end.getHours() + ':' + end.getMinutes() + ':' + end.getSeconds(); 
                console.log(startDate,endDate);
                $("#startDate").val(startDate);
                $("#endDate").val(endDate);

                });
                

            });
            </script>
        </div>
    </div>
</div>
