<style>
.list-group-item {
    border-radius: 0;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
}

.list-group .pd {
    padding-left: 50px;
}
</style>
<script src="admin/lib/spark-md5.js"></script>
<script src="admin/lib/async.js"></script>
<script src="admin/lib/upyun-mu.js"></script>
<div class="wrapper-md" ng-controller="CreateCourseController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>新增课程</h4>
        </div>
        <div class="wrapper">
            <pre>{{formData}}</pre>
            <form class="form-horizontal" ng-init="load()">
                <!--包含公共筛选条件 start-->
                <!-- <div  ng-include="'admin/common/tpl/filter.html'"></div> -->
                <!--包含公共筛选条件 end-->
                <div ng-include="'admin/common/tpl/filter.html'"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">保分类型：</label>
                    <div class="radio">
                        <label class="i-checks" ng-repeat="(key, val) in CourseAimData track by $index">
                            <input type="radio" name="category_code" ng-value='val.category_code' ng-model="formData.bigCategoriesCode" ng-click="getCtb(val.id)"><i></i>{{val.category_name}} <!--| {{val.id}} | {{val.category_code}}-->
                        </label>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">班型：</label>
                    <div class="radio">
                        <label class="i-checks" ng-repeat="(key, val) in ctb_group track by $index">
                            <input type="radio" name="ctb_code" ng-value='val.ctb_code' ng-click="getClassType(val.classType)" ng-model="formData.categoriesCode"><i></i>{{val.ct_name}}<!-- |{{val.ctb_code}} |{{val.classType}}-->
                        </label>
                    </div>
                     <input type="hidden" ng-model="formData.classType" ng-value="val.classType"><i></i> {{val.classType}}
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <p class="pull-right">
              <!--   "categoriesCode":$scope.formData.categoriesCode,
                          "bigCategoriesCode": $scope.formData.bigCategoriesCode,
                          "gradeCode": $scope.formData.gradeCode,
                          "subjectCode": $scope.formData.subjectCode,
                          "bookType": "170a286029b24ed78626c5203fc1c816"  -->
                    <button class=" btn btn-primary" ng-click="open('lg',{bookType:formData.bookVersionCode,categoriesCode:formData.categoriesCode,bigCategoriesCode:formData.bigCategoriesCode,gradeCode:33,subjectCode:formData.subjectCode},'getPapersByCourseCtrl')"><span class="p-d">查询</span></button>
                </p>
            </form>
            <script type="text/ng-template" id="myModelContent.html">
                <div class="modal-header">
                    <h3 class="modal-title">列表</h3>
                </div>
                <div class="modal-body"  ng-init="load()">
                    <div class="table-responsive">
                        <h4>{{message}}</h4>
                        <table class="table table-striped b-t b-light" ng-if="results != null">
                            <thead>
                                <tr>
                                    <th>学科</th>
                                    <th>诊断试卷名称</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody >
                                <tr ng-repeat="data in results.smallList">
                                    <td>{{subjectName}}</td>
                                    <td>{{data.name}}</td>
                                    <td>
                                        <button class="btn btn-default" ng-click="GetResourcePaperCode(data.id)"><span class="p-d">选用</span></button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="8" class="text-center">
                                        <!--  指令调用代码 -->
                                        <xl-page size="10" method="load" class="text-center"></xl-page>
                                        <!-- 指令模板[pagination.html] -->
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="ok()">确认</button>
                    <button class="btn btn-warning" ng-click="cancel()">退出</button>
                </div>
            </script>
            <div class="">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="data in results.smallList">
                        <label class="i-checks">
                            <input type="radio" name="aaa" value="{{data.id}}" checked="checked" ng-model="formData.repositoryCourseCode">
                            <i></i>
                        </label><span class="pd">{{data.name}}</span>
                    </li>
                </ul>
                <div class="">
                    <div class="line line-dashed b-b line-lg"></div>
                    <div class="form-group">
                        <!-- ng-model="diagnosis.name" -->
                        <label class="col-sm-2 control-label">诊断名称：</label>
                        <span class="col-sm-4"><input type="text" class="form-control" ng-model="formData.name"  id="text_name" required ></span>
                        <span class="col-sm-4"><button class="btn btn-primary m-r" ng-click="getName()">确定</button><button class="btn btn-primary" ng-click="editName()">编辑</button></span>
                    </div>
                    <div class="line line-dashed b-b line-lg"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">选择封面：</label>
                        <span class="col-sm-8">
                            <input type="file" name="file" id="file" file-model="myFile" required>
                             <div>
                               <img ng-src="{{formData.coverUrl}}" ng-model="formData.coverUrl" style="max-width:200px;max-height:100px;margin:0 auto;display:block;" />
                           </div> 
                            <button class="btn btn-default pull-right" id="submit" ng-click="submit()" required>上传又拍云图片预览</button>
                            <!-- <div id="log"></div> -->
                        </span>
                    </div>
                    <div class="line line-dashed b-b line-lg"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">描述：</label>
                        <span class="col-sm-8">
                            <textarea placeholder="{{placeholder}}" ng-model="formData.describe" ng-focus="focus()" ng-blur="blur()" class="form-control" rows="6" cols="20" required>
                            </textarea>
                        </span>
                    </div>
                    <div class="line line-dashed b-b line-lg"></div>
                    <button class="btn btn-primary pull-right" ng-click="AddCourse()">确定课程体系</button>
                </div>
            </div>
        </div>
    </div>
</div>
