<div class="wrapper-md" ng-controller="AddCourseCtrl">
    <div class="panel panel-default">
            <div class="panel-heading">
                <h4>新增课程</h4>
            </div>
        <div class="wrapper">
            <form class="form-horizontal ng-pristine ng-valid ng-valid-date ng-valid-required ng-valid-parse ng-valid-date-disabled" ng-init="load()">
                    <!--包含公共筛选条件 start-->
                    <div  ng-include="'admin/common/tpl/filter.html'"></div>
                    <!--包含公共筛选条件 end-->
                     <div class="form-group">
                        <label class="col-sm-2 control-label">目标类型：</label>
                        <div class="radio">
                            <label class="i-checks" ng-repeat="(key, val) in aimTypes track by $index">
                                <input type="radio" name="aimType" ng-value='{{val.aimType}}' ng-model="formData.aimType"><i></i>{{val.aimName}}
                            </label>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <!-- <button class="pull-right btn btn-primary" ng-click="getList()"><span class="p-d">查询</span></button> -->
                </form>
            <div class="">
                <div>
                    <div class="list-group">
                        <a href class="list-group-item">
                            <div class="pull-right"><label>
                                <input type="radio" name="aaa" value="0" checked="checked">
                                <i></i>
                            </label></div>
                            <!-- <i class="fa fa-envelope fa-fw m-r-xs"></i> -->课程体系(一)
                            
                        </a>
                        <a href class="list-group-item">课程体系(二)
                            <div><label class="i-checks">
                                <input type="radio" name="aaa" value="0" checked="checked">
                                <i></i>
                            </label></div>
                            <!-- <i class="fa fa-envelope fa-fw m-r-xs"></i> -->
                            
                        </a>
                    </div>
                </div>
                <div class="">
                    <h4>课程名称</h4>
                    <div class="line line-dashed b-b line-lg"></div>
                    <div class="col-sm-12 m-b">
                        <span class="col-sm-6"><input type="text" class="form-control"></span>
                        <span class="col-sm-6"><button class="btn btn-primary m-r">确定</button><button class="btn btn-primary">编辑</button></span>
                    </div>
                    <div class="line line-dashed b-b line-lg"></div>
                    <div class="col-sm-12 m-b">
                        <section>
                            <div class="col-sm-4">
                                <img src="img/p0.jpg" alt="" width="200" height="120">
                            </div>
                            <div class="col-sm-6">
                                <textarea class="form-control" rows="6" cols="20">
                                    课程介绍说明： （建议教学管理组给出统一模板，创建教师统一复制粘贴统一介绍说明即可）
                                </textarea>
                            </div>
                        </section>
                    </div>
                    <div class="line line-dashed b-b line-lg"></div>
                    <button class="btn btn-primary pull-right">确定课程体系</button>
                </div>
            </div>
        </div>
    </div>
</div>
