<div class="wrapper-md" ng-controller="headSchoolController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>{{name}} &gt; 总校主界面</h4>
        </div>
        <div class="wrapper">
            <div class="text-right"><button class="btn btn-primary btn-margin" ui-sref='app.teachResearchManage.createSchool'>新增总校</button></div>
            <div class="table-responsive">
                <table class="table table-striped b-t b-light">
                    <thead>
                        <th>序号</th>
                        <th>总校名称</th>
                        <th>总校负责人</th>
                        <th>操作</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="headSchool in list">
                            <td>{{$index+1}}</td>
                            <td>{{headSchool.name}}</td>
                            <td>{{headSchool.personCharge}}</td>
                            <td><a ng-click="updateHeadSchool(headSchool)" >编辑</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
