<div class="wrapper-md" ng-controller="GroupListController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>试卷管理&gt;诊断全科试卷
            <button type="button" class="pull-right btn btn-primary" ui-sref="app.teachResearchManage.createDouble">组织全科诊断试卷</button> 
            </h4>
        </div>
        <div class="wrapper">
            <div class="panel-body">
                <!-- <h4>负责监考教师:{{session_user.username}}</h4> -->
                <form class="form-horizontal " ng-init="load()">
                    <!--包含公共筛选条件 start-->
                    <!-- <div  ng-include="'admin/common/tpl/filter.html'"></div> -->
                    <!--包含公共筛选条件 end-->
                   <!-- <pre>
                        {{ formData }}
                    </pre>-->
                    <div class="panel-select">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">类型：</label>
                            <div class="radio">
                                <label class="i-checks" ng-repeat="(key, val) in departmentType track by $index">
                                    <input type="radio" name="departmentType" ng-value='{{val.departmentType}}' ng-model="formData.departmentType"  ng-click="getList(1, 10)"><i></i>{{val.departmentName}}
                                </label>
                            </div>
                        </div>
                       <!-- <div class="line line-dashed b-b line-lg pull-in"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-id-1">教材：</label>
                            <div class="radio">
                                <label class="i-checks" ng-repeat="obj in bookVersion">
                                    <input type="radio" name="bookVersionCode" ng-value="obj.bookVersionCode" ng-model="formData.bookVersionCode">
                                    <i></i>{{obj.bookVersionName}}
                                </label>
                            </div>
                        </div>-->
                    </div>
                    <!--<button class="pull-right btn btn-primary" ng-click="getList(1, 10)"><span class="p-d">查询</span></button>-->
                </form>
            </div>
            <!-- ng-if="data.total_count>0" -->
            <div class="table-responsive">
                <table class="table table-striped b-t b-light">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>文理类别</th>
                            <th>诊断卷名称</th>
                            <th>创建时间</th>
                            <th>创建人</th>
                            <th>封面</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in  results.list">
                            <td>{{$index+1}}</td>
                            <td>{{data.artsType}}</td>
                            <td>{{data.paperName}}</td>
                            <td>{{data.createTime | date : 'yyyy-MM-dd HH:mm:ss' }}</td>
                            <td>{{data.operator}}</td>
                            <td>
                                <img ng-src="{{data.paperImgUrl}}" width="100" height="50" /> </td>
                            <td>{{data.paperStatus}}</td>
                            <td>
                                <button type="button" class="btn btn-primary" ng-click='GetGroupDetail({"complexPaperCode":data.complexCode})'>详情</button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="9" class="text-center">
                                <!-- 指令调用代码 -->
                                <xl-page size="10" method="getList" class="text-center"></xl-page>
                                <!-- 指令模板[pagination.html] -->
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
