<pre>
    {{ formData }}
</pre>
<div class="wrapper-md" ng-controller="MarkReviewController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>教研管理 &gt; 阅卷复审</h4>
        </div>
        <div class="wrapper">
            <form class="form-horizontal ng-pristine ng-valid ng-valid-date ng-valid-required ng-valid-parse ng-valid-date-disabled"  ng-init="load()">
                <!--包含公共筛选条件 start-->
                <div ng-include="'admin/common/tpl/filter.html'"></div>
                <!--包含公共筛选条件 end-->
                <!--<button class="pull-right btn btn-primary" ng-click="getList()"><span class="p-d">查询</span></button>-->
            </form>
            <!-- tab -->
            <div>
                <div id="tabs">
                    <ul>
                        <li ng-repeat="tab in tabs" ng-class="{active:isActiveTab(tab.url)}" ng-click="onClickTab(tab)">{{tab.title}}</li>
                    </ul>
                    <div id="mainView">
                        <div ng-include="currentTab"></div>
                    </div>
                </div>
                <script type="text/ng-template" id="one.tpl.html">
                    <div id="viewOne">
                        <div class="panel-heading">
                            <div class="form-group" style="overflow:hidden;">
                                <label class="col-sm-2 control-label">分数:</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control input-sm" value="60">
                                </div>
                                <label class="col-sm-2 " style="width:10px">-</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control input-sm" value="80">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="line line-dashed b-b line-lg"></div>
                                <label class="col-sm-2 control-label">1判2判差值分数:</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control input-sm" ng-value="70" ng-model="poor1" ng-change="poor(poor1,'poor1')">
                                </div>
                                <label class="col-sm-2 " style="width:10px">-</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control input-sm" ng-value="80" ng-model="poor2" ng-change="poor(poor2,'poor2')">
                                </div>
                            </div>
                            <button type="submit" class="btn m-b-xs w-xs btn-primary" ng-click="query()">查询</button>
                        </div>
                        <!-- <pre>{{choseArr}}</pre> -->
                        <div class="table-responsive">
                            <div class="radio">
                                <b>排序</b>
                                <label class="i-checks">
                                    <input type="radio" name="sort" ng-value="0" ng-model="sortValue" ng-change="arrsort(sortValue)">
                                    <i></i>正序排序
                                </label>
                                <label class="i-checks">
                                    <input type="radio" name="sort" ng-value="1"  ng-model="sortValue" ng-change="arrsort(sortValue)">
                                    <i></i>倒序排序
                                </label>
                            </div>
                            <table class="table table-striped b-t b-light">
                                <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>用户名</th>
                                    <th>姓名</th>
                                    <th>学科</th>
                                    <th>教材</th>
                                    <th>试卷</th>
                                    <th>客观题得分</th>
                                    <th>判卷人(1)得分</th>
                                    <th>判卷人(2)得分</th>
                                    <th>总分</th>
                                    <th>差值</th>
                                    <th>教研复审</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody ng-repeat="item in result track by $index">
                                <tr>
                                    <td>{{$index+1}}</td>
                                    <td>{{item.studentCode}}</td>
                                    <td>{{item.studentCode}}</td>
                                    <td>{{getSubjectName(item.subjectCode,item.subjectType)}}</td>
                                    <td>{{getBookVersionName(item.bookVersionCode,item.subjectType)}}</td>
                                    <td>
                                        <button class="btn btn-default">详情</button>
                                    </td>
                                    <td>{{item.impersonalityScore}}</td>
                                    <td>{{item.subjectivityOneScore}}</td>
                                    <td>{{item.subjectivityTwoScore }}</td>
                                    <td>{{item.diagnosisScore}}</td>
                                    <td>{{D_value(item.subjectivityOneScore,item.subjectivityTwoScore)}}</td>
                                    <td>
                                        <button class="btn btn-primary" ng-click="examine(item)">复审</button>
                                    </td>
                                    <td>
                                        <label class="i-checks">
                                            <input type="checkbox" ng-value="data.selected" ng-checked="selectAll"><i></i> 选择
                                        </label>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot class="hide-if-no-paging">
                                <tr>
                                    <td colspan="11"></td>
                                    <td>
                                        <label class="i-checks">
                                            <input type="checkbox" ng-model="selectAll"><i></i> 全选
                                            {{data.selected}}
                                        </label>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary">通过复审</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="13" class="text-center">
                                        <!-- 指令调用代码-->
                                        <xl-page size="5" method="query" class="text-center"></xl-page>
                                        <!--指令模板（pagination.html）-->
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </script>
                <script type="text/ng-template" id="two.tpl.html">
                    <div id="viewTwo">
                        <div class="panel-heading">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">分数:</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control input-sm" value="60">
                                </div>
                                <label class="col-sm-1 " style="width:10px">-</label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control input-sm" value="80">
                                </div>

                                <button type="submit" class="btn m-b-xs w-xs btn-primary">查询</button>

                            </div>
                        </div>
                        <div class="table-responsive">
                            <div class="radio">
                                <b>排序</b>
                                <label class="i-checks">
                                    <input type="radio" name="sort" value="option1" checked>
                                    <i></i>正序排序
                                </label>
                                <label class="i-checks">
                                    <input type="radio" name="sort" value="option2">
                                    <i></i>倒序排序
                                </label>
                            </div>
                            <table class="table table-striped b-t b-light">
                                <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>用户名</th>
                                    <th>姓名</th>
                                    <th>学科</th>
                                    <th>考试时间</th>
                                    <th>试卷</th>
                                    <th>客观题得分</th>
                                    <th>判卷人(1)得分</th>
                                    <th>判卷人(2)得分</th>
                                    <th>复审得分</th>
                                    <th>总分</th>
                                    <th>教研复审</th>
                                    <th>状态</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>1821058560</td>
                                    <td>XXX</td>
                                    <td>语文</td>
                                    <td>2016.7.28：18：00-19：00</td>
                                    <td>
                                        <button class="btn btn-default">详情</button>
                                    </td>
                                    <td>90分</td>
                                    <td>XXX 100分</td>
                                    <td>XXX 100分</td>
                                    <td>50分</td>
                                    <td>(1)180分 (2)130分 (复)130分</td>
                                    <td>复审:XXX教师</td>
                                    <td>通过复审</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>1821058560</td>
                                    <td>XXX</td>
                                    <td>语文</td>
                                    <td>2016.7.28：18：00-19：00</td>
                                    <td>
                                        <button class="btn btn-default">详情</button>
                                    </td>
                                    <td>90分</td>
                                    <td>XXX 100分</td>
                                    <td>XXX 100分</td>
                                    <td>50分</td>
                                    <td>(1)180分 (2)130分 (复)130分</td>
                                    <td>复审:XXX教师</td>
                                    <td>通过复审</td>
                                </tr>
                                </tbody>
                                <tfoot class="hide-if-no-paging">
                                <tr>
                                    <td colspan="13" class="text-center">
                                        <!-- 指令调用代码-->
                                        <xl-page size="2" method="query" class="text-center"></xl-page>
                                        <!--指令模板（pagination.html）-->
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </script>
            </div>
            <!-- / tab -->
        </div>
    </div>
</div>