<div class="wrapper-md" ng-controller="NotConformCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>教研管理&gt;学生分类 &gt; 不符合名单</h4>
            <div>{{formData}}</div>
        </div>
        <div class="wrapper">
            <div class="panel-heading m-b-xl">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">类型：</label>
                        <label class="i-checks" ng-repeat="st in subjectTypes">
                            <input type="radio" name="aa" ng-checked="$index==0" ng-click="formData.departmentType=st.departmentType">
                            <i></i>{{st.departmentName}}
                        </label>
                       <!-- <label class="i-checks">
                            <input type="radio" name="aa" value="option2" checked>
                            <i></i>理科
                        </label>-->
                    </div>
                    <div class="line line-dashed b-b line-lg"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">地区：</label>
                        <div class="col-sm-2">
                            <select name="account" class="form-control" ng-model="formData.provinceCode" >
                                <option ng-repeat="p in allProvince" value="{{p.provinceCode}}">{{p.provinceName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">总分数：</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" value="" ng-model="formData.lowScore" maxlength="3">
                        </div>
                        <label class="col-sm-2" style="width:10px">-</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" value="" ng-model="formData.highScore" maxlength="3">
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg"></div>
                    <button type="button" class="btn m-b-xs w-xs btn-primary pull-right" ng-click="searchStudent()">查询</button>
                    <div class="input-group  col-sm-4 hidden">
                        <input type="text" class="form-control" placeholder="用户搜索(暂未开放)">
                        <span class="input-group-btn"><button class="btn btn-primary">搜&nbsp;索</button></span>
                    </div>
                </form>
            </div>
            <div class="line line-dashed b-b line-lg"></div>
            <!-- tab -->
            <div>
                 <p>备注：<b>未短板诊断</b>(教研确认需要短板而用户未参加)</p>
                <div id="tabs">
                    <ul>
                        <li ng-repeat="tab in tabs" ng-class="{active:currentTab==tab.url}" ng-click="onClickTab(tab)">{{tab.title}}</li>
                    </ul>
                    <div id="mainView">
                        <div ng-include="currentTab"></div>
                    </div>
                </div>
                <script type="text/ng-template" id="one.tpl.html">
                    <div id="viewOne">
                        <!-- <pre>{{choseArr}}</pre> -->
                        <div class="table-responsive">
                            <table class="table table-striped b-t b-light">
                                <thead>
                                    <tr >
                                        <th>序号</th>
                                        <th>用户名</th>
                                        <th>姓名</th>
                                        <th>考试时间</th>
                                        <th>总分</th>
                                        <th>数学</th>
                                        <th>语文</th>
                                        <th>英语</th>
                                        <th>物理</th>
                                        <th>化学</th>
                                        <th>生物</th>
                                        <th>地区</th>
                                        <th>电话通知确认</th>
                                        <th>备注赠送课程</th>
                                        <th>上次操作人</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="st in studentsList">
                                        <th>{{$index+1}}</th>
                                        <th>{{st.studentCode}}</th>
                                        <th>{{st.studentName}}</th>
                                        <th>{{st.examinationTime }}</th>
                                        <th>{{st.maxTotalScore }}</th>
                                        <th>{{st.mathScore }}</th>
                                        <th>{{st.chineseScore }}</th>
                                        <th>{{st.englishScore}}</th>
                                        <th>{{st.physicsScore }}</th>
                                        <th>{{st.chemistryScore }}</th>
                                        <th>{{st.biologyScore }}</th>
                                        <th>{{st.areaName }}</th>
                                        <th>电话通知确认</th>
                                        <th>备注赠送课程</th>
                                        <th>上次操作人</th>
                                        <td>
                                            <a>查看</a>
                                        </td>
                                    </tr>
                                   <!-- <tr>
                                        <td>2</td>
                                        <td>1821058560</td>
                                        <td>XXX</td>
                                        <td>2016.7.28：18：00-19：00</td>
                                        <td>430分</td>
                                        <td>90分</td>
                                        <td>100分</td>
                                        <td>100分</td>
                                        <td>180分</td>
                                        <td>50分</td>
                                        <td>100分</td>
                                        <td>北京</td>
                                        <td>已确认</td>
                                        <td>已赠送</td>
                                        <td>XXXX</td>
                                        <td>
                                            <a>查看</a>
                                        </td>
                                    </tr>-->
                                </tbody>
                                <tfoot class="hide-if-no-paging">
                                    <tr>
                                        <td colspan="16" class="text-center">
                                            <!-- <ul class="pagination"> -->
                                            <!-- pagination -->
                                            <!--<div ng-controller="PaginationDemoCtrl" class="m-t-md">
                                                <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="m-t-none m-b"></pagination>
                                            </div>-->
                                            <!-- / pagination -->
                                            <!-- </ul> -->
                                            <div class="center-block">
                                                <ul class="pagination">
                                                    <li ng-repeat="p in pagination" class="{{p.className}}">
                                                        <a ng-click="getStudentList({{p.page}},'{{p.className}}{{p.edge==null?'':'e'}}')">{{p.name}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </script>
                <script type="text/ng-template" id="two.tpl.html">
                    <div id="viewTwo">
                         <p>
                             <label>短板学科：</label>
                             <select class="input-sm form-control w-sm inline v-middle" ng-model="formData.shortSubjectCode" ng-options="ss.subjectCode as ss.subjectName for ss in shortSubjects" ng-change="getStudentList(1)">
                             </select>
                        </p>
                        <div class="table-responsive">
                           
                            <table class="table table-striped b-t b-light">
                                <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>用户名</th>
                                        <th>姓名</th>
                                        <th>考试时间</th>
                                        <th>总分</th>
                                        <th>数学</th>
                                        <th>语文</th>
                                        <th>英语</th>
                                        <th>物理</th>
                                        <th>化学</th>
                                        <th>生物</th>
                                        <th>短板学科</th>
                                        <th>备注</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>1821058560</td>
                                        <td>XXX</td>
                                        <td>2016.7.28：18：00-19：00</td>
                                        <td>430分</td>
                                        <td>90分</td>
                                        <td>100分</td>
                                        <td>100分</td>
                                        <td>180分</td>
                                        <td>50分</td>
                                        <td>100分</td>
                                        <td>英语</td>
                                        <td>不参加短板诊断</td>
                                        <td> 未参加</td>
                                        <td>
                                            <a>试卷详情</a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot class="hide-if-no-paging">
                                    <tr>
                                        <td colspan="16" class="text-center">
                                            <!-- <ul class="pagination"> -->
                                            <!-- pagination -->
                                           <!-- <div ng-controller="PaginationDemoCtrl" class="m-t-md">
                                                <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="m-t-none m-b"></pagination>
                                            </div>-->
                                            <!-- / pagination -->
                                            <!-- </ul> -->
                                            <div class="center-block">
                                                <ul class="pagination">
                                                    <li ng-repeat="p in pagination" class="{{p.className}}">
                                                        <a ng-click="getStudentList({{p.page}},'{{p.className}}{{p.edge==null?'':'e'}}')">{{p.name}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </script>
                <script type="text/ng-template" id="three.tpl.html">
                    <div id="viewThree">
                         <p>
                             <label>短板学科：</label>
                  <!--           <select name="centers" class="form-control" ng-model="formData.center" ng-click="checked(obj.code,'center')" ng-options="obj.code as obj.name for obj in centerAll" ng-change="getClasses(formData.center)" ng-click="first()" ng-selected="formData.center">
                             </select>-->
                             <select class="input-sm form-control w-sm inline v-middle" ng-model="formData.shortSubjectCode" ng-options="ss.subjectCode as ss.subjectName for ss in shortSubjects" ng-change="getStudentList(1)">
                             </select>

                        </p>
                        <div class="table-responsive">
                            <table class="table table-striped b-t b-light">
                                <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>用户名</th>
                                        <th>姓名</th>
                                        <th>考试时间</th>
                                        <th>总分</th>
                                        <th>数学</th>
                                        <th>语文</th>
                                        <th>英语</th>
                                        <th>物理</th>
                                        <th>化学</th>
                                        <th>生物</th>
                                        <th>短板学科</th>
                                        <th>参加分数</th>
                                        <th>需加课时</th>
                                        <th>备注</th>
                                        <th>状态</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>1821058560</td>
                                        <td>XXX</td>
                                        <td>2016.7.28：18：00-19：00</td>
                                        <td>430分</td>
                                        <td>90分</td>
                                        <td>100分</td>
                                        <td>100分</td>
                                        <td>180分</td>
                                        <td>50分</td>
                                        <td>100分</td>
                                        <td>英语</td>
                                        <td>100分</td>
                                        <td>50课时 <a>修改</a></td>
                                        <td>课时太多</td>
                                        <td> 拒绝</td>
                                    </tr>
                                </tbody>
                                <tfoot class="hide-if-no-paging">
                                    <tr>
                                        <td colspan="16" class="text-center">
                                            <!-- <ul class="pagination"> -->
                                            <!-- pagination -->
                                           <!-- <div ng-controller="PaginationDemoCtrl" class="m-t-md">
                                                <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="m-t-none m-b"></pagination>
                                            </div>-->
                                            <!-- / pagination -->
                                            <!-- </ul> -->
                                            <div class="center-block">
                                                <ul class="pagination">
                                                    <li ng-repeat="p in pagination" class="{{p.className}}">
                                                        <a ng-click="getStudentList({{p.page}},'{{p.className}}{{p.edge==null?'':'e'}}')">{{p.name}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </script>
            </div>
            <!-- / tab -->
        </div>
    </div>
</div>
