<div class="wrapper-md" ng-controller="SBConfrimCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>{{name}} &gt; 短板确认</h4>
        </div>
        <div class="wrapper">
            <div class="panel-heading m-b-xl">
                <form action="">
                    <div class="radio form-group col-sm-12">
                        <label class="col-sm-1 control-label">类型：</label>
                        <div class="col-sm-2"><label class="i-checks">
                            <input type="radio" name="aa" value="option1">
                            <i></i>文科
                        </label>
                            <label class="i-checks">
                                <input type="radio" name="aa" value="option2" checked>
                                <i></i>理科
                            </label></div>
                    </div>
                    <div class="line line-dashed b-b line-lg"></div>
                    <div class="radio form-group col-sm-12">
                        <label class="col-sm-1 control-label">学科：</label>
                        <div class="radio">
                            <label class="i-checks" ng-repeat="(key, val) in category track by $index">
                                <input type="radio" name="subjectCode" ng-value='val.subjectCode' ng-model="formData.subjectCode" ng-click="getSubjectName(val.subjectName)" ng-change="checked(formData.subjectCode,'subjectCode')">
                                <i></i>{{val.subjectName}}
                            </label>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg"></div>
                    <div class="radio form-group col-sm-12">
                        <label class="col-sm-1 control-label" for="input-id-1">教材：</label>
                        <div class="radio">
                            <label class="i-checks" ng-repeat="obj in bookVersion track by $index">
                                <input type="radio" name="bookVersionCode" ng-value="obj.bookVersionCode" ng-model="formData.bookVersionCode" ng-change="checked(formData.bookVersionCode,'bookVersionCode')">
                                <i></i>{{obj.bookVersionName}}
                            </label>
                        </div>
                        <span class="btn m-b-xs w-xs btn-primary pull-right" ng-click="query()">查询</span>
                    </div>
                    <div class="line line-dashed b-b line-lg"></div>
                </form>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-1 control-label">地区:</label>
                <div class="col-sm-2">
                    <select name="account" class="form-control input-sm">
                        <option>全部</option>
                        <option>北京</option>
                    </select>
                </div>
            </div>
            <div class="line line-dashed b-b line-lg"></div>
            <div class="table-responsive">
                <div class="radio form-group col-sm-12">
                    <label class="col-sm-1 control-label" for="input-id-1">目标：</label>
                    <div class="p-d">
                        <label class="i-checks" ng-repeat="obj in aimTypes track by $index">
                            <input type="radio" name="aimType" ng-value="obj.aimType" ng-model="formData.aimType" ng-click="target(formData.aimType)">
                            <i></i>{{obj.aimName}}
                        </label>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg"></div>
                <table class="table table-striped b-t b-light">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>用户名</th>
                        <th>姓名</th>
                        <th>学年</th>
                        <th>类型</th>
                        <th>学科</th>
                        <th>教材</th>
                        <th>目标类型</th>
                        <th>是否参加短板</th>
                        <th>是否同意添加课时</th>
                        <th>考试类型</th>
                        <th>主观题得分</th>
                        <th>客观题得分</th>
                        <th>状态</th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="item in result track by $index">
                    <tr>
                        <td> <label class="i-checks">
                            <input type="checkbox" ng-checked="selectAll"><i></i>
                        </label>{{$index+1}}</td>
                        <td>{{item.userName }}</td>
                        <td>{{item.studentName }}</td>
                        <td>{{item.gradeName}}</td>
                        <td>{{getDepartmentName(item.subjectType)}}</td>
                        <td>{{getSubjectName(item.subjectCode,item.subjectType)}}</td>
                        <td>{{getBookVersionName(item.bookVersionCode,item.subjectType)}}</td>
                        <td>{{getAimData(item.targetType)}}</td>
                        <td>{{isAddClass(item.isAgreeJoinVulnerability) }}</td>
                        <td>{{getExamType(item.examType)}}</td>
                        <td>{{item.subjectivityScore}}</td>
                        <td>{{item.impersonalityScore}}</td>
                        <td><button class="btn btn-default" ng-click="getJuan(item.eduStudentDiagnoseResultCode )">详情</button></td>
                        <td>{{isAddShort(item.isAgreeJoinVulnerability)}}</td>
                    </tr>
                    </tbody>
                    <tfoot class="hide-if-no-paging">
                    <tr>
                        <td colspan="14"></td>
                        <td>
                            <span>已选100人</span>
                            <label class="i-checks">
                                <input type="checkbox" ng-model="selectAll"><i></i> 全选
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="15" class="text-center">
                            <!-- 指令调用代码-->
                            <xl-page size="2" method="query" class="text-center"></xl-page>
                            <!--指令模板（pagination.html）-->
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <!-- 学科用卷 modal -->
            <div ng-controller="categoryCtrl" class="pull-right">
                <script type="text/ng-template" id="myModalContent.html">
                    <div ng-include="'admin/common/tpl/shortBoardDiag.html'"></div>
                </script>
                <button class="btn btn-primary" ng-click="open('lg')">学科用卷</button>
            </div>
            <!-- 学科用卷/modal -->
        </div>
    </div>
</div>
