<div class="wrapper-md" ng-controller="SBAddClassCtrl" id="shortBoardAddClass">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>{{name}} &gt; 短板加课时排课</h4>
        </div>
        <div class="wrapper">
            <div class="panel-select">
                <!--<table class="table">
                    <tr>
                        <td width="8%">学年:</td>
                        <td>高考</td>
                    </tr>
                    <tr>
                        <td>类型:</td>
                        <td>
                            <div class="radio">
                                <label class="i-checks">
                                    <input type="radio" name="e" value="option1" checked="checked" >
                                    <i></i>文科
                                </label>
                                <label class="i-checks">
                                    <input type="radio" name="e" value="option2" >
                                    <i></i>理科
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>学科:</td>
                        <td>
                            <div class="radio">
                                <label class="i-checks" ng-repeat="(key, val) in category track by $index">
                                    <input type="radio" name="subjectCode" ng-value='val.subjectCode' ng-model="formData.subjectCode" ng-click="getSubjectName(val.subjectName)" ng-change="checked(formData.subjectCode,'subjectCode')">
                                    <i></i>{{val.subjectName}}
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>教材:</td>
                        <td>
                            <div class="radio">
                                <label class="i-checks" ng-repeat="obj in bookVersion track by $index">
                                    <input type="radio" name="bookVersionCode" ng-value="obj.bookVersionCode" ng-model="formData.bookVersionCode" ng-change="checked(formData.bookVersionCode,'bookVersionCode')">
                                    <i></i>{{obj.bookVersionName}}
                                </label>
                            </div>

                        </td>
                    </tr>
                </table>-->
                <!--select start-->
                <form class="form-horizontal"  ng-init="load()">
                    <!--包含公共筛选条件 start-->
                    <div ng-include="'admin/common/tpl/filter.html'"></div>
                    <!--包含公共筛选条件 end-->
                </form>
                <!-- select close -->
            </div>
            <div class="table-responsive">
                <div class="form-group">
                    <label class="control-label">目标：</label>
                    <div class="radio-inline">
                        <label class="i-checks" ng-repeat="obj in aimTypes track by $index">
                            <input type="radio" name="aimType" ng-model="formData.aimType" value={{obj.id}} >
                            <i></i>{{obj.aimName}}
                        </label>
                    </div>
                    <button class="btn m-b-xs w-xs btn-primary pull-right btn-margin" ng-click="query(1,3,null)">查询</button>
                </div>
                <table class="table table-striped b-t b-light">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>用户名</th>
                        <th>姓名</th>
                        <th>学科</th>
                        <th>考试时间</th>
                        <th>试卷</th>
                        <th>客观题得分</th>
                        <th>主观分</th>
                        <th>总分</th>
                        <th>诊断报告</th>
                        <th>操作人</th>
                        <th>联系</th>
                        <th>家长</th>
                        <th>短板诊断得分</th>
                        <th>上课内容</th>
                        <th>课时</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in result track by $index">
                        <td class="index">{{$index+1}}</td>
                        <td>{{item.userName}}</td>
                        <td>{{item.studentName }}</td>
                        <td>{{getSubjectName(item.subjectCode,item.subjectType )}}</td>
                        <td>2016.7.28：18：00</td>
                        <td><span class="btn btn-primary" ng-click="getPaper(item.diagnosisPaperCode)">详情</span></td>
                        <td>{{item.impersonalityScore }}</td>
                        <td>{{item.subjectivityScore}}</td>
                        <td>--</td>
                        <td><button class="btn btn-primary">详情</button></td>
                        <td>{{item.operator }}</td>
                        <td>{{item.mobile }}</td>
                        <td>{{item.parent }}</td>
                        <td>--</td>
                        <td><button class="btn btn-primary" ng-click='addCourse(item)'>添加课程</button></td>
                        <td class="shortBoardHour" data-ng-init="btnSH('shortBoardAddClass','shortBoardHour',item,$index,'addHourNumber',item.addHourNumber+'课时')"><button class="btn btn-default" ng-click="addHour(item.eduVulnerabilityAnalyzeRecordCode)">添加课时</button></td>
                    </tr>
                    </tbody>
                    <tfoot class="hide-if-no-paging">
                    <tr>
                        <td colspan="15" class="text-center">
                            <!-- 指令调用代码-->
                            <xl-page size="3" method="query" class="text-center"></xl-page>
                            <!--指令模板（pagination.html）-->
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <!--添加课时 弹窗-->
    <div class="wrapPop"></div>
    <div class="innerPopBox">
        <p class=""">请选择需要添加的课时数量：</p>
        <select name="addHour" ng-model="formData.Hour" ng-change="change(formData.Hour,'Hour')" class="form-control">
            <option value="1">1课时</option>
            <option value="2">2课时</option>
            <option value="3">3课时</option>
            <option value="4">4课时</option>
            <option value="5">5课时</option>
            <option value="6">6课时</option>
            <option value="7">7课时</option>
            <option value="8">8课时</option>
            <option value="9">9课时</option>
            <option value="10">10课时</option>
        </select>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
    </div>
</div>
