<div class="wrapper-md" ng-controller="SBConfrimCtrl" id="SBConfrimCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>教研管理&gt;学生分类 &gt; 短板确认</h4>
        </div>
        <div class="wrapper" id="shortBoardConfrimDiv">
            <div class="panel-heading m-b-xl">
                <form class="form-horizontal" ng-init="load()">
                    <!--包含公共筛选条件 start-->
                    <div ng-include="'admin/common/tpl/filter.html'"></div>
                    <!--包含公共筛选条件 end-->
                    <div class="form-group ">
                        <label class="col-sm-2 control-label">目标：</label>
                        <div class="radio">
                            <label class="i-checks" ng-repeat="obj in LocalAimTypes track by $index">
                                <input type="radio" name="aimType" ng-value="obj.aimType" ng-model="formData.aimType" ng-click="target(formData.aimType)">
                                <i></i>{{obj.aimName}}
                            </label>
                        </div>
                    </div>
                    <button class="pull-right btn btn-primary" ng-click="getList(1,10)"><span class="p-d">查询</span></button>
                </form>

            </div>
            <div class="table-responsive">

                <table class="table table-striped b-t b-light">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>用户名</th>
                        <th>姓名</th>
                        <th>学科</th>
                        <th>考试时间</th>
                        <th>试卷</th>
                        <th>客观题得分</th>
                        <th>主观题得分</th>
                        <th>总分</th>
                        <th>诊断报告</th>
                        <th>操作人</th>
                        <th>联系</th>
                        <th>家长</th>
                        <th>学科用卷</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in result track by $index">
                        <td>{{$index+1}}</td>
                        <td>{{item.userName}}</td>
                        <td>{{item.studentName }}</td>
                        <td>{{getSubjectName(item.subjectCode,item.subjectType )}}</td>
                        <td>2016.7.28：18：00</td>
                        <td><span class="btn btn-primary"  ng-click="GetPaperDetail({paperCode:item.diagnosisPaperCode})">详情</span></td>
                        <td>{{item.impersonalityScore }}</td>
                        <td>{{item.subjectivityScore}}</td>
                        <td>--</td>
                        <td><button class="btn btn-primary">详情</button></td>
                        <td>{{item.operator }}</td>
                        <td>{{item.mobile }}</td>
                        <td>{{item.parent }}{{item.isShortSlabStatus}}</td>
                        <td>{{item.diagnosisPaperName}}</td>
                        <td>
                            <div ng-if="item.diagnosisPaperCode == null"><label class="i-checks">
                                <input id={{item.eduVulnerabilityAnalyzeRecordCode}} type="checkbox" ng-model="x" ng-checked="master" ng-click="chk(item.eduVulnerabilityAnalyzeRecordCode ,x)"><i></i>选择</label>
                            </div></td>
                    </tr>
                    </tbody>
                    <tfoot class="hide-if-no-paging">
                   <tr>
                       <td td colspan="15"  class="text-right">
                           <label class="i-checks m-b-none">
                               <input type="checkbox" ng-model="master" ng-click="checkAll(master,tesarry)"><i></i>全选
                           </label>
                           <button class="btn btn-primary" ng-click="open('gt',choseArr)">学科用卷</button>
                       </td>
                    </tr>
                    <tr>
                        <td colspan="15" class="text-center">
                            <!-- 指令调用代码-->
                            <xl-page size="10" method="getList" class="text-center"></xl-page>
                            <!--指令模板（pagination.html）-->
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
           <!-- {{choseArr}}-->
            <div>
                <script type="text/ng-template" id="myModelContent.html">
                    <div class="modal-header">
                        <h3 class="modal-title">短板诊断用卷</h3>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" ng-init="load()">
                            <!--包含公共筛选条件 start-->
                            <div ng-include="'admin/common/tpl/filter.html'"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">目标类型：</label>
                                <div class="radio">
                                    <label class="i-checks" ng-repeat="(key, val) in aimTypes track by $index">
                                        <input type="radio" name="aimType" ng-value='{{val.aimType}}' ng-model="formData.aimType"><i></i>{{val.aimName}}
                                    </label>
                                </div>
                            </div>
                        </form>
                        <button class="btn m-b-xs w-xs btn-primary pull-right" ng-click="getList(1,10)">查询</button>
                        <div class="row">
                            <div class="col-sm-12 shortBoardList" >
                                <div class="list-group" ng-repeat="item in result">
                    <span class="list-group-cate">
                        {{item.diagnosisPaperName }}
                        <label class="i-checks pull-right isChecked">
                            <input type="radio" name="dddd" ng-value="item.diagnosisPaperCode" ng-model="diagnosisPaperCode" ng-click="GetPaperCode(item.diagnosisPaperCode)">
                            <i></i>选取
                        </label>
                        <!--{{diagnosisPaperCode}}-->
                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- 指令调用代码-->
                        <xl-page size="10" method="getList" class="text-center"></xl-page>
                        <!--指令模板（pagination.html）-->
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning" ng-click="cancel()"><span class="p-d">取消</span></button>
                        <button class="btn btn-primary" ng-click="addShortBoardDiagOK()"><span class="p-d">确认</span></button>
                    </div>

                </script>
            </div>
        </div>
    </div>
</div>


