<div class="wrapper-md ng-scope" ng-controller="StudentCategoryCtrlDR"  ng-init="loadStuAreaList()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>{{name}} &gt; 学生分类</h4>
        </div>
        <div class="wrapper" id="studentCategory-div" >
           
            <div class="panel-heading">
                <div class="form-group  col-sm-12">
                    <label class="col-sm-1 control-label">类型：</label>
                    <div class="radio">
                        <label class="i-checks" ng-repeat="(key, val) in departmentType track by $index">
                            <input type="radio" name="departmentType" ng-value='{{val.departmentType}}' ng-model="formData.departmentType" ng-click="conditionSel(val.departmentType,'departmentType')"><i></i>{{val.departmentName}}
                        </label>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg"></div>
                <div class="form-group col-sm-12">
                    <label class="col-sm-1 control-label">地区:</label>
                    <div class="col-sm-2">
                        <select class="form-control" ng-model="courseCategoryArea" ng-options="ar1.provinceName for ar1 in areaResults" ng-change="areaSel(courseCategoryArea.provinceCode)">
                            <option value="">--请选择--</option>
                        </select>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg"></div>
                <div class="form-group col-sm-12">
                    <label class="col-sm-1 control-label">总分数:</label>
                    <div class="col-sm-2">
                        <input type="text" id="startTotalScore" class="form-control" ng-model="startTotalScore" value="460" ng-blur="conditionSel(startTotalScore,'startTotalScore')">
                    </div>
                    <label class="col-sm-1" style="width:10px">-</label>
                    <div class="col-sm-2">
                        <input type="text" id="endTotalScore" class="form-control" ng-model="endTotalScore" value="500" ng-blur="conditionSel(endTotalScore,'endTotalScore')">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">单科学科:</label>
                    <div class="row col-sm-12  " style="padding-left:140px">
                        <div class="col-sm-6">
                            <label class="col-sm-2 i-checks m-b-none">
                                <input type="checkbox" ng-model="chineseScore" ng-click="checkSub('chineseScore',chineseScore)"><i></i>语文:
                            </label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control input-sm" value="60" id="chineseScore">
                            </div>
                            <span>分以上</span>
                        </div>
                        <div class="col-sm-6 ">
                            <label class="col-sm-2 i-checks m-b-none">
                                <input type="checkbox" ng-model="englishScore" ng-click="checkSub('englishScore',englishScore)"><i></i>英语:
                            </label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control input-sm" value="60" id="englishScore">
                            </div>
                            <span>分以上</span>
                        </div>
                    </div>
                    <div class="row col-sm-12  m-t" style="padding-left:140px">
                        <div class="col-sm-6 ">
                            <label class="col-sm-2 i-checks m-b-none">
                                <input  type="checkbox" ng-model="mathScore" ng-click="checkSub('mathScore',mathScore)"><i></i>数学:
                            </label>
                            <div class="col-sm-2">
                                <input type="text" id="mathScore" class="form-control input-sm" value="60">
                            </div>
                            <span>分以上</span>
                        </div>
                        <div class="col-sm-6 from-group sub-science">
                            <label class="col-sm-2 i-checks m-b-none">
                                <input type="checkbox" ng-model="biologyScore" ng-click="checkSub('biologyScore',biologyScore)"><i></i>生物:
                            </label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control input-sm" value="60" id="biologyScore">
                            </div>
                            <span>分以上</span>
                        </div>
                        <div class="col-sm-6 from-group sub-arts" style="display: none;">
                            <label class="col-sm-2 i-checks m-b-none">
                                <input type="checkbox" ng-model="politicsScore" ng-click="checkSub('politicsScore',politicsScore)"><i></i>政治:
                            </label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control input-sm" value="60" id="politicsScore">
                            </div>
                            <span>分以上</span>
                        </div>
                    </div>
                    <div class="row col-sm-12 m-t sub-science" style="padding-left:140px">
                        <div class="col-sm-6 sub-science">
                            <label class="col-sm-2 i-checks m-b-none">
                                <input type="checkbox" ng-model="chemistryScore" ng-click="checkSub('chemistryScore',chemistryScore)"><i></i>化学:
                            </label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control input-sm" value="60" id="chemistryScore">
                            </div>
                            <span>分以上</span>
                        </div>
                        <div class="col-sm-6 from-group sub-science">
                            <label class="col-sm-2 i-checks m-b-none">
                                <input type="checkbox" ng-model="physicsScore" ng-click="checkSub('physicsScore',physicsScore)"><i></i>物理:
                            </label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control input-sm" value="60" id="physicsScore">
                            </div>
                            <span>分以上</span>
                        </div>
                        <button type="submit" class="m-p btn m-b-xs w-xs btn-primary pull-right"  ng-click="getStudentCategoryList()">查询</button>
                    </div>
                    <div class="row col-sm-12 m-t sub-arts" style="padding-left:140px;display: none;">
                        <div class="col-sm-6 sub-arts" style="display: none;">
                            <label class="col-sm-2 i-checks m-b-none">
                                <input type="checkbox" ng-model="historyScore" ng-click="checkSub('historyScore',historyScore)"><i></i>历史:
                            </label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control input-sm" value="60" id="historyScore">
                            </div>
                            <span>分以上</span>
                        </div>
                        <div class="col-sm-6 from-group sub-arts" style="display: none;">
                            <label class="col-sm-2 i-checks m-b-none">
                                <input type="checkbox" ng-model="geographyScore" ng-click="checkSub('geographyScore',geographyScore)"><i></i>地理:
                            </label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control input-sm" value="60" id="geographyScore">
                            </div>
                            <span>分以上</span>
                        </div>
                        <button type="submit" class="m-p btn m-b-xs w-xs btn-primary pull-right" ng-click="getStudentCategoryList()">查询</button>
                    </div>
                    <div class="line line-dashed b-b line-lg"></div>
                </div>
            </div>
            <div class="line line-solid b-b line-lg"></div>
            <div class="table-responsive">
                <div class="radio"><b>排序</b>
                    <label class="i-checks">
                        <input type="radio" name="sort" value="option1">
                        <i></i>总分高到低
                    </label>
                    <label class="i-checks">
                        <input type="radio" name="sort" value="option2" checked>
                        <i></i>总分高到低
                    </label>
                </div>
                <!--<p class="pull-right"><span class="p-d">总人数：2000人</span><span class="p-d">符合条件人数：200人</span></p>-->
                <table class="table table-striped b-t b-light">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>用户名</th>
                        <th>姓名</th>
                        <th>考试时间</th>
                        <th>数学</th>
                        <th>语文</th>
                        <th>英语</th>
                        <th class="sub-science">物理</th>
                        <th class="sub-science">化学</th>
                        <th class="sub-science">生物</th>
                        <th class="sub-arts" style="display: none;">政治</th>
                        <th class="sub-arts" style="display: none;">历史</th>
                        <th class="sub-arts" style="display: none;">地理</th>
                        <th>总分</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  ng-repeat="data in list" class="sub-science-tr">
                        <td>{{$index+1}}</td>
                        <td>{{data.studentName}}</td>
                        <td>{{data.studentNickName}}</td>
                        <td>{{data.examinationTime}}</td>
                        <td>{{data.mathScore}}分</td>
                        <td>{{data.chineseScore}}分</td>
                        <td>{{data.englishScore}}分</td>
                        <td class="sub-science" ng-if="depSel(1)">{{data.physicsScore}}分</td>
                        <td class="sub-science" ng-if="depSel(1)">{{data.chemistryScore}}分</td>
                        <td class="sub-science" ng-if="depSel(1)">{{data.biologyScore}}分</td>
                        <td class="sub-arts" ng-if="depSel(0)">{{data.politicsScore}}分</td>
                        <td class="sub-arts" ng-if="depSel(0)">{{data.historyScore}}分</td>
                        <td class="sub-arts" ng-if="depSel(0)">{{data.geographyScore}}分</td>
                        <td>{{data.maxTotalScore}}分</td>
                        <td>状态</td>
                        <td>
                            <label class="i-checks">
                                <input id="{{data.studentCode}}"  name="check-entities" type="checkbox" ng-model="x" ng-checked="master" ng-click="chk(data.studentCode ,x)"><i></i>选择</label>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="13" class="text-center">
                            <!-- 指令调用代码 -->
                            <xl-page size="1" method="getStudentCategoryList" class="text-center"></xl-page>
                            <!-- 指令模板[pagination.html] -->
                        </td>
                    </tr>
                    </tfoot>
                   <!-- <tfoot class="hide-if-no-paging">
                    <tr>
                        <td colspan="12"></td>
                        <td>
                            <span>已选100人</span>
                            <label class="i-checks m-b-none">
                                <input type="checkbox" ng-model="master" ng-click="checkAll(master,tesarry)"><i></i>全选
                                &lt;!&ndash; <a href="#" class="btn btn-danger" ng-click="delete()" > 删除</a> &ndash;&gt;
                            </label>
                            <span> 操作人：XXX</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="13" class="text-center">
                            &lt;!&ndash; 指令调用代码 &ndash;&gt;
                            <xl-page size="10" method="getAllList" class="text-center"></xl-page>
                            &lt;!&ndash; 指令模板[pagination.html] &ndash;&gt;
                        </td>
                    </tr>
                    </tfoot>-->
                </table>
            </div>
            <!-- 目标分类 modal -->
            <div >
              <!--  <script type="text/ng-template" id="myModalContent.html">
                    <div ng-include="'admin/common/tpl/category.html'"></div>
                </script>-->
                <script type="text/ng-template" id="myModelContent.html">
                    <div class="modal-header">
                        <h3 class="modal-title">目标分类</h3>
                    </div>
                    <div class="modal-body">
                        <div class="radio">
                            <label class="i-checks ">
                                <input type="radio"  name="vip" value="1" ng-click="showOrHide(1)" ng-model="formData.yesVip">
                                <i></i>符合VIP保分计划
                            </label>
                            <label class="i-checks ">
                                <input type="radio"  name="vip" value="0" ng-click="showOrHide(0)" ng-model="formData.yesVip">
                                <i></i>不符合VIP保分计划
                            </label>
                        </div>
                        <div ng-show="isShow">
                            <label class="col-sm-2 control-label">目标:</label>
                            <div class="col-sm-4">
                                <select name="account" class="form-control" ng-model="formData.courseCategoryTarget" >
                                    <option value="">---请选择-</option>
                                    <option value="0">一本线上30分</option>
                                    <option value="1">一本线</option>
                                    <option value="2">二本线</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
                        <button class="btn btn-primary" ng-click="ok(formData)">OK</button>
                    </div>
                </script>

            </div>
            <!-- 目标分类/modal -->
                <button class="btn btn-primary m-b-xs w-xs pull-right" ng-click="open('lt',choseArr,0)">目标分类</button>
        </div>
    </div>
</div>
