<div class="wrapper-md" ng-controller="StudentCategoryCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>{{name}} &gt; 学生分类</h4>
        </div>
        <div class="wrapper">
           
            <div class="panel-heading m-b-xl">
                <form action="">
                    <div class="radio form-group col-sm-12">
                        
                        <label class="col-sm-1 control-label">类型:</label>
                        <div class="col-sm-2">
                            <label class="i-checks">
                                <input type="radio" name="aa" value="option1">
                                <i></i>文科
                            </label>
                            <label class="i-checks">
                                <input type="radio" name="aa" value="option2" checked>
                                <i></i>理科
                            </label>
                        </div>
                    </div>
                    <div class="line line-solid b-b line-lg"></div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-1 control-label">地区:</label>
                        <div class="col-sm-2">
                            <select name="account" class="form-control input-sm">
                                <option>全部</option>
                                <option>北京</option>
                            </select>
                        </div>
                    </div>
                    <div class="line line-solid b-b line-lg"></div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-1 control-label">年份:</label>
                        <div class="col-sm-2">
                            <select name="account" class="form-control input-sm">
                                <option>2016年</option>
                                <option>2015年</option>
                            </select>
                        </div>
                    </div>
                    <div class="line line-solid b-b line-lg"></div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-1 control-label">总分数:</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control input-sm" value="460">
                        </div>
                        <label class="col-sm-1" style="width:10px">-</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control input-sm" value="500">
                        </div>
                    </div>
                    <div class="line line-solid b-b line-lg"></div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">单科学科:</label>
                        <div class="row col-sm-12"  style="padding-left:140px">
                            <div class="col-sm-6">
                                <label class="col-sm-2 i-checks m-b-none">
                                    <input type="checkbox"><i></i>语文:
                                </label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control input-sm" value="60">
                                </div>
                                <span>分以上</span>
                            </div>
                            <div class="col-sm-6">
                                <label class="col-sm-2 i-checks m-b-none">
                                    <input type="checkbox"><i></i>英语:
                                </label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control input-sm" value="60">
                                </div>
                                <span>分以上</span>
                            </div>
                        </div>
                        <div class="row col-sm-12  m-t"  style="padding-left:140px">
                            <div class="col-sm-6">
                                <label class="col-sm-2 i-checks m-b-none">
                                    <input type="checkbox"><i></i>数学:
                                </label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control input-sm" value="60">
                                </div>
                                <span>分以上</span>
                            </div>
                            <div class="col-sm-6 from-group">
                                <label class="col-sm-2 i-checks m-b-none">
                                    <input type="checkbox"><i></i>生物:
                                </label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control input-sm" value="60">
                                </div>
                                <span>分以上</span>
                            </div>
                        </div>
                        <div class="row col-sm-12 m-t"  style="padding-left:140px">
                            <div class="col-sm-6">
                                <label class="col-sm-2 i-checks m-b-none">
                                    <input type="checkbox"><i></i>化学:
                                </label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control input-sm" value="60">
                                </div>
                                <span>分以上</span>
                            </div>
                            <div class="col-sm-6 from-group">
                                <label class="col-sm-2 i-checks m-b-none">
                                    <input type="checkbox"><i></i>物理:
                                </label>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control input-sm" value="60">
                                </div>
                                <span>分以上</span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn m-b-xs w-xs btn-primary pull-right">查询</button>
                </form>
            </div>
            <div class="line line-solid b-b line-lg"></div>
            <div class="table-responsive">
                <div class="radio"><b>排序</b>
                    <label class="i-checks">
                        <input type="radio" name="sort" value="option1">
                        <i></i>总分高到低
                    </label>
                    <label class="i-checks">
                        <input type="radio" name="sort" value="option2" checked>
                        <i></i>总分高到低
                    </label>
                </div>
                <p class="pull-right"><span class="p-d">总人数：2000人</span><span class="p-d">符合条件人数：200人</span></p>
                <table class="table table-striped b-t b-light">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>用户名</th>
                            <th>姓名</th>
                            <th>考试时间</th>
                            <th>数学</th>
                            <th>语文</th>
                            <th>英语</th>
                            <th>物理</th>
                            <th>化学</th>
                            <th>生物</th>
                            <th>总分</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>1821058560</td>
                            <td>XXX</td>
                            <td>2016.7.28：18：00-19：00</td>
                            <td>130分</td>
                            <td>90分</td>
                            <td>100分</td>
                            <td>100分</td>
                            <td>180分</td>
                            <td>50分</td>
                            <td>600分</td>
                            <td>
                                <label class="i-checks">
                                    <input type="checkbox"><i></i> 选择
                                </label>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot class="hide-if-no-paging">
                        <tr>
                            <td colspan="11"></td>
                            <td>
                                <span>已选100人</span>
                                <label class="i-checks">
                                    <input type="checkbox" ng-model="data.selected"><i></i> 全选
                                </label>
                                <span> 操作人：XXX</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="12" class="text-center">
                                <!-- <ul class="pagination"> -->
                                <!-- pagination -->
                                <div ng-controller="PaginationDemoCtrl" class="m-t-md">
                                    <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="m-t-none m-b"></pagination>
                                </div>
                                <!-- / pagination -->
                                <!-- </ul> -->
                            </td>
                        </tr>
                    </tfoot>
                </table>
                
            </div>
            <!-- 目标分类 modal -->
            <div ng-controller="categoryCtrl" >
                <script type="text/ng-template" id="myModalContent.html">
                    <div ng-include="'admin/common/category.html'"></div>
                </script>
                <div class="panel-body">
                    <button class="btn btn-primary m-b-xs w-xs pull-right" ng-click="open('lt')">目标分类</button>
                </div>
            </div>
            <!-- 目标分类/modal -->
        </div>
    </div>
</div>
