<div class="wrapper-md" ng-controller="subjectCentreControler">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>{{name}} &gt; 中心主界面</h4>
        </div>
        <div class="wrapper">
            <div class="panel-heading">
                <div class="form-group col-sm-12">
                    <label class="col-sm-1 control-label">总校</label>
                    <div class="col-sm-4">
                        <select ng-model="headSchool.code"  ng-options="headSchool.code as headSchool.name for headSchool in headSchoolList" class="form-control" ng-click="seacherBranchByHeadSchool(headSchool.code)">
                            <option value="">--请选择--</option>
                        </select>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg"></div>
                <div class="form-group col-sm-12">
                    <label class="col-sm-1 control-label">分校</label>
                    <div class="col-sm-4">
                        <select ng-model="schoolBranch.code"  ng-options="schoolBranch.code as schoolBranch.name for schoolBranch in schoolBranchList" class="form-control"  ng-click="seacherCentreBySchoolBranch(schoolBranch.code)">
                            <option value="">--请选择--</option>
                        </select>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg"></div>
            </div>
            <div class="text-right"><button class="btn btn-primary btn-margin" ui-sref="app.teachResearchManage.addCentreSchool()">新增中心</button></div>
            <div class="table-responsive">
                <table class="table table-striped b-t b-light">
                    <thead>
                    <th>序号</th>
                    <th>中心名称</th>
                    <th>中心负责人</th>
                    <th>操作</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="centreSchool in list">
                        <td>{{$index+1}}</td>
                        <td>{{centreSchool.name}}</td>
                        <td>{{centreSchool.personCharge}}</td>
                        <td><a ng-click="updateCentreSchool(centreSchool)">编辑</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
