<div class="wrapper-md" ng-controller="CreateDiagCtrl">
  <div class="panel panel-default">
    <div class="panel-heading">
    <!-- <ul class="nav nav-pills pull-right">
            <li style=" padding-top:4px; padding-right:4px"><button class="btn m-b-xs btn-sm btn-primary btn-addon" ui-sref="app.news.create()"><i class="fa fa-plus"></i>新增</button></li>
          </ul> -->
       <h3>负责监考教师:xxx(账号：)</h3>
    </div>
    <div class="wrapper">
           
            <div class="panel-container">
                <table class="table">
                    <tr>
                        <td width="8%">学年:</td>
                        <td>高考</td>
                    </tr>
                    <tr>
                        <td>属性:</td>
                        <td>
                            <div class="radio">
                              <label class="i-checks">
                                <input type="radio" value="option1" checked>
                                <i></i>艺术类
                              </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>诊断类型:</td>
                        <td>
                            <div class="radio">
                              <label class="i-checks">
                                <input type="radio" name="b" value="option1" checked>
                                <i></i>单科
                              </label>
                              <label class="i-checks">
                                <input type="radio" name="b" value="option2" >
                                <i></i>全科
                              </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>学科:</td>
                        <td>
                            <div class="radio">
                              <label class="i-checks">
                                <input type="radio" name="c" value="option1" >
                                <i></i>语文
                              </label>
                              <label class="i-checks">
                                <input type="radio" name="c" value="option2" checked>
                                <i></i>数学
                              </label>
                              <label class="i-checks">
                                <input type="radio" name="c" value="option3" >
                                <i></i>英语
                              </label>
                              <label class="i-checks">
                                <input type="radio" name="c" value="option4" >
                                <i></i>物理
                              </label>
                              <label class="i-checks">
                                <input type="radio" name="c" value="option5" >
                                <i></i>化学
                              </label>
                              <label class="i-checks">
                                <input type="radio" name="c" value="option6" >
                                <i></i>生物
                              </label>
                              <label class="i-checks">
                                <input type="radio" name="c" value="option7" >
                                <i></i>历史
                              </label>
                              <label class="i-checks">
                                <input type="radio" name="c" value="option8" >
                                <i></i>地理
                              </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>教材:</td>
                        <td>
                            
                            <div class="radio">
                              <label class="i-checks">
                                <input type="radio" name="d" value="option1" >
                                <i></i>自主命题江苏卷
                              </label>
                              <label class="i-checks">
                                <input type="radio" name="d" value="option2" checked>
                                <i></i>自主命题上海卷(理科)
                              </label>
                              <label class="i-checks">
                                <input type="radio" name="d" value="option3" >
                                <i></i>自主命题北京卷(理科)
                              </label>
                              <label class="i-checks">
                                <input type="radio" name="d" value="option4" >
                                <i></i>自主命题天津卷(理科)
                              </label>
                              <label class="i-checks">
                                <input type="radio" name="d" value="option5" >
                                <i></i>自主命题北京卷(理科)
                              </label>
                              <label class="i-checks">
                                <input type="radio" name="d" value="option6" >
                                <i></i>自主命题北京卷(理科)
                              </label>
                              <label class="i-checks">
                                <input type="radio" name="d" value="option7" >
                                <i></i>自主命题北京卷(理科)
                              </label>
                              <label class="i-checks">
                                <input type="radio" name="d" value="option8" >
                                <i></i>自主命题北京卷(理科)
                              </label>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="table-responsive">
              <table class="table table-striped m-b-none">
                <thead>
                  <tr>
                    <th  style="width:10%">序号</th>
                    <th  style="width:25%">学科</th>
                    <th  style="width:25%">创建时间</th>
                    <th  style="width:15%">创建人</th>
                    <th  style="width:15%">封面</th>
                    <th  style="width:15%">状态</th>
                    <th  style="width:15%">操作</th>
                    <th  style="width:10%"></th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                      <td>1</td>
                      <td>语文</td>
                      <td>2016.7.28</td>
                      <td>XXX</td>
                      <td><img src="img/c5.jpg" width="200px" height="100px" /></td>
                      <td>可以使用</td>
                      <td><button type="button" class="btn btn-default">详情</button></td>
                      <td><button type="button" class="btn btn-default"  ui-sref="app.plan.allot()">分配监考人</button></td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>语文</td>
                      <td>2016.7.28</td>
                      <td>XXX</td>
                      <td><img src="img/c4.jpg" width="200px" height="100px" /></td>
                      <td>可以使用</td>
                      <td><button type="button" class="btn btn-default">详情</button></td>
                      <td><button type="button" class="btn btn-default" ui-sref="app.plan.allot()">分配监考人</button></td>
                    </tr>
                </tbody>
                <tfoot class="hide-if-no-paging">
                  <tr>
                      <td colspan="8" class="text-center">
                          <!-- <ul class="pagination"> -->
                            <!-- pagination -->
                            <div ng-controller="PaginationDemoCtrl" class="m-t-md">
                              <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="m-t-none m-b"></pagination>
                              
                            </div>
                             <!-- / pagination -->
                          <!-- </ul> -->
                      </td>
                  </tr>
                </tfoot>
              </table>
            </div>
        </div>
    <!-- <div class="row wrapper">
      <div class="col-sm-5 m-b-xs">
        <select class="input-sm form-control w-sm inline v-middle" ng-model="operate" ng-init="operate=0">
          <option value="0">---</option>
          <option value="1">删除所选记录</option>
        </select>
        <button class="btn btn-sm btn-default" ng-click="exec()">执行</button>                
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-3">
        <div class="input-group">
          <input type="text" class="input-sm form-control" placeholder="Search" ng-model="search_context">
          <span class="input-group-btn">
            <button class="btn btn-sm btn-default" ng-click="search()" type="button">Go!</button>
          </span>
        </div>
      </div>
    </div>
    <div class="table-responsive" ng-if="data.total_count>0">
      <table class="table table-striped b-t b-light">
        <thead>
          <tr>
            <th style="width:20px;">
              <label class="i-checks m-b-none">
                <input type="checkbox" ng-click="selectAll()"><i></i>
              </label>
            </th>
            <th>标题</th>
            <th>创建时间</th>
            <th style="width:30px;"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="data in data.results">
            <td><label class="i-checks m-b-none"><input type="checkbox" ng-model="data.selected"><i></i></label></td>
            <td>{{data.title}}</td>
            <td>{{data.create_time|date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
            <td>
              <a ui-sref="app.news.detail({id:data.id})" class="active"><i class="fa fa-edit"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <footer class="panel-footer">
      <div class="row">
        <div class="col-sm-8 text-left">
          <small class="text-muted inline m-t-sm m-b-sm">{{data.total_count}}条记录</small>
        </div>
        <div ng-if="data.page_count>1" class="col-sm-4 text-right text-center-xs">                
          <ul class="pagination pagination-sm m-t-none m-b-none">
            <li ng-class="{disabled:!data.previous}"><a ui-sref="app.news.list({page:data.page_index-1,search:search_context})"><i class="fa fa-chevron-left"></i></a></li>
            <li ng-repeat="page in data.pages" ng-class="{active:page==data.page_index}"><a ui-sref="app.news.list({page:page,search:search_context})">{{page}}</a></li>
            <li ng-class="{disabled:!data.next}"><a ui-sref="app.news.list({page:data.page_index+1,search:search_context})"><i class="fa fa-chevron-right"></i></a></li>
          </ul>
        </div>
      </div>
    </footer> -->
  </div>
</div>