/* 重置&默认(reset&base)(tags) */
*[hidefocus],input,textarea,a{outline:none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{padding:0;margin:0;}
fieldset,img,html,body,iframe,table,td{padding:0;margin:0;border:0;}
table{border-collapse:collapse;border-spacing:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
caption,th{font-weight:normal;font-style:normal;text-align:left;}
em,strong{font-weight:bold;font-style:normal;}
body,textarea,select,input,pre{font-family:arial,microsoft yahei,helvetica,sans-serif;font-size:14px;color:#555;}
body{line-height:1.5em;-webkit-text-size-adjust:none;}
a,button{cursor:pointer;}
textarea{resize:none;overflow:auto;}
pre{white-space:pre-wrap;}
a{color:#fff;text-decoration:none;}
a:hover{color:#fff;text-decoration:underline;}
input{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-modify: read-write-plaintext-only;
} 
button {
	-webkit-tap-highlight-color: rgba(255,255,255,0);
}
/* 布局(grids)(.g-) */ 
/* 页面 */
.menu-box:after,#login:after,.sale:after,.vipbox:after{content: "." ;display: block;clear: both;height: 0;visibility: hidden;}

/*公共icon*/
.user-right-box{
	position: absolute;
	right:0;
	top:0; 
	background:#d7dfff;
	text-align: center;
	height:72px;
}
.user-right-box  i.user-icon{
	cursor: pointer;
	margin-top:25px;
}
.user{
	width:120px;
	position: relative;
}
.c-main:before{
	content: '';
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #2a2f43;
	position: absolute;
	top: 35px;
	left:50%;
	margin-left:15px;
}

.icon{
	background:url(../images/main-icon.png) no-repeat;
	width:20px;
	height:20px;
	display:inline-block;
	vertical-align: middle;
}
.user-icon{
	background-position:-60px 0;
	
}
.userlist{
	width:160px;
	margin-left:-40px;
	margin-top:20px;
	display:none;
	-webkit-box-shadow:0 0 10px rgba(171, 188, 255, .5);  
 	   -moz-box-shadow:0 0 10px rgba(171, 188, 255, .5); 
 	    -ms-box-shadow:0 0 10px rgba(171, 188, 255, .5);
 	     -o-box-shadow:0 0 10px rgba(171, 188, 255, .5); 
  			box-shadow:0 0 10px rgba(171, 188, 255, .5);
}

.userlist li{
	line-height:60px;
	background:#fff;
	border-bottom:1px solid #2a2f43;
}
.userlist li a{
	font-size:16px;
	color:#2a2f43;
}
.userlist li:hover,.userlist li.actie{
	background:#d7dfff;
}
.pCenter{
	background-position: 0 0;
}
.exitLogin{
	background-position: -20px 0;
}
/*table---------------------------------*/
.main-content{min-height:870px; background-color: #fff;margin:20px 0px 0px 20px;padding:15px 0px 0px 30px;}
.main-content .table>thead>tr>th{background-color: #d8e0ff;border-bottom: 1px solid #fff;font-weight: normal;text-align:center;}
.main-content .table>tbody>tr>td{background-color: #f4f6ff;border-top: 1px solid #fff;line-height:34px;text-align:center;}
.main-content .table>tbody>tr:hover{background-color:#d8e0ff; cursor: pointer;}
.main-content .table>tbody>tr:hover>td{background: none;}
.main-content .table>tbody>tr>td>a{color:#5878f5}

button{
	border-radius:4px;
}

/*Pop-up-----------------------------*/
 #txt {background-color: green;padding: 5px;line-height: 1.5;color: #fff;}

div#shadeDiv{display:none;position: absolute;top: 0;left: 0; opacity: 1; filter: alpha(opacity=100);z-index: 9998;background-color: #000;}
div#prompt{
    /* transform: translate(0px, -25%);
    transition: transform 0.3s ease-out 0s; */
    transform: translate(0px, 0px);border-radius:4px;color: #3d3535; display:none;border: 1px solid #CCC; position:fixed;_position: absolute;z-index: 9999;background-color: #fff;}
div#prompt_title{ cursor:move;font-size:16px;text-align:center;padding-left:10px;height:60px;line-height:60px;border-bottom: 1px solid #b4c2fa;background-color:#fcfcfc; }
span#prompt_close{ position: absolute;right: 20px;top: 20px; cursor: pointer; background: url("../images/close.png") no-repeat; width: 18px;height: 18px;outline: none;display: block;}
div#prompt_body{padding: 30px 20px;font-size:14spx;line-height: 1.5; text-align:center;}
div#prompt_body .txt{margin:20px 0;}
div#prompt_bottom{display:none;position: absolute;bottom: 15px;left: 0;}
div#prompt_bottom a.btn{_display:block;_float:left;background-color:#5878f5;border: 1px solid #5878f5;border-radius:2px;font-size: 14px;
	width:110px;height:35px;margin-left:120px;cursor: pointer;
color: #fff;}
div#prompt_bottom a.btn:hover{background:#465fc2;}
#prompt.in{
    
}
#prompt.fade{
    transform: translate(0px, -25%);
    transition: transform 0.3s ease-out 0s;
}

.input-daterange input[type="text"]{border:none;margin:10px;width:200px;height:35px;background:#eef0f2;}
.radio input[type=radio], .radio-inline input[type=radio] {

margin-left: 0px;
}
label {
font-weight: normal; 
}
.form-control{
  width:60%;
}
.pagination{}
.pagination a{ border:1px solid #f0f0f0;line-height:24px; margin:0 8px;color:#5878f5;}
.pagination li.active a{background:#5878f5;color:#fff;}



/*订单 搜索*/
.searchBtn button,
    .searchTxt .searchMenu .searchSelected {
        background-image: url(http://www.17sucai.com/preview/38279/2014-03-28/%E6%90%9C%E7%B4%A2%E6%A1%86/images/searchbg.png);
        background-repeat: no-repeat;
    }
    
    .searchTxt {
        float: left;
        width: 399px;
        height: 40px;
        border-right: 0;
        position: relative;
        z-index: 20;
        background: #fff;padding:0;
    }
    
    .searchTxt .radius {
        width: 1px;
        height: 1px;
        overflow: hidden;
        background: #f4f4f4;
        position: absolute;
        top: -2px;
        left: -2px;
    }
    
    .searchTxtHover {
        float: left;
        width: 399px;
        height: 40px;
        border: 1px solid #3297d8;
        border-right: 0;
        position: relative;
        z-index: 20;
        background: #fff;
    }
    
    .searchTxtHover .radius {
        width: 1px;
        height: 1px;
        overflow: hidden;
        background: #cce5f5;
        position: absolute;
        top: -2px;
        left: -2px;
    }
    
    .searchTxt .searchMenu {
        float: left;
    }
    
    .searchTxt .searchMenu .searchSelected {
        color: #a8a8a8;
        cursor: pointer;
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
        width: 80px;
        background-position: 20px -48px;
    }
    
    .searchTxt .searchMenu .searchOpen {
        background-position: 20px -98px;
    }
    
    .searchTxt .searchMenu .searchTab {
        display: none;
        position: absolute;
        top: 37px;
        left: 0px;
        width: 80px;
        border: 1px solid #3297d8;
        border-top: 0;
        background: #fff;
        z-index: 20;
    }
    
    .searchTxt .searchMenu .searchTab li {
        width: 100%;
        height: 28px;
        line-height: 28px;
        color: #a8a8a8;
        font-size: 14px;
        text-indent: 10px;
        cursor: pointer;
    }
    
    .searchTxt .searchMenu .searchTab li.selected {
        color: #6994c1;
    }
    
    .searchTxt input {
        float: left;
        border: 0;
        background: #fff;
        color: #333;
        font: 14px/22px '宋体', verdana, tahoma, arial, 'SimSun', sans-serif;
        width: 221px;
        height: 32px;
        line-height: 40px;
        margin: 0;
        outline: medium none;
        padding: 4px;
    }
    
    .searchTxt .sosoLogo {
        float: right;
        margin: 8px 6px 0 0;
        display: inline;
    }
    
    .searchBtn {
        float: left;
    }
    
   /*  .searchBtn button {
       background-position: 0px 0px;
       border: 0;
       color: #fff;
       cursor: pointer;
       float: left;
       font-size: 16px;
       height: 34px;
       text-indent: -9999px;
       width: 86px;
   } */


    /*新增 添加VIP方案弹出框*/
    #addbox p{margin:20px 0;font-size:16px;}
    #addbox select,#addbox input[type="text"],#addbox input[type="file"]{
        border:1px solid #ccc;
        border-radius:4px;
        height:34px;
        line-height:34px;
        width:200px;
        margin-left:8px;
        text-indent:8px;
    }
    .sale img{
        width:243px;
        height:126px;
    }
    .file {
        position: relative;
        display: inline-block;
        background: #D0EEFF;
        border: 1px solid #99D3F5;
        border-radius: 4px;
        padding: 4px 12px;
        overflow: hidden;
        color: #1E88C7;
        text-decoration: none;
        text-indent: 0;
        line-height: 20px;
    }
    .file input {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
    }
    .file:hover {
        background: #AADFFD;
        border-color: #78C3F3;
        color: #004974;
        text-decoration: none;
    }
/*2016-6-28*/
.right{background:url(../images/point.png) 0 0 no-repeat; width:26px;height:26px;}
.wrong{background:url(../images/point.png) 0 -67px no-repeat; width:26px;height:26px;} 
p.error{ color: #ff6666;
    font-size:16px;
    height: 30px;
    line-height: 30px;
    text-align: right;
} 
.label{
    width:100px;
    float:left;
    height:34px;line-height:34px;
    color:#3d3535;
    font-size:14px;
    font-weight:normal;
}  
#success{
    font-size:20px;
    text-align:center;
    line-height:120px;
}
.dateSx{
    position: absolute;
    bottom:60px;
    left:60px;
}
#releaseBtn{
    position: absolute;
    right:60px;
    bottom:100px;
    width:130px;
    height:40px;
    line-height:40px;
    font-size:16px;
}  
input:-webkit-autofill{
    background-color:#22242c;
}
