<!-- <div class="modal-header">
    <h3 class="modal-title">班型</h3>
</div> -->
<div class="modal-body">
   <p>学科：数学</p>
   <p><span>需分配试卷：1000份</span><span>已选择900份</span></p>
   <p> <label class="col-sm-2">每人</label><span class="col-sm-2"><input type="text" value="10"  class="form-control input-sm"></span>份</p>
   <div>
        <label class="i-checks m-b-none">
            <input type="checkbox"><i></i>我是老师
        </label>
        <label class="i-checks m-b-none">
            <input type="checkbox"><i></i>我是老师
        </label>
        <label class="i-checks m-b-none">
            <input type="checkbox"><i></i>我是老师
        </label>
        <label class="i-checks m-b-none">
            <input type="checkbox"><i></i>我是老师
        </label>
        <label class="i-checks m-b-none">
            <input type="checkbox"><i></i>我是老师
        </label>
        <label class="i-checks m-b-none">
            <input type="checkbox"><i></i>我是老师
        </label>
        <label class="i-checks m-b-none">
            <input type="checkbox"><i></i>我是老师
        </label>
        <label class="i-checks m-b-none">
            <input type="checkbox"><i></i>我是老师
        </label>
        <label class="i-checks m-b-none">
            <input type="checkbox"><i></i>我是老师
        </label>
        <label class="i-checks m-b-none">
            <input type="checkbox"><i></i>我是老师
        </label>
        <label class="i-checks m-b-none">
            <input type="checkbox"><i></i>我是老师
        </label>
        <label class="i-checks m-b-none">
            <input type="checkbox"><i></i>我是老师
        </label>
        <label class="i-checks m-b-none">
            <input type="checkbox"><i></i>我是老师
        </label>
        <label class="i-checks m-b-none">
            <input type="checkbox"><i></i>我是老师
        </label>
   </div>
</div>
<div class="modal-footer">                  
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>