<script>
app.controller('myCtrl', function($scope) {
    $scope.names = ["A课程", "B课程", "C课程"];
});
</script>
<div class="modal-header">
    <h3 class="modal-title">更换课程类型</h3>
</div>
<div class="modal-body" ng-controller='myCtrl'>
    <div class="col-sm-12">
        <label class="col-sm-2 control-label">课程类型:</label>
        <div class="col-sm-10">
            <select name="account" class="form-control" ng-model="selectedName" ng-options="x for x in names">
            </select>
        </div>
    </div>
   
        <p>您选中的课程: <b>{{selectedName }}</b></p>
</div>
<div class="modal-footer">                  
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>