<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-heading col-sm-12">
            <div class="col-sm-6">
                <label class="col-sm-4 control-label">学科</label>
                <div class="col-sm-8" ng-init="getSubjectByDivisionType()">
                    <select  class="form-control m-b" ng-model="subject" ng-options="subject.subjectName for subject in subjectList" ng-click="getCourseList(subject.subjectCode)">
                        <option value="">--请选择--</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <label class="col-sm-4 control-label">课程</label>
                <div class="col-sm-8">
                    <select class="form-control m-b" ng-model="course" ng-options="course.courseName for course in courseList"  ng-click="getTeacherByCourse(course.code)">
                        <option value="">--请选择--</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="wrapper  btn-margin">
            <div class="col-sm-12 btn-margin" ng-show="teacherDiv">
                <h4>教师列表</h4>
                <ul class="teacher-list">
                    <li ng-repeat="teacher in teacherList"><label class="i-checks"><input type="radio" ng-model="formData.teacherCode" value={{teacher.teacherCode}}><i></i>{{teacher.teacherName}}</label></li>
                </ul>
            </div>
            <div class="table-responsive col-sm-12" ng-show ="sectionDiv">
                <h4>课程列表</h4>
                <table class="table table-striped  b-t b-light">
                    <tbody>
                        <tr ng-repeat="section in sectionList  | orderBy: 'burlSn'">
                            <td>第{{section.burlSn}}节</td>
                            <td>{{section.repositoryBurlName}}</td>
                            <td ng-if="weekNumber == section.burlSn"><label class="i-checks" style="padding-left:0"><input type="radio" ng-model="formData.sectionCode" value={{section.code}}><i></i>选择</label></td>
                            <td ng-if="weekNumber !==section.burlSn" >已排课</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button class="btn btn-primary pull-right" ng-click="saveCourse()">保存</button>
        </div>
    </div>
</div>