<div class="modal-header">
    <h3 class="modal-title">班型</h3>
</div>
<div class="modal-body">
    <ul>
        <li >
           
            总校
            <select name="account" class="form-control">
                <option>d111</option>
                <option>11111</option>
            </select>
            分校
            <select name="account" class="form-control">
                <option>d111</option>
                <option>11111</option>
            </select>
            学区
            <select name="account" class="form-control">
                <option>d111</option>
                <option>11111</option>
            </select>
            学部
            <select name="account" class="form-control">
                <option>d111</option>
                <option>11111</option>
            </select>
            中心
            <select name="account" class="form-control">
                <option>d111</option>
                <option>11111</option>
            </select>
            <hr />   
            <p><span>班级1</span>
            <span>班级1</span>
            <span>班级1</span></p>
            <!-- <label class="col-sm-1 control-label">中心:</label>
                        <div class="col-sm-4">
                            <select name="account" class="form-control">
                                <option></option>
                                <option></option>
                            </select>
                        </div> -->
        </li>
    </ul>
   <!--  Selected: <b>{{ selected.item }}</b> -->
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>
