<div class="course-content" xmlns="http://www.w3.org/1999/html">
    <table class="schedule-table">
        <tr class="tr-title">
            <td colspan="8">第一周</td>
            <td colspan="7">第二周</td>
        </tr>
        <tr>
            <td class="td-week">节\课</td>
            <td class="td-week" dayCode="8C14F9CAC70F4FEFA91BE2B0DF999092">星期一</td>
            <td class="td-week" dayCode="9F90338F09B646D4904CADD9C81214DB">星期二</td>
            <td class="td-week" dayCode="D9659DB2DAFB41C9AD3076156C4C5FAB">星期三</td>
            <td class="td-week" dayCode="7ABEDEFD8CDA4002BCE023FED23DCE22">星期四</td>
            <td class="td-week" dayCode="7A3CAC9EEAD848D48FC8C4ED63E71E3B">星期五</td>
            <td class="td-week" dayCode="17A031A2AF7B47AFA8D612F1AA50C5CD">星期六</td>
            <td class="td-week" dayCode="96169F1F01A6448A8813BC7DFF30684B">星期天</td>
            <td class="td-week" dayCode="F7100C4FAAF74D828D2A3EA29C6C3CFB">星期一</td>
            <td class="td-week" dayCode="66599BE4A01A4DEA9038EED7F0F19DAA">星期二</td>
            <td class="td-week" dayCode="CAD9EACADCF54118BB012959BE1DFCB2">星期三</td>
            <td class="td-week" dayCode="290DA30AB4A246B6B8958D50ED30F2C1">星期四</td>
            <td class="td-week" dayCode="8242F3C271BB40AE954D2CD01690D485">星期五</td>
            <td class="td-week" dayCode="99BC0C897FE4429AA072576B60B31C4E">星期六</td>
            <td class="td-week" dayCode="7286BD5B2A8548C08D3F5D4BA9325C83">星期天</td>
        </tr>
        <!--scheduleStatus为0时， 课表为空可以添加课程；-->
        <!--scheduleStatus为1时， 课表都不能修改-->
        <!--scheduleStatus为2时， 课表为1对1老师调课的课表，课表可以修改-->
        <tr ng-repeat="schedule in courses" ng-if="scheduleStatus =='0'">
            <td eduSectionCode ={{schedule.eduSectionCode}} class="td-week">{{schedule.sectionName}}</br>{{schedule.startTime}}-{{schedule.endTime}}</td>
            <td ng-repeat="lesson in schedule.lessons track by $index" update={{lesson==null}} schedule-status >
                {{lesson.subjectName}}
                <span class="schedelSource" ng-if="lesson.courseType?true:false">
                    {{lesson.courseType==0?"大班课表":lesson.courseType==1?"小班课表":lesson.courseType==2?"一对一课表":""}}
                </span>
            </td>
        </tr>
        <tr ng-repeat="schedule in courses" ng-if="scheduleStatus =='1'">
            <td eduSectionCode ={{schedule.eduSectionCode}} class="td-week">{{schedule.sectionName}}</br>{{schedule.startTime}}-{{schedule.endTime}}</td>
            <td ng-repeat="lesson in schedule.lessons  track by $index" schedule-status >
                {{lesson.subjectName}}
                <span class="schedelSource"  ng-if="lesson.courseType?true:false">
                    {{lesson.courseType==0?"大班课表":lesson.courseType==1?"小班课表":lesson.courseType==2?"一对一课表":""}}
                </span>
            </td>
        </tr>
        <tr ng-repeat="schedule in courses" ng-if="scheduleStatus =='2'">
            <td eduSectionCode ={{schedule.eduSectionCode}} class="td-week">{{schedule.sectionName}}</br>{{schedule.startTime}}-{{schedule.endTime}}</td>
            <td ng-repeat="lesson in schedule.lessons  track by $index" update={{lesson==null||lesson.mainTeacherCode=='e44a0c2ad33a40d1a9c54bf4e801c227'}} schedule-status >
                {{lesson.subjectName}}
                <span  class="schedelSource"  ng-if="lesson.courseType?true:false">
                    {{lesson.courseType==0?"大班课表":lesson.courseType==1?"小班课表":lesson.courseType==2?"一对一课表":""}}
                </span>
            </td>
        </tr>
    </table>
</div>