<div class="course-content" xmlns="http://www.w3.org/1999/html">
    <table class="schedule-table">
        <tr>
            <td>第一周</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>第二周</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>节\课</td>
            <td dayCode="8C14F9CAC70F4FEFA91BE2B0DF999092">星期一</td>
            <td dayCode="9F90338F09B646D4904CADD9C81214DB">星期二</td>
            <td dayCode="D9659DB2DAFB41C9AD3076156C4C5FAB">星期三</td>
            <td dayCode="7ABEDEFD8CDA4002BCE023FED23DCE22">星期四</td>
            <td dayCode="70C9DEA30FE8464B87795E9E066B2FB6">星期五</td>
            <td dayCode="17A031A2AF7B47AFA8D612F1AA50C5CD">星期六</td>
            <td dayCode="96169F1F01A6448A8813BC7DFF30684B">星期天</td>
            <td dayCode="F7100C4FAAF74D828D2A3EA29C6C3CFB">星期一</td>
            <td dayCode="F8949AA049254DE2B889C7A720A40AA5">星期二</td>
            <td dayCode="5F1F4E3C7342470FA36CFD6D4AFF35EB">星期三</td>
            <td dayCode="396A8459109E44C08C1B70AAA76000BF">星期四</td>
            <td dayCode="0A1D74DB030543A28D78475A012FF6DC">星期五</td>
            <td dayCode="8A68133A041B4AFD8198498F2173956E">星期六</td>
            <td dayCode="7286BD5B2A8548C08D3F5D4BA9325C83">星期天</td>
        </tr>
        <!--scheduleStatus为0时， 课表为空可以添加课程；-->
        <!--scheduleStatus为1时， 课表都不能修改-->
        <!--scheduleStatus为2时， 课表为1对1老师调课的课表，课表可以修改-->
        <tr ng-repeat="schedule in courses" ng-if="scheduleStatus =='0'">
            <td eduSectionCode ={{schedule.eduSectionCode}}>{{schedule.sectionName}}</br>{{schedule.startTime}}-{{schedule.endTime}}</td>
            <td ng-repeat="lesson in schedule.lessons track by $index" update={{lesson==null}} schedule-status >{{lesson.subjectName}}</td>
        </tr>
        <tr ng-repeat="schedule in courses" ng-if="scheduleStatus =='1'">
            <td eduSectionCode ={{schedule.eduSectionCode}}>{{schedule.sectionName}}</br>{{schedule.startTime}}-{{schedule.endTime}}</td>
            <td ng-repeat="lesson in schedule.lessons  track by $index" schedule-status >{{lesson.subjectName}}</td>
        </tr>
        <tr ng-repeat="schedule in courses" ng-if="scheduleStatus =='2'">
            <td eduSectionCode ={{schedule.eduSectionCode}}>{{schedule.sectionName}}</br>{{schedule.startTime}}-{{schedule.endTime}}</td>
            <td ng-repeat="lesson in schedule.lessons  track by $index" update="true" schedule-status >{{lesson.subjectName}}</td>
        </tr>
    </table>
</div>