<script>
    app.controller('shortBoardController', function($scope, CalcService, $controller, $http) {
        $controller('getJsonData', {$scope: $scope});//继承
        $scope.formData = {};
        //默认值
        $scope.formData.subjectCode = 1;
        $scope.formData.bookVersionCode = "7HCcMZTzpcThi6RaByWysKQPPbtTHSj8";
        $scope.formData.paperUseType = "p_005";
        //筛选条件改变时执行
        $scope.change = function(val,name){
            $scope.formData[name] = val;
        };
        $scope.query = function(page,size,callback){
            $http.post(window.testhost + '/diagnosis/list?requestId=test123456', {
                "subjectCode":$scope.formData.subjectCode,                  //$scope.formData.subjectCode
                "bookVersionCode":$scope.formData.bookVersionCode,       //$scope.formData.bookVersionCode
                "paperUseType":$scope.formData.paperUseType,                //$scope.formData.paperUseType
                "currentPage":page,
                "pageSize":size
            }).then(function (data) {
                console.log(data);
                $scope.result = data.data.result.list;
                $scope.totalPage = data.result.totalPage;
                callback && callback(data.result);
            });
        }
    });
</script>
<div ng-controller="shortBoardController" id="shortBoardController">
    <div class="modal-header">
        <h3 class="modal-title">短板诊断用卷</h3>
    </div>
    <div class="modal-body">
        <table class="table">
            <tr>
                <div class="radio">
                    <td width="8%">学年:</td>
                    <td class="i-checks">{{formData}}高考</td>
                </div>
            </tr>
            <tr>
                <td>试卷类型:</td>
                <td>
                    <div class="radio">
                        <label class="i-checks" ng-repeat="val in paperUse track by $index">
                            <input type="radio" name="paperUseType" ng-value='val.paperUseType' ng-model="formData.paperUseType" ng-click="getBookVersion(val.val.paperUseType)" ng-change="checked(formData.paperUseType,'paperUseType')">
                            <i></i>{{val.paperUseName}}
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>学科:</td>
                <td>
                    <div class="radio">
                        <label class="i-checks" ng-repeat="(key, val) in category track by $index">
                            <input type="radio" name="subjectCode" ng-value='val.subjectCode' ng-model="formData.subjectCode" ng-click="getBookVersion(val.subjectCode)" ng-change="checked(formData.subjectCode,'subjectCode')">
                            <i></i>{{val.subjectName}}
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>教材:</td>
                <td>
                    <div class="radio">
                        <label class="i-checks" ng-repeat="obj in bookVersion track by $index">
                            <input type="radio" name="bookVersionCode" ng-value="obj.bookVersionCode" ng-model="formData.bookVersionCode" ng-change="checked(formData.bookVersionCode,'bookVersionCode')">
                            <i></i>{{obj.bookVersionName}}
                        </label>
                    </div>
                </td>
            </tr>
        </table>
        <button class="btn m-b-xs w-xs btn-primary pull-right" ng-click="query()">查询</button>
        <div class="row">
            <div class="col-sm-12 shortBoardList" ng-repeat="item in result">
                <div class="list-group">
                    <span class="list-group-cate">{{item.diagnosisPaperName }}
                        <label class="i-checks pull-right isChecked">
                            <input type="hidden" ng-value="item.diagnosisPaperCode " />
                            <input type="radio" name="dddd" ng-value="item">
                            <i></i>选取
                        </label>
                    </span>
                </div>
            </div>
        </div>
        <!-- 指令调用代码-->
        <xl-page size="5" method="query" class="text-center"></xl-page>
        <!--指令模板（pagination.html）-->
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="addShortBoardDiag()">OK</button>
    </div>
</div>